<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#search-field" role="button"
                               aria-expanded="false"
                               aria-controls="search-field">Search</a>
                        </p>
                    </div>
                </div>
                <!-- [end] Head Button Section-->
                <!-- Search Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/trx/list}" method="post" id="searchForm">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" placeholder="Product Name" name="productName"
                                                           class="form-control" id="productName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" placeholder="Reference Code"
                                                           name="trxReferenceCode"
                                                           class="form-control"
                                                           id="trxReferenceCode">
                                                </div>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-warning" id="clearSearchFilter"
                                                            th:data-searchFilter="${searchFilter}"
                                                            th:data-clearUrl="${clearUrl}">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [end] Search Section-->
                <!-- Table content-->
                <div class="row clearfix">

                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12" th:each="item : ${list.content}">
                        <div class="card">
                            <div class="header bg-indigo">
                                <h2>
                                    <th:block th:text="${item.trxReferenceCode}"></th:block>
                                    -
                                    <th:block th:text="${#lists.size(item.salesList)}"></th:block>
                                    item(s)
                                    <small th:text="${'Total : ' + @environment.getProperty('application.currency') + '$ ' + item.totalSalesAmount}">
                                        Description text here...
                                    </small>
                                    <small th:text="${'Purchased Date : ' + item.createDatetime}">Description text
                                        here...
                                    </small>
                                    <small th:text="${'PayPal Reference : ' + item.payId}">Pay Id
                                        here...
                                    </small>
                                </h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <!--<th scope="col">#</th>-->
                                            <th style="width: 30%">Product</th>
                                            <!--<th scope="col">Reference Code</th>-->
                                            <!--<th scope="col">Purchase Date</th>-->
                                            <th style="width: 10%"
                                                th:text="'Price ('+ ${@environment.getProperty('application.currency')} + ')'">
                                                Price (AUD)
                                            </th>
                                            <th style="width: 50%">Remarks</th>
                                            <th style="width: 10%">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="sale : ${item.salesList}">
                                            <!--<td scope="row" th:text="${sale.id}">1</td>-->
                                            <td><a href="#" th:text="${sale.product.name}"></a></td>
                                            <!--<td><a href="#" th:text="${item.trxReferenceCode}"></a></td>-->
                                            <!--<td th:text="${item.createDatetime}"></td>-->
                                            <td th:text="${sale.salesAmount}"></td>
                                            <td th:text="${item.remarks}"></td>
                                            <td th:text="${item.salesStatus.displayName}"></td>
                                            <!--<td>&lt;!&ndash;Enable / Disable Flag&ndash;&gt;</td>-->
                                            <!--<td><a th:href="${editUrl} + '/' + ${item.id}" class="btn btn-primary">Edit <span-->
                                            <!--class="fa fa-linkedin"></span> </a>-->
                                            <!--<a th:href="${editUrl} + '/' + ${item.id}" class="btn btn-primary">Transaction <span-->
                                            <!--class="fa fa-trade-federation"></span> </a>-->
                                            <!--</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="base/pagination"></div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>