<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="utf-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->

    <!--<title>User</title>-->
<!--</head>-->
<body>
<div class="container-fluid">
    <div th:replace="base/header"></div>

    <form th:action="${submitUrl}" th:object="${grantProductForm}" method="post">

        <p class="error-message"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>


        <div class="card">
            <div class="card-body">
                Grant product to <span class="badge badge-info" th:text="${user.email}"></span>
            </div>
        </div>


        <input id="userId"
               type="hidden"
               class="form-control"
               th:field="*{userId}"/>

        <div class="form-group"
             th:classappend="${#fields.hasErrors('productId')}? 'has-error':''">
            <label for="productId" class="control-label">Product</label>
            <select id="productId" class="custom-select" multiple data-live-search="true" th:field="*{productId}">
                <option  th:each="item : ${productList}"
                        th:field="*{productId}"
                        th:value="${item.id}"
                        th:text="${item.name}">Part name</option>
            </select>

            <p class="error-message"
               th:each="error : ${#fields.errors('productId')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>

    <div th:include="base/footer"></div>

</div>


</body>
</html>