<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<meta charset="UTF-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

<!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.5.0/css/fontawesome.min.css}"/>-->
<!--<title th:text="${appName}"></title>-->
<body class="theme-indigo">
<th:block th:fragment="header">
    <!-- Page Loader -->
    <div class="page-loader-wrapper page-loader-wrapper-opacity">
        <!--<div class="loader">-->
        <!--<div class="preloader">-->
        <!--<div class="spinner-layer pl-red">-->
        <!--<div class="circle-clipper left">-->
        <!--<div class="circle"></div>-->
        <!--</div>-->
        <!--<div class="circle-clipper right">-->
        <!--<div class="circle"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<p>Please wait...</p>-->
        <!--</div>-->
    </div>
    <div class="page-loader-wrapper page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
                   data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" th:href="@{/}">The Millennium Method</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img th:src="@{/images/default-icon.jpg}" alt="User" width="48"
                         height="48">
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${userDetail.firstName +' '+  userDetail.lastName}">John Doe</div>
                    <div class="email" th:text="${userDetail.email}">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li role="separator" class="divider"></li>
                            <!--<li><a class=" waves-effect waves-block" id="resendVerification"><i class="material-icons">input</i>Resend Verification</a></li>-->
                            <li><a th:href="@{/logout}" class=" waves-effect waves-block"><i class="material-icons">input</i>Sign
                                Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li
                            th:classappend="${navKey == 'navHome'} ? active : null"
                            class="navBtn"
                            th:data-url="'/'"
                            data-navname="navHome">
                        <a th:href="@{/}"
                           class="toggled waves-effect waves-block">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li
                            th:if="${userDetail.status == 1}"
                            id="resendVerification"
                            data-navname="navHome">
                        <a href="#"
                           class="toggled waves-effect waves-block">
                            <i class="material-icons">home</i>
                            <span>Resend Verification</span>
                        </a>
                    </li>
                    <li
                        th:classappend="${navKey == 'navUserProfile'} ? active : null"
                        class="navBtn"
                        th:data-url="'/user/profile'"
                        data-navname="navUserProfile">
                        <a href="#"
                           class=" waves-effect waves-block">
                            <i class="material-icons">account_circle</i>
                            <span>User Profile</span>
                        </a>
                    </li>
                    <li
                        th:classappend="${navKey == 'navUpdatePassword'} ? active : null"
                        class="navBtn"
                        th:data-url="'/user/updatePassword'"
                        data-navname="navUpdatePassword">
                        <a href="#"
                           class=" waves-effect waves-block">
                            <i class="material-icons">account_circle</i>
                            <span>Update Password</span>
                        </a>
                    </li>
                    <li
                            th:classappend="${navKey == 'navPurchasedRecord'} ? active : null"
                            class="navBtn"
                            th:data-url="'/purchase/user/list'"
                            data-navname="navPurchasedRecord">
                        <a href="#"
                           class=" waves-effect waves-block">
                            <i class="material-icons">list</i>
                            <span>Purchased Item</span>
                        </a>
                    </li>
                    <li
                        th:classappend="${navKey == 'navTrx'} ? active : null"
                        class="navBtn"
                        th:data-url="'/trx/list'"
                        data-navname="navTrx">
                        <a href="#"
                           class=" waves-effect waves-block">
                            <i class="material-icons">list</i>
                            <span>Transaction Record</span>
                        </a>
                    </li>
                    <li
                        th:classappend="${navKey == 'navProduct'} ? active : null"
                        th:data-url="'/product/list'"
                        class="navBtn"
                        data-navname="navProduct">
                        <a href="#"
                           class=" waves-effect waves-block">
                            <i class="material-icons">list</i>
                            <span>Product</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    © 2018 - 2019 <a href="javascript:void(0);">The Millennium Method</a>.
                </div>
                <div class="version">
                    <b>Version: </b> <th:block th:text="${version}"></th:block>
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <div class="slimScrollDiv"
                         style="position: relative; overflow: hidden; width: auto; height: 417px;">
                        <ul class="demo-choose-skin" style="overflow: hidden; width: auto; height: 417px;">
                            <li data-theme="red" class="active">
                                <div class="red"></div>
                                <span>Red</span>
                            </li>
                            <li data-theme="pink">
                                <div class="pink"></div>
                                <span>Pink</span>
                            </li>
                            <li data-theme="purple">
                                <div class="purple"></div>
                                <span>Purple</span>
                            </li>
                            <li data-theme="deep-purple">
                                <div class="deep-purple"></div>
                                <span>Deep Purple</span>
                            </li>
                            <li data-theme="indigo">
                                <div class="indigo"></div>
                                <span>Indigo</span>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                                <span>Blue</span>
                            </li>
                            <li data-theme="light-blue">
                                <div class="light-blue"></div>
                                <span>Light Blue</span>
                            </li>
                            <li data-theme="cyan">
                                <div class="cyan"></div>
                                <span>Cyan</span>
                            </li>
                            <li data-theme="teal">
                                <div class="teal"></div>
                                <span>Teal</span>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                                <span>Green</span>
                            </li>
                            <li data-theme="light-green">
                                <div class="light-green"></div>
                                <span>Light Green</span>
                            </li>
                            <li data-theme="lime">
                                <div class="lime"></div>
                                <span>Lime</span>
                            </li>
                            <li data-theme="yellow">
                                <div class="yellow"></div>
                                <span>Yellow</span>
                            </li>
                            <li data-theme="amber">
                                <div class="amber"></div>
                                <span>Amber</span>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                                <span>Orange</span>
                            </li>
                            <li data-theme="deep-orange">
                                <div class="deep-orange"></div>
                                <span>Deep Orange</span>
                            </li>
                            <li data-theme="brown">
                                <div class="brown"></div>
                                <span>Brown</span>
                            </li>
                            <li data-theme="grey">
                                <div class="grey"></div>
                                <span>Grey</span>
                            </li>
                            <li data-theme="blue-grey">
                                <div class="blue-grey"></div>
                                <span>Blue Grey</span>
                            </li>
                            <li data-theme="black">
                                <div class="black"></div>
                                <span>Black</span>
                            </li>
                        </ul>
                        <div class="slimScrollBar"
                             style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px; height: 196.485px;"></div>
                        <div class="slimScrollRail"
                             style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="slimScrollDiv"
                         style="position: relative; overflow: hidden; width: auto; height: 417px;">
                        <div class="demo-settings" style="overflow: hidden; width: auto; height: 417px;">
                            <p>GENERAL SETTINGS</p>
                            <ul class="setting-list">
                                <li>
                                    <span>Report Panel Usage</span>
                                    <div class="switch">
                                        <label><input type="checkbox" checked="checked"><span
                                                class="lever"></span></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Email Redirect</span>
                                    <div class="switch">
                                        <label><input type="checkbox"><span class="lever"></span></label>
                                    </div>
                                </li>
                            </ul>
                            <p>SYSTEM SETTINGS</p>
                            <ul class="setting-list">
                                <li>
                                    <span>Notifications</span>
                                    <div class="switch">
                                        <label><input type="checkbox" checked="checked"><span
                                                class="lever"></span></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Auto Updates</span>
                                    <div class="switch">
                                        <label><input type="checkbox" checked="checked"><span
                                                class="lever"></span></label>
                                    </div>
                                </li>
                            </ul>
                            <p>ACCOUNT SETTINGS</p>
                            <ul class="setting-list">
                                <li>
                                    <span>Offline</span>
                                    <div class="switch">
                                        <label><input type="checkbox"><span class="lever"></span></label>
                                    </div>
                                </li>
                                <li>
                                    <span>Location Permission</span>
                                    <div class="switch">
                                        <label><input type="checkbox" checked="checked"><span
                                                class="lever"></span></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slimScrollBar"
                             style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div>
                        <div class="slimScrollRail"
                             style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                        vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                        Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                        nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                        Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>-->
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ## Page Header ## -->

    <!--<section class="content-header content">-->
        <!--<div class="container-fluid">-->

            <!--<div th:if="${systemMessage != null}">-->
                <!--&lt;!&ndash;<h1>System Message</h1>&ndash;&gt;-->
                <!--<div th:class="${'alert alert-' + systemMessage.type.className}" th:text="${systemMessage.msg}">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="block-header">-->
                <!--<h2 th:text="${pageHeader}">DASHBOARD</h2>-->
            <!--</div>-->
            <!--<div class="row" th:if="${breadcrumb != null}">-->
                <!--<div class="col">-->
                    <!--<nav aria-label="breadcrumb">-->
                        <!--<ol class="breadcrumb">-->
                            <!--<th:block th:each="item : ${breadcrumb.breadcrumbList}">-->
                                <!--<li th:if="${item.currentPage}"-->
                                    <!--class="active" aria-current="page" th:text="${item.displayName}">-->
                                <!--</li>-->
                                <!--<li th:if="${!item.currentPage}">-->
                                    <!--<a th:if="${item.url != null}" th:href="${item.url}"-->
                                       <!--th:text="${item.displayName}"></a>-->
                                <!--</li>-->
                            <!--</th:block>-->


                            <!--&lt;!&ndash;<li th:each="item : ${breadcrumb.breadcrumbList}"&ndash;&gt;-->
                            <!--&lt;!&ndash;class="breadcrumb-item"&ndash;&gt;-->
                            <!--&lt;!&ndash;th:classappend="${item.currentPage} ? active : null"&ndash;&gt;-->
                            <!--&lt;!&ndash;th:attrappend="data-path=${item.currentPage} ? 'page' : null"&ndash;&gt;-->
                            <!--&lt;!&ndash;th:text="${item.url == null} ? ${item.displayName}">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a th:if="${item.url != null}" th:href="${item.url}" th:text="${item.displayName}"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="breadcrumb-item"><a href="#">Home</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="breadcrumb-item active" aria-current="page">Library</li>&ndash;&gt;-->
                        <!--</ol>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
</th:block>
</body>
</html>