<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--<meta charset="utf-8"/>-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

<!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->

<!--<title>User</title>-->
<!--</head>-->
<body>
<div class="container-fluid">
    <div th:replace="base/header"></div>
</div>
<div>
    <ul>
        <li th:each="item : ${list}" th:text="${item.content}"></li>
    </ul>
</div>
<div th:include="base/footer"></div>
</body>
</html>