<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title th:text="${appName}"></title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.css}" rel="stylesheet">

    <!-- Custom Css -->
    <link th:href="@{/webjars/AdminBSBMaterialDesign/1.0.5/css/style.css}" rel="stylesheet">

    <link th:href="@{/css/animatedIcon.css}" rel="stylesheet">
</head>

<body class="five-zero-zero">
<div class="five-zero-zero-container">
    <div class="error-code" th:if="${systemMessage.type.className == 'success'}">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                    cy="65.1" r="62.1"></circle>
            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                      stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
    </div>
    <div class="error-code" th:if="${systemMessage.type.className == 'danger'}">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                    cy="65.1" r="62.1"/>
            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                  stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"></line>
            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                  stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
        </svg>
    </div>
    <div class="error-message" th:text="${systemMessage.msg}">Payment Cancelled</div>
    <div class="button-place">
        <a th:href="@{/}" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
    </div>
</div>

<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery/jquery.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.js}"></script>

</body>

</html>