<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="utf-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->

    <!--<title>User</title>-->
<!--</head>-->
<body>
<div class="container-fluid">
    <div th:replace="base/header"></div>

    <form th:action="@{/user/add}" th:object="${userForm}" method="post">

        <p class="error-message"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>

        <div class="form-group"
             th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
            <label for="firstName" class="control-label">First name</label>
            <input id="firstName"
                   class="form-control"
                   th:field="*{firstName}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
            <label for="lastName" class="control-label">Last name</label>
            <input id="lastName"
                   class="form-control"
                   th:field="*{lastName}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
            <label for="email" class="control-label">E-mail</label>
            <input id="email"
                   class="form-control"
                   th:field="*{email}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
            <label for="password" class="control-label">Password</label>
            <input id="password"
                   class="form-control"
                   type="password"
                   th:field="*{password}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('roles')}? 'has-error':''">
            <label for="roles" class="control-label">Roles</label>
            <select id="roles" class="custom-select" multiple data-live-search="true" th:field="*{roles}">
                <option  th:each="item : ${roleList}"
                        th:field="*{roles}"
                        th:value="${item.name}"
                        th:text="${item.name}">Part name</option>
            </select>

            <p class="error-message"
               th:each="error : ${#fields.errors('roles')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>

    <div th:include="base/footer"></div>

</div>


</body>
</html>