<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container-fluid">
    <div th:replace="base/header"></div>
    <form th:action="@{/user/edit}" th:object="${userEditForm}" method="post">

        <p class="error-message"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>

        <input id="id"
               th:type="hidden"
               class="form-control"
               th:name="id"
               th:field="*{id}"/>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
            <label for="firstName" class="control-label">First name</label>
            <input id="firstName"
                   th:name="firstName"
                   class="form-control"
                   th:field="*{firstName}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
            <label for="lastName" class="control-label">Last name</label>
            <input id="lastName"
                   th:name="lastName"
                   class="form-control"
                   th:field="*{lastName}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
            <label for="email" class="control-label">E-mail</label>
            <input id="email"
                   th:name="email"
                   class="form-control"
                   th:field="*{email}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('roles')}? 'has-error':''">
            <label for="roles" class="control-label">Roles</label>
            <select id="roles"
                    th:name="roles"
                    class="custom-select"
                    multiple data-live-search="true">
                <option th:each="instance : ${userRoleMap}" th:text="${instance.key}" th:selected="${instance.value}"></option>
            </select>

            <p class="error-message"
               th:each="error : ${#fields.errors('roles')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>

    <div th:replace="base/footer"></div>

</div>


</body>
</html>