<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div class="container-fluid">
    <div th:replace="base/header"></div>
    <div class="row">
        <div class="col">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#search-field" role="button"
                   aria-expanded="false"
                   aria-controls="search-field">Search</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col collapse" id="search-field">
            <form th:action="@{/user/list}" method="post" id="searchForm">
                <fieldset>
                    <legend>Search Filter</legend>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="firstName" class="form-control" id="firstName">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select id="roles" class="custom-select" data-live-search="true" name="roleId">
                            <option value=""></option>
                            <option  th:each="item : ${roleList}"
                                     th:value="${item.id}"
                                     th:text="${item.name}">Part name</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <!--<button type="reset" class="btn btn-warning">Reset</button>-->

                    <button class="btn btn-warning" id="clearSearchFilter"
                            th:data-searchFilter="${searchFilter}"
                            th:data-clearUrl="${clearUrl}">
                        Clear
                    </button>
                </fieldset>
            </form>

        </div>
    </div>
    <p>
    <div class="row">
        <div class="col">
            <a th:href="${addUrl}">
                <button type="button" class="btn btn-primary">Add User</button>
            </a>
        </div>
    </div>
    </p>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${list.content}">
                    <td scope="row" th:text="${item.id}">1</td>
                    <td><a href="#" th:text="${item.firstName}"></a></td>
                    <td th:text="${item.lastName}"></td>
                    <td th:text="${item.email}"></td>
                    <td>
                        <span class="badge badge-info" th:each="role: ${item.roles}" th:text="${role.name}"></span>
                    </td>
                    <td><a th:href="${editUrl} + '/' + ${item.id}" class="btn btn-primary">Edit <span
                            class="fa fa-linkedin"></span> </a>
                        <!--<a th:href="${userTrxUrl} + '/' + ${item.id} + '/list'" class="btn btn-primary">Transaction <span-->
                                <!--class="fa fa-trade-federation"></span> </a>-->
                        <a th:href="${userPurchaseUrl} + '/' + ${item.id} + '/list'" class="btn btn-primary">Purchase Record <span
                                class="fa fa-trade-federation"></span> </a>

                        <a th:href="${userGrantUrl} + '/' + ${item.id}" class="btn btn-primary">Grant Product <span
                                class="fa fa-trade-federation"></span> </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:if="${list.pageMeta.totalPages > 1}" aria-label="Page navigation example">
        <ul class="pagination">
            <li th:if="${list.pageMeta.linksMap['prev'] != null}" class="page-item">
                <a class="page-link" th:href="${list.pageMeta.linksMap['prev'].href}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="i,iter: ${#numbers.sequence(1, list.pageMeta.totalPages)}">
                <a class="page-link" th:href="${list.pageMeta.pageLinksMap[iter.index].href}"
                   th:text="${iter.index}"></a>
            </li>

            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <li th:if="${list.pageMeta.linksMap['next'] != null}" class="page-item">
                <a class="page-link" th:href="${list.pageMeta.linksMap['next'].href }" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>


</div>

<div th:replace="base/footer"></div>
</body>
</html>