<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}"></h2>
                            </div>
                            <div class="body">

                                <form th:action="@{/user/profile/submit}" th:object="${userProfile}" method="post">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">

                                            <div th:if="${#fields.hasGlobalErrors()}">
                                                <div class="alert alert-danger"
                                                     th:each="error : ${#fields.errors('global')}"
                                                     th:text="${error}">
                                                </div>
                                            </div>

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="firstName" class="control-label">First Name</label>
                                                    <input id="firstName"
                                                           th:name="firstName"
                                                           class="form-control"
                                                           th:field="*{firstName}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error: ${#fields.errors('firstName')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="lastName" class="control-label">Last Name</label>
                                                    <input id="lastName"
                                                           th:name="lastName"
                                                           class="form-control"
                                                           th:field="*{lastName}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('lastName')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="email" class="control-label">E-mail</label>
                                                    <input id="email"
                                                           th:name="email"
                                                           class="form-control"
                                                           th:field="*{email}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('email')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                                                <div class="form-line">

                                                    <label for="confirmEmail" class="control-label">Confirm
                                                        E-mail</label>
                                                    <input id="confirmEmail"
                                                           th:name="confirmEmail"
                                                           class="form-control"
                                                           th:field="*{confirmEmail}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('confirmEmail')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="row clear fix">
                                                    <div class="col-md-2">
                                                        <button type="submit"
                                                                class="btn waves-effect btn-block bg-green submitBtn">
                                                            Submit
                                                        </button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn waves-effect btn-block bg-red"
                                                                onclick="window.history.back()">Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<div th:replace="base/footer"></div>
</body>
</html>