<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}"></h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/user/updatePassword/submit}" th:object="${userUpdatePassword}"
                                      method="post">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">

                                            <div th:if="${#fields.hasGlobalErrors()}">
                                                <div class="alert alert-danger"
                                                     th:each="error : ${#fields.errors('global')}"
                                                     th:text="${error}">
                                                </div>
                                            </div>

                                            <label class="error"
                                                   th:if="${#fields.hasGlobalErrors()}"
                                                   th:each="error : ${#fields.errors('global')}"
                                                   th:text="${error}">Validation error</label>

                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="password" class="control-label">Password</label>
                                                    <input id="password"
                                                           class="form-control"
                                                           type="password"
                                                           th:field="*{password}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('password')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>
                                            <div class="form-group"
                                                 th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                                <div class="form-line">
                                                    <label for="confirmPassword" class="control-label">Confirm
                                                        password</label>
                                                    <input id="confirmPassword"
                                                           class="form-control"
                                                           type="password"
                                                           th:field="*{confirmPassword}"/>
                                                </div>
                                                <label class="error"
                                                       th:each="error : ${#fields.errors('confirmPassword')}"
                                                       th:text="${error}">Validation error</label>
                                            </div>

                                            <div class="form-group">
                                                <div class="row clear fix">
                                                    <div class="col-md-2">
                                                        <button type="submit"
                                                                class="btn waves-effect btn-block bg-green submitBtn">
                                                            Submit
                                                        </button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="reset" class="btn waves-effect btn-block bg-red"
                                                                onclick="window.history.back()">Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<div th:replace="base/footer"></div>
</body>
</html>