<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <th:block th:text="${product.name}"></th:block>
                                    <small th:text="${product.description}"></small>
                                </h2>
                            </div>
                            <div class="body">
                                <div class="row clear fix" th:if="${errorMsg != null}">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" role="alert" th:text="${errorMsg}">
                                            A simple danger alert—check it out!
                                        </div>
                                    </div>
                                </div>
                                <div class="row clear fix" th:if="${errorMsg == null}">
                                    <div class="col-md-12">
                                        <th:block th:if="${discountPrice == null}">
                                            <h6><strong th:text="${@environment.getProperty('application.currency') + '$ ' + product.price}">25.00</strong></h6>
                                        </th:block>
                                        <th:block th:if="${discountPrice != null}">
                                            <h6><strong th:text="${@environment.getProperty('application.currency') + '$ ' + discountPrice}">25.00</strong> <span
                                                    th:text="${'(' + @environment.getProperty('application.currency') + ' $ ' + product.price + ')'}"></span></h6>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="row clear fix" th:if="${errorMsg == null}">
                                    <div class="col-md-12">
                                        <h4 class="text-right" th:if="${discountPrice != null}">Total <strong
                                                th:text="${ @environment.getProperty('application.currency') + '$ ' + discountPrice}">AUD $50.00</strong></h4>
                                        <h4 class="text-right" th:if="${discountPrice == null}">Total <strong
                                                th:text="${ @environment.getProperty('application.currency') +  '$ ' + product.price}">AUD $50.00</strong></h4>
                                    </div>
                                </div>
                                <div class="row clear fix" th:if="${errorMsg == null}">
                                    <div class="col-md-3">
                                        <form method="post" action="/checkout" id="purchase-checkout-form">
                                            <button type="submit" id="purchase-checkout"  class="btn btn-success" data-identifier="checkout">
                                                Purchase
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-3">
<!--                                        <a data-url="/product/list" href="#">-->
<!--                                            <button type="button" class="btn bg-pink urlBtn">-->
<!--                                                Cancel Checkout-->
<!--                                            </button>-->
<!--                                        </a>-->
                                        <a href="#" data-url="/product/list"
                                           class="btn btn-danger urlBtn">Cancel Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>