<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Forward</td>
	</tr>
</table>

<br clear="all" />


<!-- START CONTENT -->
<div id="content">

	<!--<h1>Forward</h1>-->
	<!--<p><strong>I</strong>t has been said that to make a piper takes seven years.  In the 1700 and 1800's this was true.  A pupil was placed with a master piper for several years, where they would learn all facets of pipe music and performance, they would become expert in making reeds and stitching bags, some would even tForwardurn their own bagpipe.  When their seven year apprenticeship was up, they would normally take up a position as a Clan piper or as a piper to a prominent person or family within the community and then often take on their own apprentice piper.</p>-->
	<!--<p><strong>M</strong>any people, including myself, believe that to make a good piper takes a lifetime, as one should never reject the opportunity to continue to learn new tunes, adapt to different playing styles and continue to perfect ones piping skills.  But, as we know, this is not the 1800's and life today is very different to that of centuries ago.</p>-->
	<!--<p><strong>D</strong>evelopment in instrument manufacture, the accessibility to purchase reeds and bags as opposed to making them makes playing and learning the Great Highland Bagpipe in this millennium a much more attractive prospect.  Access to the internet along with other readily available reference material makes knowledge gathering and tuition much easier than it was for our piping forefathers.  In today's fast paced world of career demands, family responsibilities and other social commitments, there are not too many people who have the time to spend several years learning the bagpipes basics.  As with most things in modern life the <em>"we want it yesterday"</em> adage has certainly taken its toll on the lack of people who decide to learn a traditional instrument.  This tutor book, if followed correctly, using the embedded video files and with regular lessons with a qualified and capable tutor either face to face or via internet (with SKYPE or the like) should see most students playing their first tune within 6 weeks and ready for bagpipes in approximately eight months.  These suggested time frames are achievable for those who are prepared to practice regularly.</p>-->
	<!--<p><strong>Y</strong>ou should endeavor to practice every day for at least 30 minutes.  This can be done in either one complete session or over several shorter ones.  The main objective you are trying to achieve is to be able to pick up your practice chanter and play the exercise you are working on demand.  You are trying to learn to control your fingers and feet not have your fingers control you.</p>-->
	<!--<p><strong>T</strong>his tutor has not been produced to be <em>"the final word"</em> in learning the Great Highland Bagpipe.  It is however, intended to give you access to the methods that I have been exposed to or have developed over three decades from constantly being involved in teaching and observing others teach.</p>-->
	<!--<p><strong>T</strong>here are methods within this tutor that I believe may help to fast track the required technique as well as your comprehension of musical theory.  For the learner piper it will also be a reference in trying to find answers to questions that often are not presented in a clear-cut or understandable method in some tutor books.  I believe the major difference between this tutor book and many others, is that at all times you are encouraged to play every exercise, embellishment and tune in time.  You are required to use both feet to keep time which is clearly marked using left&nbsp;<img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />&nbsp;and right&nbsp;<img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" />&nbsp;feet symbols.  The pulses that create the rhythm patterns within the tunes are also clearly marked with an <strong>&</strong> (for simple time) or <strong>& e</strong> (for compound time).  These pulses are also known as off or up beats.  This method means you should develop a good sense of rhythm and without too much extra effort assists to teach you to march in time whilst playing.  This may eliminate one of the biggest hurdles that most pipers face when progressing to the bagpipes or first joining a band.</p>-->
	<!--<p><strong>T</strong>hroughout my playing career I have been fortunate in having been exposed to some great tutors and I have received lessons from some very notable experts.  I have attended hundreds of tutorials and lectures, played in some great pipe bands and have had the opportunity to watch and learn from some of the world's top Pipe Majors in action either at band practice or at the competition arena.  I dedicate this tutor CD to my previous tutors and Pipe Major's who have all had a profound impact on my playing, my personal piping standards and awakened the desire for me to introduce more people to the music of the GHB.  They are Police Inspector Rod Parker (Retired), Don McLeish, Duncan Johnstone and Pipe Major R.T.Shepherd.</p>-->
	<!--<p><strong>I</strong> must however take this opportunity to warn you before you embark on your musical journey of learning the Great Highland Bagpipe that whilst you currently have an interest in this fascinating and noble instrument, that interest can quickly turn into a thirst for further knowledge and the instruments much detailed musical deeds as written in the history books.  For some pipers that interest turns into a passion and that passion can become addictive and that addiction can turn into an obsession.</p>-->
	<!--<p><strong><em>So I wish you well on embarking on this great musical learning experience.</em></strong></p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><img th:src="'/themethod/' + ${language} + '/resources/images/signature.jpg'" /></p>-->
	<div th:utext="${pageResources.get('forward_1')}"></div>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'welcome.html'">Welcome</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

</body>
</html>