<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 10 - The Blue Bells of Scotland Part 2</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 10 - The Blue Bells of Scotland Part 2</h1>

	<!--<p><strong>T</strong>he first part of <strong>The Blue Bells of Scotland</strong> was relatively simple to follow, with the exception of two notes all of the notes in the first part were only one note apart.</p>-->
	<!--<p><strong>I</strong>n the second part of <strong>The Blue Bells of Scotland</strong> you will find that many notes are separated by more than two notes.  </p>-->
	<!--<p><strong>T</strong>he <strong><em>Skip Notes</em></strong> exercise we have just completed in Session #9 and the scale exercises from Session #3 will have assisted to ensure that you are now capable of changing to and from a variety of notes.</p>-->
	<!--<p><strong>B</strong>efore we attempt the second part of <strong>The Bluebells of Scotland</strong> practice this exercise in CROTCHET (1/4 note) Duration.</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>ith the exception of the placement of a couple of <em>gracenotes</em> there is nothing in the second line of this tune which you have not already covered and practiced so far in this tutor CD.  Line two of the second part is, note for note exactly the same as the first part which you can already play and march to. </p>-->
	<!--<p><strong>B</strong>ar 1 of the first part on the second time through is an incomplete bar.  It only has three CROTCHETS (1/4 Note's) instead of four.  The fourth beat starts on the second part with two QUAVER (1/8 note's), an <strong>E</strong> with a <em>High G gracenote</em> on it and a <strong>D</strong> QUAVER (1/8 Note).  These two QUAVER'S (1/8 note) prior to the start of the bar are known as the anacrusis.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 1 starts with a <em>High G gracenote</em> on a <strong>C</strong> CROTCHET (1/4 note).  The second beat is an <strong>E</strong> gracenote to a <strong>Low A</strong> CROTCHET (1/4 note).  Beat three is another <em>High G gracenote</em> to a <strong>C</strong> CROTCHET (1/4 note) and beat four is a plain <strong>E</strong> CROTCHET (1/4 note).</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 commences with two <strong>HIGH A</strong> CROTCHET (1/4 Note's) which equal the duration of a MINIM (1/2 note).  Beat three is an <strong>F</strong> CROTCHET (1/4 note)  followed by two QUAVER'S (1/8 note's) a <strong>High G</strong> and a <strong>High A</strong>.  The timing in this bar is exactly the same as bar two in part one.  The only difference is in part two there are two CROTCHET'S (1/4 note's) <strong>High A</strong> notes, in part one bar two the first two CROTCHET'S (1/4 note's) were <strong>E</strong> notes.  </p>-->
	<!--<p><strong>B</strong>ar 2 of part one:</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.4.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 10.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.4.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two of part two.  Bars 1 & 2.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 is exactly out of the skip note exercise that we have already covered in CROTCHET (1/4 note) duration.  A <strong>High G</strong> CROTCHET (1/4 note) down to an <strong>E</strong> CROTCHET (1/4 Note) with a <em>High G gracenote</em> up to a CROTCHET (1/4 note) <strong>F</strong> and than down to a CROTCHET (1/4 note) <strong>D</strong>.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 commences with a <em>High G gracenote</em> on a <strong>E</strong> CROTCHET (1/4 note) which is <em>tied</em> to another <strong>E</strong> CROTCHET (1/4 note) which means it is the same in duration as a MINIM (1/2 Note).  Beat three is a <em>High G gracenote</em> to an <strong>F</strong> CROTCHET (1/4 note) and the final beat is a <strong>High G</strong> CROTCHET (1/4 note).</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two of part two.  Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.8.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete second part of <strong>The Blue Bells of Scotland</strong>.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 10.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/10/10.9.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he whole tune of <strong>The Blue Bells of Scotland</strong> is printed on the next page.  Diligently practice the above exercises and ensure that you tap your feet left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> while you practice.</p>-->
	<!--<p><strong>T</strong>ry playing the whole tune from start to finish; tapping your feet as we have taken out the feet markers. </p>-->
	<!--<p><strong>O</strong>nce you feel confident with the tune rise to your feet and try marching and playing <strong>The Blue Bells of Scotland</strong>.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><strong>Tune #1:</strong></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l10tbbos/10.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/bluebells/bluebells.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>




</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l9sn.html'">Skip Notes</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l11fj.html'">Frere Jacques</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
