<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 11 - Tune #2 - Frere Jacques</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 11 - Tune #2 - Frere Jacques</h1>

	<!--<p><strong>T</strong>his tune is in 2/4 time. There are two CROTCHETS (1/4 Note's) in each Bar.</p>-->
	<!--<p><strong>T</strong>here are no new movements or note changes that you have not already covered previously.  The largest differences between this and the <strong>Bluebells of Scotland</strong> are that most of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats, one CROTCHET (1/4 Note) in duration are mainly made up of QUAVER'S (1/8 Note's) in this tune.  Which means there are two QUAVER (1/8 note's) for most <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   On every <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note of the tune there is a <em>High G gracenote</em>.  There is also one group of 4 SEMI QUAVER'S (1/16 Note's), which requires you to play four notes in the space of one CROTCHET (1/4 Note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  </p>-->
	<!--<p><strong>Bar</strong> 1 of <strong>Frere Jacques</strong>.  Bar 2 is exactly the same as Bar 1.</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 11.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/11.1/11.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Bar</strong> 3 of <strong>Frere Jacques</strong>.  Bar 4 is exactly the same as Bar 3.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 11.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/11.2/11.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first two phrases of the first line of <strong>Frere Jacques</strong>.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 11.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/11.3/11.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Bar</strong> 5 of <strong>Frere Jacques</strong>.  Bar 6 is exactly the same as Bar 5.  This bar has a group of four SEMI QUAVER'S (1/16 Note's). </p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 11.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/11.4/11.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Bar</strong> 7 of <strong>Frere Jacques</strong>.  Bar 8 is exactly the same as Bar 7.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 11.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/11.5/11.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he third and fourth phrases of the second line of <strong>Frere Jacques</strong>. </p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 11.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/11.6/11.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete written score of <strong>Frere Jacques</strong> follows.  Diligently practice the tune and ensure that you tap your feet while you practice. </p>-->
	<!--<p><strong>T</strong>ry playing the whole tune from start to finish.  </p>-->
	<!--<p><strong><u>Note</u></strong>:  We have taken out the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse markers.</p>-->
	<!--<p><strong>O</strong>nce you feel confident with the tune rise to your feet and try marching and playing <strong>Frere Jacques</strong>.  </p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l11fj/11.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/frerejacques/frerejacques.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>




</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l10tbbos.html'">The Blue Bells of Scotland Pt2</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l12thaotg.html'">The High A or Thumb Gracenote</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
