<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 12 - The High A or Thumb Gracenote</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 12 - The High A or Thumb Gracenote</h1>

	<!--<p><strong>W</strong>e briefly covered this <em>gracenote</em> in section four where we learnt to play it to and from <strong>High G</strong>.  This is a <em>gracenote</em> that you will need to perfect as it's not only used in coming to or from a <strong>High G</strong> note but it can also be played coming from any note to <strong>High G</strong> or from <strong>High G</strong> to any note.  It is also used in the method this book teaches in playing a <em>High A Doubling</em>.  This movement is used in the next tune we will learn.  The best way to explain this movement is that as your <strong>High G</strong> finger is coming down toward the new note, your thumb is going off (like a hinge action).  The moment your <strong>High G</strong> note finger comes in contact with the chanter your thumb goes back on.</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/thumbgrace/thumbgrace.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p><u>Exercise 12.1</u></p>
	<!--<p><strong>F</strong>rom a <strong>High G</strong> note using the <em>High A (thumb) gracenote</em> to each note in the scale in CROTCHET (1/4 note) Duration.  The <em>High A (Thumb) gracenote</em> is played on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l12thaotg/12.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/12.1/12.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p><u>Exercise 12.2</u></p>
	<!--<p><strong>F</strong>rom a <strong>High G</strong> note using the <em>High A (thumb) gracenote</em> to each note in the scale in QUAVER (1/8 note) Duration.  The <em>High A (Thumb) gracenote</em> is played on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l12thaotg/12.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/12.2/12.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p><u>Exercise 12.3</u></p>
	<!--<p><strong>F</strong>rom each note in the scale to a <strong>High G</strong> note using the <em>High A (thumb) gracenote</em> in CROTCHET (1/4 note) Duration.  The <em>High A (Thumb) gracenote</em> is played on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l12thaotg/12.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/12.3/12.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p><u>Exercise 12.4</u></p>
	<!--<p><strong>F</strong>rom each note in the scale to a <strong>High G</strong> note using the <em>High A (thumb) gracenote</em> in QUAVER (1/8 note) Duration.  The <em>High A (Thumb) gracenote</em> is played on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l12thaotg/12.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/12.4/12.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>



</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l11fj.html'">Frere Jacques</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l13d.html'">Doublings</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
