<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 13 - Doublings</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 13 - Doublings</h1>

	<!--<p><strong>I</strong>n Session #6 we covered <em>Timing Exercises</em> and part of that section was <em>Simple Time</em>.  This exercise consisted of playing a <em>High G gracenote</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and a <em>D gracenote</em> placed on the '<strong>&</strong>' pulse.</p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong><u>Revision of Simple Time Exercise:</u></strong></p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.1.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he <em>Simple Time</em> exercise is exactly the same grace noting pattern we will use in sounding the <em>Low G, Low A, B</em> and <em>C doublings</em>.  We will commence learning each embellishment in this fashion so you are accustomed to the fingering technique required for each <em>doubling</em>.</p>-->
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing a <em>Low G doubling</em> is that the <em>second gracenote</em>, the <em>D gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  The <em>Low G, Low A, B</em> and <em>C doublings</em> all consist of the exact same two <em>gracenotes</em>, a <em>High G</em> and <em>D gracenote</em>.  For a <em>Low G doubling</em> the theme note <strong>Low G</strong> being played in between the <em>High G</em> and <em>D gracenote</em> is shorter than when you play in <em>Simple Time</em>.</p>-->
	<!--<p><strong>D</strong>o not make the <em>High G</em> and <em>D gracenotes</em> too big.  You want to clearly hear the theme note <strong>Low G</strong> between the <em>High G</em> and <em>D gracenotes</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<div th:utext="${pageResources.get('intro2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.1.png'"  class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l255.jpg'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>Low G doubling</em> consists of a <em>High G</em> and <em>D gracenote</em> on <strong>Low G</strong>.  Practice playing the movment on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.2.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>Low G doubling</em> from <strong>High G</strong> to <strong>Low G</strong> your <strong>High G</strong> finger is already off the chanter.  You cannot play the <em>High G gracenote</em> that comences the <em>Low G doubling</em>.  Replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a <em>Low G doubling</em> from <strong>High A</strong> to <strong>Low G</strong> your <strong>High G</strong> finger and <strong>High A</strong> (thumb) are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally commence a <em>Low G doubling</em>.  Do not play a commencing gracenote.  You actually play the <strong>Low G</strong> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>D gracenote</em>.  This is known as a <em>1/2 Low G doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.3.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l259.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the gracenoting technqiue used in a <em>Low A doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.4.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the Simple Time exercise and playing a <em>Low A doubling</em> is that the <em>second gracenote</em>, the <em>D gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  The <em>Low G, Low A, B</em> and <em>C doublings</em> all consist of the exact same two <em>gracenotes</em>, a <em>High G</em> and <em>D</em>.  For a <em>Low A doubling</em> the theme note <strong>Low A</strong> being played in between the <em>High G and D gracenote</em> is shorter than when you play in <em>Simple Time</em>.</p>-->
	<!--<p><strong>D</strong>o not make the <em>High G</em> and <em>D gracenotes</em> too big.  You want to clearly hear the theme note <strong>Low A</strong> between the <em>High G</em> and <em>D gracenotes</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>P</strong>ractice playing the movement on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.5.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>Low A doubling</em> from <strong>High G</strong> to <strong>Low G</strong> your <strong>High G</strong> finger is already off the chanter.  You cannot play the <em>High G gracenote</em> that comences a <em>Low A doubling</em>.  Replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a <em>Low A doubling</em> from <strong>High A</strong> to <strong>Low A</strong> your <strong>High G</strong> finger and <em>High A (thumb)</em> are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally comence a <em>Low A doubling</em>.  Do not play a commencing gracenote.  Play the <strong>Low A</strong> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>D gracenote</em>.  This is known as a <em>1/2 Low A doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.6.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration going from <strong>Low G</strong> to <strong>Low A</strong>.  As you move up to the <em>Low A doubling</em> you commence the movement on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em> that commences the <em>Low A doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.7.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l264.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the gracenoting technqiue used in a <em>B doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.8.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.8.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing a <em>B doubling</em> is that the <em>second gracenote</em>, the <em>D gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  The <em>Low G, Low A, B</em> and <em>C doublings</em> all consist of the exact same two <em>gracenotes</em>, a <em>High G</em> and <em>D</em>.  The exception being for a <em>B doubling</em> the theme note <strong>B</strong> being played in between the <em>High G</em> and <em>D gracenote</em> is shorter than when you play in Simple Time rhythm.  </p>-->
	<!--<p><strong>D</strong>o not make the <em>High G</em> and <em>D gracenotes</em> too big.  You want to clearly hear the theme note <strong>B</strong> between the <em>High G</em> and <em>D gracenotes</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>A</strong> <em>B doubling</em> consists of a <em>High G</em> and <em>D gracenote</em> on <strong>B</strong>.  Practice playing the movment on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.9.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>B doubling</em> from <strong>High G</strong> your <strong>High G</strong> finger is already off the chanter.  You can not execute the <em>High G gracenote</em> that comences the <em>B doubling</em>.  Replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a <em>B doubling</em> from <strong>High A</strong> to <strong>Low G</strong> your <strong>High G</strong> finger and <strong>High A</strong> (thumb) are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally commence the <em>B doubling</em>.  Do not play a commencing gracenote.  You actually play a <em>B</em> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>D gracenote</em>.  This is known as a <em>1/2 B doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.10.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.10.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration going from <strong>Low G</strong> to <strong>Low A</strong>.  As you move up to the <strong>Low A</strong> <em>doubling</em> you commence the movement on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em> that commences the <em>Low A doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.11.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.11.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l269.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the gracenoting technqiue used in a <em>C doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.12.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing a <em>C doubling</em> is that the <em>second gracenote</em>, the <em>D gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  The Low G, Low A, B and C doublings all consist of the exact same two gracenotes, a High G and D.  The exception being for a C doubling the theme note C being played in between the High G and D gracenote is shorter than when you play in Simple Time.  </p>-->
	<!--<p><strong>D</strong>o not make the <em>High G</em> and <em>D gracenotes</em> too big.  You want to clearly hear the theme note <strong>C</strong> between the <em>High G</em> and <em>D gracenotes</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>P</strong>ractice playing the <em>C doubling</em> on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.13.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.13.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>C doubling</em> from <strong>High G</strong> your High G finger is already off the chanter.  You can not execute the <em>High G gracenote</em> that comences the <em>C doubling</em>.  You replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a <em>C doubling</em> from <strong>High A</strong> to <strong>Low G</strong> your <strong>High G</strong> finger and <strong>High A</strong> <em>(thumb)</em> are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally commence a <em>C doubling</em>.  Do not play a commencing gracenote.  Play a <strong>C</strong> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>D gracenote</em>.  This is known as a 1/2 C doubling.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.14.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.14.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow practice these four <em>doublings</em> in MINIM (1/2 note) duration ensuring that as you change each note upward you do it exactly on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat ensuring you commence the <em>High G gracenote</em> exactly on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  The <em>D gracenote</em> of the <em>doubling</em> must follow shortly after without compromising the middle grace (which is always the same note that the <em>doubling</em> is going to finish on).  The aim here is to ensure that the <em>High G</em> and <em>D gracenote</em> are small in size and length and are separated by the theme gracenote.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.15.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.15.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next three <em>doublings</em> <strong>D, E</strong> and <strong>F</strong> like the first four <em>doublings</em> we have learnt, all commence with a <em>High G gracenote</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  The difference will be in the second gracenote we use.  The second gracenote used is made with the finger which is above the highest finger you have lifted off the chanter (the finger you have raised to produce the note).</p>-->
	<!--<p><strong>S</strong>o in a <em>D doubling</em> the two gracenotes used are <em>High G and E</em>.</p>-->
	<div th:utext="${pageResources.get('p15_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l274.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the gracenoting technqiue used in a <em>D doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p15_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.16.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.16.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing a <em>D doubling</em> is that the <em>second gracenote</em> - the <em>E gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  As your <strong>D</strong> is already off the chanter the second gracenote used is the finger above the <em>E gracenote</em>.  The exception being the theme note <strong>D</strong> being played in between the <em>High G and E gracenotes</em> is shorter than when you play in <em>Simple Time</em>.  </p>-->
	<!--<p><strong>D</strong>o not make the <em>High G</em> and <em>E gracenotes</em> too big.  You want to clearly hear the theme note <strong>D</strong> between the <em>High G and E gracenote</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>A</strong> <em>D doubling</em> consists of a <em>High G and E gracenote</em> on <strong>D</strong>.  Practice playing the movment on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.17.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.17.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>D doubling</em> from <strong>High G</strong> your High G finger is already off the chanter.  You can not execute the <em>High G gracenote</em> that normally commences the <em>D doubling</em>.  Replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a <em>D doubling</em> from <strong>High A</strong> to <strong>Low G</strong> your <strong>High G</strong> finger and <strong>High A</strong> (thumb) are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally commence the <em>D doubling</em>.  Do not play a commencing gracenote.  Play a <em>D</em> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>E gracenote</em>.  This is known as a <em>1/2 D doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.18.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.18.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration using all the notes from <strong>Low G</strong> to <strong>D</strong>.  As you move up to each note the next <em>doubling</em> movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em>.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.19.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.19.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>I</strong>n an <em>E Doubling</em> the two gracenotes used are <em>High G and F</em>.</p>-->
	<div th:utext="${pageResources.get('p19_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l279.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the gracenoting technqiue used in a <em>E doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p19_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.20.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.20.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing an <em>E doubling</em> is that the <em>second gracenote</em>, the <em>F gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  As your <strong>E</strong> is already off the chanter the second gracenote used is the finger above the <em>F gracenote</em>.  The exception being the theme note <strong>E</strong> being played in between the <em>High G and F gracenotes</em> is shorter than when you play in <em>Simple Time</em>.  </p>-->
	<!--<p><strong>D</strong>o not make the <em>High G and F gracenotes</em> too big.  You want to clearly hear the theme note <strong>E</strong> between the <em>High G</em> and <em>F gracenotes</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>A</strong>n <em>E doubling</em> consists of a <em>High G</em> and <em>F gracenote</em> on <strong>E</strong>.  Practice playing the movment on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.21.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.21.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>E doubling</em> from <strong>High G</strong> your High G finger is already off the chanter.  You can not execute the <em>High G gracenote</em> that commences the <em>E doubling</em>.  Replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a <em>E doubling</em> from <strong>High A</strong> to <strong>Low G</strong> your <strong>High G</strong> finger and <strong>High A</strong> (thumb) are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally commence the <em>E doubling</em>.  Do not play a commencing gracenote.  Play a <em>E</em> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>F gracenote</em>.  This is known as a <em>1/2 E doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.22.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.22.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration using all the notes from <strong>Low G</strong> to <strong>E</strong>.  As you move up to each note the next <em>doubling</em> movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em>.</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.23.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.23.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>I</strong>n an <em>F doubling</em> the two gracenotes used are <em>High G</em> and another <em>High G</em>.</p>-->
	<div th:utext="${pageResources.get('p23_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l284.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the <em>gracenoting</em> technqiue used in a <em>F doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p23_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.24.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.24.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing an <em>F doubling</em> is that the <em>second gracenote</em>, the <em>High G gracenote</em> needs to be completed prior to the '<strong>&</strong>' pulse.  As your <strong>F</strong> is already off the chanter the second gracenote used is the finger above the <em>High G gracenote</em>.  The exception being the theme note <strong>F</strong> being played in between the two <em>High G and F gracenotes</em> are shorter than when you play in <em>Simple Time</em>.  </p>-->
	<!--<p><strong>D</strong>o not make the two <em>High G gracenotes</em> too big.  You want to clearly hear the theme note <strong>F</strong> between the two <em>High G gracenotes</em>.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>A</strong>n <em>F doubling</em> consists of a <em>High G</em> and a second <em>High G gracenote</em> on <strong>F</strong>.  Practice playing the movment on every second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.25.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.25.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a F <em>doubling</em> from <strong>High G</strong> your <strong>High G</strong> finger is already off the chanter.  You can not execute the <em>High G gracenote</em> that comences the <em>F doubling</em>.  Replace the the <em>High G gracenote</em> with a <em>High A (thumb) gracenote</em>.</p>-->
	<!--<p><strong>W</strong>hen you play a F <em>doubling</em> from <strong>High A</strong> to <strong>Low G</strong> your <strong>High G</strong> finger and <strong>High A</strong> <em>(thumb)</em> are already off the chanter.  You cannot play either a <em>High G</em> or <em>High A (thumb) gracenote</em> that would normally commence the <em>F doubling</em>.  Do not play a commencing <em>gracenote</em>.  Play a <em>F</em> note on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and than follow it with the <em>High G gracenote</em>.  This is known as a <em>1/2 High G doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.26.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.26.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration using all the notes from <strong>Low G</strong> to <strong>F</strong>.  As you move up to each note the next <em>doubling</em> movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em>.</p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.27.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.27.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he last two <em>doublings</em> we have left to learn are slightly different in make up to the other seven and the technique used in executing them.  Like many bagpipe movements there are different variations as to how they can be played.  The method I will teach you is the one I believe gives better clarity of a <em>doubling</em>, plus a cleaner sounding movement.  It also gives a group of pipers the best chance of producing the same sound together as they will all be in the same place on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat together.</p>-->
	<!--<p><strong>T</strong>he <em>High G doubling</em>, when you look at how the movement is written is how I suggest you play it.  The movement clearly says do a <em>High G gracenote</em> to <strong>F</strong> and than go to <strong>High G</strong> note.  There are numerous ways to execute this movement but I suggest that initially you learn to play it in this manner.</p>-->
	<div th:utext="${pageResources.get('p27_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l289.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>imple Time</em> exercise to pratice the <em>gracenoting</em> technqiue used in a <em>High G doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p27_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.28.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.28.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>o play a <em>High G doubling</em> you play a <em>High G</em> to <strong>F</strong> and than moving upto <strong>High G</strong>.</p>-->
	<div th:utext="${pageResources.get('p28')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.29.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.29.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the <em>Simple Time</em> exercise and playing a <em>High G doubling</em> is that the <em>second gracenote</em>, the <strong>F</strong> note needs to be completed prior to the '<strong>&</strong>' pulse.  But is actually played slightly longer than the <em>High G gracenote</em> that is played to it.  The exception being the theme note <strong>F</strong> being played in between the <em>High G gracenote</em> and the <strong>High G</strong> note is shorter than when you play in <em>Simple Time</em>.  </p>-->
	<!--<p><strong>D</strong>o not make the <em>High G gracenote</em> to <strong>F</strong> too big.  You want to clearly hear the theme note <strong>F</strong> between the <em>High G gracenote</em> to <strong>F</strong> and the final <strong>High G</strong> note.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.</p>-->
	<!--<p><strong>Y</strong>ou cannot play a <em>doubling</em> from <strong>High A</strong> to <strong>High G</strong>.  In this exercise use the <em>F gracenote</em> we learnt in Section 4:</p>-->
	<div th:utext="${pageResources.get('p29')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.30</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.30.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.30.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration using all the notes from <strong>Low G</strong> to <strong>High G</strong>.  As you move up to each note the next <em>doubling</em> movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em>.</p>-->
	<div th:utext="${pageResources.get('p30')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.31</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.31.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.31.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he <em>High A doubling</em>, is achieved in the same way as you would read it.  Do a <em>High A (thumb) gracenote</em> to a <strong>High G</strong> note and than move onto <strong>High A</strong>.</p>-->
	<div th:utext="${pageResources.get('p31_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l294.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he following exercise is to assist pratice the gracenoting technqiue used in a <em>High A doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p31_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.32</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.32.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.32.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>High A doubling</em> is executed by playing a <em>High A (thumb)</em> gracenote to <strong>High G</strong> and then moving upto <strong>High A</strong> note:</p>-->
	<div th:utext="${pageResources.get('p32')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.33</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.33.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.33.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he difference between the above exercise and playing a <em>High A doubling</em> is that the second <em>gracenote</em>, the <strong>High G</strong> note needs to be completed prior to the '<strong>&</strong>' pulse.  But is actually played slightly longer than the <em>High A (thumb) gracenote</em> that is played to it.  The exception being the theme note <strong>High G</strong> being played in between the <em>High A (thumb) gracenote</em> and the <strong>High G</strong> note is shorter than what you play in the above Exercise 13.33.  </p>-->
	<!--<p><strong>D</strong>o not make the <em>High A (thumb) gracenote</em> to <strong>High G</strong> too big.  You want to clearly hear the theme note <strong>High G</strong> note between the <em>High A (thumb) gracenote</em> to <strong>High G</strong> note and the final <strong>High A</strong> note.  Remember <em>gracenotes</em> are short, sharp, distinct <em>embellishments</em>.  Keep them separated and do not over-lap the two <em>gracenotes</em>.  When playing the <em>High A (thumb) gracenote</em> to the <strong>High G</strong> theme note we suggest that you attempt to have all three fingers <strong>E, F</strong> and <strong>High G</strong> used in sounding <strong>High G</strong> off the chanter.  Harmonically,  I believe this sounds better on the Great Highland Bagpipe.</p>-->
	<div th:utext="${pageResources.get('p33')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.34</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.34.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.34.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice in MINIM (1/2 note) duration using all the notes from <strong>Low G</strong> to <strong>High A</strong>.  As you move up to each note the next <em>doubling</em> movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with the <em>High G gracenote</em> and that the <em>High A doubling</em> commences with a <em>High A (thumb) gracenote</em>.</p>-->
	<div th:utext="${pageResources.get('p34')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.35</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.35.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.35.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll doublings from <strong>Low G</strong>.</p>-->
	<div th:utext="${pageResources.get('p35')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.36</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.36.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.36.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll doublings from <strong>Low A</strong>.</p>-->
	<div th:utext="${pageResources.get('p36')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.37</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.37.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.37.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>doublings</em> from <strong>B</strong>.  </p>-->
	<div th:utext="${pageResources.get('p37')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.38</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.38.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.38.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>doublings</em> from <strong>C</strong>.</p>-->
	<div th:utext="${pageResources.get('p38')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.39</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.39.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.39.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>doublings</em> from <strong>D</strong>.</p>-->
	<div th:utext="${pageResources.get('p39')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.40</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.40.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.40.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>doublings</em> from <strong>E</strong>.</p>-->
	<div th:utext="${pageResources.get('p40')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.41</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.41.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.41.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>doublings</em> from <strong>F</strong>.</p>-->
	<div th:utext="${pageResources.get('p41')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.42</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.42.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.42.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>doublings</em> from <strong>High G</strong>.</p>-->
	<div th:utext="${pageResources.get('p42')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.43</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.43.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.43.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll <em>1/2 doublings</em> from <strong>High A</strong>.</p>-->
	<div th:utext="${pageResources.get('p43')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.44</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.44.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.44.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he scale using each <em>doubling</em>.</p>-->
	<div th:utext="${pageResources.get('p44')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 13.45</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l13d/13.45.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/13/13.45.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p45')}"></div>
	<p>&nbsp;</p>
	<!--<p align="center">Register as a purchaser of <strong>The Millennium Method CD Tutor</strong> and you will be entitled to three FREE 10 minute SKYPE lessons within the first twelve months of purchase should you need assistance with your piping progression.  Value (A$27.50).<br /><br />You must register on line and fill in the registration form to be eligible for the 30 minutes of FREE tuition.<br /><br /><a href="http://www.sydneyschoolofpipinganddrumming.com.au">www.sydneyschoolofpipinganddrumming.com.au</a></p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l620.jpg'" /></p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>The music and exercises in the CD tutor were all prepared on Celtic Pipes</strong></p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l621.jpg'" /></p>-->




</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l12thaotg.html'">The High A or Thumb Gracenote</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l14tdt.html'">The D Throw</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
