<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 14 - The D Throw</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 14 - The D Throw</h1>

	<!--<p><strong>T</strong>his movement can be played in many forms and variations, but I will show you the one which I believe is the easiest to perform consistently from every note.</p>-->
	<!--<p><strong>B</strong>efore we learn how to play a <em>D throw</em>, we will say out aloud how it should sound.</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/1111.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lay it in this time frame to ensure we are obtaining the correct gracenote and note sequence.</p>-->
	<div th:utext="${pageResources.get('intro2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l309.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>ritten it looks like this:</p>-->
	<div th:utext="${pageResources.get('p1_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>Y</strong>ou will notice that in the movement the <em>gracenotes Low G, D</em> and <em>C</em> are all written exactly the same, but in actual fact we will weight the <em>Low G and C</em> slightly or cut the <em>D gracenote</em>.  This gives a better balance to the movement.  When you play the movement it is always the same.  It always starts on a <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat or '<strong>&</strong>' pulse by going to <strong>Low G</strong> and finishes on <strong>D</strong>.  The only thing that can ever change when playing a <em>D Throw</em> is the actual note prior to the movement.</p>-->
	<!--<p><strong>D</strong> Throw from <strong>Low G</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p1_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>Low A</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>B</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>C</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>D</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>E</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>F</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.8.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>High G</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>High A</strong> broken down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.10.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Y</strong>ou should now be confident with the technique required to perform the <em>D throw</em> movement.  Now try it in correct duration and at speed.</p>-->
	<!--<p><strong>D</strong> Throw from <strong>Low G</strong>.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p><u>Exercise 14.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.11.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>Low A</strong>.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.12.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>B</strong>.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.13.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>C</strong>.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.14.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>D</strong>.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.15.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>E</strong>.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.16.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>F</strong>.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.17.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>High G</strong>.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.18.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> Throw from <strong>High A</strong>.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.19.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>R</strong>emember to ensure that you commence the <em>D Throw</em> the <em>Low G gracenote</em> that commences the movement precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before hand.  It is the placement of the <em>Low G gracenote</em> that determines where the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat or '<strong>&</strong>' pulse falls in the tune, if you play it early you are effectively speeding up the tempo of the tune.</p>-->
	<!--<p><strong>Y</strong>ou should return to the next exercise regularly and practice your <em>D throws</em>.</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 14.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l14tdt/14.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/14/14.20.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p20')}"></div>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l13d.html'">Doublings</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l15cb.html'">Cutting Bracken</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
