<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 15 - Tune #3 - Cutting Bracken</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 15 - Tune #3 - Cutting Bracken</h1>

	<!--<p><strong>Cutting Bracken</strong> like the previous two tunes we have leant is a 4/4 March.  It is a <em>Simple Time</em> tune.  There are four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per bar.</p>-->
	<!--<p><strong>B</strong>ar 1 commences with a <em>High G gracenote</em> on a <strong>Low A</strong> CROTCHET (1/4 note). The second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is a <em>D gracenote</em> on a <strong>Low A</strong> CROTCHET (1/4 note).  Beat three and four are each a CROTCHET (1/4 note) <strong>High A</strong> or the equivalent duration of a MINIM (1/2 note) two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.1.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 commences with a <strong>High G</strong> CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Beat two is a <em>High A (thumb)</em> gracenote to an <strong>E</strong> CROTCHET (1/4 note).  Beat three and four are each a <strong>High G</strong> CROTCHET (1/4 note) or the equivalent duration of a MINIM (1/2 note) two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats that commences with a <em>High G Doubling</em>.  Pay attention to ensure that you execute the <em>High A (thumb) gracenote</em> to <strong>E</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that you commence the <em>High G Doubling</em> exactly on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.2.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one.  Bars 1 & 2.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.3.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 commences with an <em>E doubling</em> coming down from a <strong>High G</strong> note.  Remember that this means that the first <em>gracenote</em> is a <em>High A (thumb) gracenote</em> not a <em>High G gracenote</em>.  Also note that the second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in this bar is made up of two QUAVER (1/8 note's). Ensure you pay attention to time this group correctly.  The first <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is an <strong>E</strong> CROTCHET (1/4 note) and the first QUAVER (1/8 note) which falls on the second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is also an <strong>E</strong> note. They are joined by a tie or bind. The balance of that beat is made up of a <strong>D</strong> QUAVER (1/8 note) played on the '<strong>&</strong>' pulse. Beat three commences with a doubling played to a <strong>B</strong> CROTCHET (1/4 note). Beat four commences with an E gracenote played to a Low A CROTCHET (1/4 note). </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.4.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 commences with a <em>High G gracenote</em> on a <strong>Low G</strong> CROTCHET (1/4 note) and the second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is made up of two QUAVER (1/8 note). The first QUAVER (1/8 note) (1/8 note) which falls on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is also a <strong>Low G</strong> note.  Ensure you pay attention to time this group correctly.  They are joined by a tie or bind. The balance of that beat is made up of a <strong>LOW A</strong> QUAVER (1/8 note) played on the '<strong>&</strong>' pulse. The third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is a <em>B doubling</em> on a <strong>B</strong> CROTCHET (1/4 note) and the fourth <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is an <em>E gracenote</em> to a <strong>Low G</strong> CROTCHET (1/4 note).</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.5.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two.  Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.6.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.7.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as bars 1 and 2.  So phrase three is exactly the same as phrase one.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.8.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7 is exactly the same as bar 3 with the exception of the last note being an <strong>E</strong> CROTCHET (1/4 note) in place of the <strong>Low A</strong> CROTCHET (1/4 note).</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.9.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 8 commences with two <strong>Low A</strong> CROTCHET (1/4 note's) which equal the value of a MINIM (1/2 note) in duration (two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats).  The last two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats are two <strong>Low A</strong> CROTCHET (1/4 note's) which equal the value of a MINIM (1/2 note) duration or two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats).  On the start of the second MINIM (1/2 note) you play a <em>birl</em> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.10.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Bars 7 and 8.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.11.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two of part one.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.12.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first part of <strong>Cutting Bracken</strong>.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.13.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 1 and 2 of the second part are exactly the same as Bars 3 and 4 from part one. So the first phrase in part two is exactly the same of phrase two, Bars 3 and 4 from part one.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.14.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 of the second part is exactly the same as bars 1 in part two and Bar 4 is a MINIM (1/2 note) <strong>B</strong> and on the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>D throw</em>. Phrase two of part two, Bars 3 and 4.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.15.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 phrase three 3 are exactly the same as bars 1 and 2 from part two phrase two.  Bars 7 and 8 phrase four are exactly the same as Bars 7 and 8 phrase four from part one.  The complete second part.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.16.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel you have the tune memorized rise to your feet and try marching and playing the tune. Here is the complete tune with out feet markers.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 15.17</u></p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/15/15.17.mp4'" type="video/mp4">
	</video>
	</p>
	<p>&nbsp;</p>
	<p><strong>Tune #3:</strong></p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l15cb/15.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l14tdt.html'">The D Throw</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l16tlhsod.html'">The Light and Heavy Strike on D</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
