<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 16 - The Light and Heavy Strike on D</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 16 - The Light and Heavy Strike on D</h1>

	<!--<p><strong>B</strong>efore we can learn the next tune there is a new movement that needs to be learnt that is incorporated into this tune.  It is called a <em>Light Strike</em> on <strong>D</strong>.  It is very much like a <em>D doubling</em>, except the <em>E gracenote</em> that ends the movement is actually replaced with a <em>D gracenote</em>.  So effectively you play a <em>High G gracenote</em> on <strong>D</strong>, than strike you <strong>D</strong> finger once, briefly sounding <strong>C</strong>.    </p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l347.png'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong><u>Note</u></strong>:  If you have a finger raised from the chanter and the written movement shows you are to sound a lower note you actually replace the required fingers needed to sound the written gracenote.</p>-->
	<!--<p><strong>P</strong>ractice this <em>Simple Time</em> exercise to master the finger technique used in the <em>light strike</em> on <strong>D</strong> movement.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 16.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.1.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/16/16.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he major difference is, from the <em>timing exercise</em> above is that your <em>High G gracenote</em> is still sounded on the <img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.eft_foot.png'" class="image-container"/> beat but the <em>D strike gracenote</em> that sounds <strong>C</strong> has to be played a lot sooner and is completed before the '<strong>&</strong>' pulse and the middle <em>D gracenotes</em> becomes a lot shorter.  Do not make the <em>gracenotes</em> too big.  You want to clearly hear the middle <em>D gracenote</em> prior to the <em>D strike gracenote</em> that sounds <strong>C</strong> before the <strong>D</strong> finishing note. </p>-->
	<!--<p><strong>R</strong>emember keep your <strong>Low A</strong> finger down whilst doing this movement, do not lift it and sound an <strong>unacceptable</strong> open <strong>C</strong> note.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 16.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.2.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/16/16.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow we will play the <em>light strike</em> on <strong>D</strong> from each note in the scale:</p>-->
	<!--<p><strong>W</strong>hen you are playing the movement from a <strong>High G</strong> note, the <em>High G gracenote</em> that commences the movement is changed to a <em>High A (thumb) gracenote</em>.  The <em>High A (thumb) gracenote</em> is played exactly on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<!--<p><strong>W</strong>hen you play the movement from a <strong>High A</strong> note, no first gracenote can be played on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  This is called a <em>1/2 doubling</em> and the theme note of the movement, the first <em>gracenote</em> written, the <strong>D</strong> is what is placed on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 16.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.3.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/16/16.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he same movement can be played with a <strong>Low G</strong> strike; it is called a <em>Heavy Strike</em> on <strong>D</strong>.  It is played exactly the same as the <em>Light strike</em> on <strong>D</strong> except the <em>D strike</em> to <strong>C</strong> becomes a full <em>D strike</em> to <strong>Low G</strong>.  </p>-->
	<!--<p><strong><u>Note</u></strong>:  If you have a finger raised from the chanter and the written movement shows you are to sound a lower note you actually replace the required fingers needed to sound the written gracenote.</p>-->
	<!--<p><strong>P</strong>ractice this <em>Simple Time</em> exercise to master the finger technique used in the <em>light strike</em> on <strong>D</strong> movement:</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l351.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>o you play a <em>High G gracenote</em> on <strong>D</strong>, than quickly strike the chanter with the three fingers that make up the note <strong>D</strong> effectively sounding a <strong>Low G</strong>.</p>-->
	<!--<p><strong>P</strong>ractice this <em>Simple Time</em> exercise to master the finger technique used in the <em>heavy strike on D</em> movement.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 16.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.4.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/16/16.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he major difference is, from the timing exercise above is that your <em>High G gracenote</em> is still on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat but the full <em>D strike gracenote</em> that sounds <strong>Low G</strong> has to be played a lot sooner and is completed before the '<strong>&</strong>' pulse.  The middle <em>D gracenotes</em> becomes a lot shorter.  Do not make the gracenotes too big.  You want to clearly hear the middle <em>D gracenote</em> prior to the full <em>D strike gracenote</em> that sounds <strong>Low G</strong> before the <strong>D</strong> finishing note.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 16.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.5.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/16/16.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are playing the movement from a <strong>High G</strong> note, the <em>High G gracenote</em> that commences the movement is changed to a <em>High A (thumb) gracenote</em>.  The <em>High A (thumb) gracenote</em> is played exactly on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<!--<p><strong>W</strong>hen you play the movement from a <strong>High A</strong> note, no first <em>gracenote</em> can be played on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  This is called a <em>1/2 doubling</em> and the theme note of the movement the <em>D gracenote</em> is what is placed on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<!--<p><strong>N</strong>ow from each note in the scale:</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 16.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l16tlhsod/16.6.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/16/16.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l15cb.html'">Cutting Bracken</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l17ag.html'">Amazing Grace</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
