<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 17 - Tune #4 - Amazing Grace</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 17 - Tune #4 - Amazing Grace</h1>

	<!--<p><strong>T</strong>he next tune we will learn is without a doubt, the most recognizable bagpipe melody in the world.  And that is the hymn '<em>Amazing Grace</em>'.  This tune was made a recording hit all around the world in 1972 when the Royal Scots Dragoon Guards stunned the contemporary music world when their recording of this traditional hymn become a #1 hit in America, Australia, Canada, Great Britain  and New Zealand.</p>-->
	<!--<p><strong>T</strong>his is a <em>Simple Time</em> tune, meaning the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note can be evenly divided by two.  With each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note being the value of a CROTCHET (1/4 note), it can be evenly divided by two QUAVERS (1/8 note's).</p>-->
	<!--<p>The time signature of this tune is a 3/4.  There are three CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per bar.</p>-->
	<!--<p><strong>T</strong>he actual <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat notes have been clearly marked with the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> left and <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> right foot.  Also the '<strong>&</strong>' pulse has been marked and we have set the tune out in a bar by bar and a phrase by phrase method in which should assist you to memorize the tune quickly.</p>-->
	<!--<p><strong>B</strong>ar 1 commences with a <em>Light D Strike</em> movement for the duration of a MINIM (1/2 note) or two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   On the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>High G gracenote</em> to an F QUAVER (1/8 note) and the remainder of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is made up of two SEMI-QUAVERS (1/16 note's) with an <strong>E</strong> SEMI-QUAVER (1/16 note) commencing on the '<strong>&</strong>' pulse and the balance of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat being a <strong>D</strong> SEMI-QUAVER (1/16 note). </p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 starts with a <em>High G gracenote</em> on <strong>F</strong> for the duration of a MINIM (1/2 note) or 2 CROTCHET (1/4 note's) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Beat three is two QUAVERS (1/8 note) commencing with a <em>High G gracenote</em> on <strong>F</strong> and than an <strong>E</strong> note on the '<strong>&</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one. Bars 1 & 2.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 commences with a <em>D throw</em> for the duration of a MINIM (1/2 note) or two CROTCHET (1/4 note's) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats and on the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat an <em>E gracenote</em> to a CROTCHET (1/4 note) <strong>B</strong>.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 commences with a <em>Low G gracenote</em> to <strong>Low A</strong> MINIM (1/2 note) or two CROTCHET (1/4 note's) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats and the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat starts with a <em>High G gracenote</em> on a dotted <strong>Low A</strong> QUAVER followed by a SEMI-QUAVER (1/16 note) <strong>D</strong>.  This is the first dotted note we have played so ensure that you stay on the <strong>Low A</strong> for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and until you hear the '<strong>&</strong>' pulse as well. The short D SEMI QUAVER (1/16 note) is played after the '<strong>&</strong>' pulse and prior to the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two. Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first line.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 5 is exactly the same as bar 1.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.8.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 6 has the exact same timing as bar 2. The only difference is in bar 2 the two QUAVERS (1/8 note's) were <strong>F</strong> than <strong>E</strong>.  In bar 5 the notes are reversed and are played <strong>E</strong> than <strong>F</strong>.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.9.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase three.  Bars 5 & 6.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.10.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7 starts with a <em>High A doubling</em> for the duration of a dotted MINIM (1/2 note).  A MINIM (1/2 note) is the duration of two CROCTHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats and a dot adds half of that value.  Two CROTCHET (1/4 note) + one CROTCHET (1/4 note) = three CROTCHET (1/4 note). </p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.11.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 8 starts with a <em>thumb gracenote strike</em> on <strong>High A</strong> for the duration of a MINIM (1/2 note) or two CROTCHETS (1/4 note's).  The third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is two QUAVERS (1/8 note's) an <strong>F</strong> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and a <strong>High A</strong> on the '<strong>&</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.12.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Bars 7 & 8.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.13.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine 2.   Phrase three and four.  Bars 5 to 8.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.14.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ines one and two.  Phrases one to four. Bars 1 to 8.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.15.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 9 commences the same as bar 8 with a <em>thumb gracenote strike</em> on a <strong>High A</strong> MINIM (1/2 note) which is the same duration as two CROTCHET (1/4 note's) and than concludes with the same third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat from bar 1 an <strong>F</strong> QUAVER (1/8 note) and than on the '<strong>&</strong>' pulse an <strong>E</strong> SEMI-QUAVER (1/16 Note) followed by a <strong>D</strong> SEMI-QUAVER (1/16 note).</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.16.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 10 is exactly the same as bar 2.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.17.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase six.  Bars 11 & 12.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.18.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 13 is exactly the same as bar 3.</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.19.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 14 is exactly the same as bar 4.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.20.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase five.  Bars 14 and 15.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.21.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine three. Phrase five and six.  Bars 9 to 12</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.22-1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.22.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ines one to three.  Phrases one to six.  Bars 1 to 12.</p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.23.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 13 is exactly the same as Bar 1 and 4.  Bar 14 is a <em>High G gracenote</em> on a MINIM <strong>F</strong> or two CROTCHET (1/4 note's) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  The third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is a CROTCHET (1/4 note) <strong>E</strong>.  Over the next two bars you will notice there is a first time marker prior to the double dotted bar line indicating the end of the first measure prior to repeating.  Bar 15th is a dotted MINIM (1/2 note) which is the same duration as three CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats which commences with a <em>D throw movement</em>.  Bar 16 is a <em>light D strike movement</em> on a MINIM (1/2 note) <strong>D</strong> which is the same duration as two CROTCHET (1/4 Note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  This is an incomplete bar and is one CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> short.  That CROTCHET (1/4 note) is made up of the anacrusis at the start of the tune, prior to the first bar.  This is exactly the same group of notes we have played in bars 4 and 12.  The dotted <strong>Low A</strong> QUAVER and grouped with the <strong>D</strong> SEMI-QUAVER (1/16 note).  When you play the tune through the second time (double forte) you play the alternate Bars 15 and 16.  Bar 15 is a dotted E MINIM which is the same duration as three CROTCHET (1/4 Note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Bar 16 is a dotted MINIM D which is the same duration as three CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  It commences with a <em>D throw</em>.   </p>-->
	<!--<p><strong>L</strong>ine four.  Phrases seven and eight.  <strong>B</strong>ars 13 to 16 and alternant ending bars 17 and 18.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.24.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>n the next page is the complete tune.  Make sure that you tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and you go through the tune twice.  Ensuring you play the first time ending the first time through the tune and the second time the second time through.  You only play the first time ending once in the double forte, the second time through you play the second ending.   </p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 17.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.379.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/17/17.25.mp4'" type='video/mp4'>
	</video>
	</p>

	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel confidents with the various lines in the tune move onto the whole tune below constantly tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and read the notes and their duration carefully.  The feet and '<strong>&</strong>' pulses have been deleted so ensure that you continue to tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and stay in time.  Print this page off and place it in your music folder.</p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l17ag/17.26.png'" class="image-container" /></p>





</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l16tlhsod.html'">The Light and Heavy Strike on D</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l18tt.html'">The Taorluath</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
