<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
    <link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


    <link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/nav/nav.js"></script>
    <script type="text/javascript" src="/nav/prototype.lite.js"></script>
    <script type="text/javascript" src="/nav/moo.fx.js"></script>
    <script type="text/javascript" src="/nav/user_guide_menu.js"></script>

    <link href="/js/videojs/video-js.css" rel="stylesheet">
    <script src="/js/videojs/videojs-ie8.min.js"></script>

    <meta http-equiv='expires' content='-1'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta name='robots' content='all'/>

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav">
    <div id="nav_inner">
        <script th:inline="javascript">         /*<![CDATA[*/
        create_menu("/", [[${language}]]);         /*]]>*/</script>
    </div>
</div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img
        th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43"
        border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents"/></a></div>
<div id="masthead">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
        <tr>
            <td><h1>The Millennium Method</h1></td>
            <td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a>
            </td>
        </tr>
    </table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
    <tr>
        <td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp;
            Session 18 - The Taorluath
        </td>
    </tr>
</table>

<br clear="all"/>

<!-- START CONTENT -->
<div id="content">

    <h1 th:utext="${pageResources.get('title')}">Session 18 - The Taorluath</h1>

    <!--<p><strong>T</strong>he <em>Taorluath</em> movement (pronounced <em>Tor-lua</em>) - broken down is played as follows.</p>-->
    <!--<p><strong>G</strong>o to <strong>Low G</strong></p>-->
    <div th:utext="${pageResources.get('intro1')}"></div>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/intro1.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <!--<p><strong>N</strong>ext play a <em>D gracenote</em> on <strong>Low G</strong></p>-->
    <div th:utext="${pageResources.get('intro2')}"></div>
    <p>&nbsp;</p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/intro2.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <!--<p><strong>T</strong>hen back to <strong>Low A</strong> with an <em>E gracenote</em></p>-->
    <div th:utext="${pageResources.get('intro3')}"></div>
    <p>&nbsp;</p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/intro3.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>ll <em>Tourluaths</em> (<em>Tor-lua</em>) commence on a <strong>Low G</strong>.  The method we advcoate in this CD tutor is that on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is always played the first <em>gracenote</em> of any movement. </p>-->
    <!--<p><strong>Low A</strong> to <em>Low A Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p1')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.1</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.1.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.1.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p2')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.2</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.2.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.2.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p3')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.3</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.3.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.3.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>B</strong> to <em>B Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p4')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.4</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.4.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.4.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>B</strong> to <em>B Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p5')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.5</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.5.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.5.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded - they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p6')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.6</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.6.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.6.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>C</strong> to <em>C Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p7')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.7</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.7.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.7.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>C</strong> to <em>C Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p8')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.8</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.8.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.8.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded, they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p9')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.9</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.9.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.9.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>D</strong> to <em>D Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.  When playing a <em>D Taorluath</em> you substitute the <em>D gracenote</em> on <strong>Low G</strong> with a <em>B gracenote</em>. </p>-->
    <div th:utext="${pageResources.get('p10')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.10</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.10.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.10.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>D</strong> to D <em>Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p11')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.11</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.11.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.11.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p12')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.12</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.12.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.12.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>B</strong> to <em>Low A Taorluath</em> (Tor-lua).  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p13')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.13</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.13.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.13.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>B</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p14')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.14</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.14.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.14.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p15')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.15</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.15.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.15.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>C</strong> to <em>Low A Taorluath</em> (Tor-lua).  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p16')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.16</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.16.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.16.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>C</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p17')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.17</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.17.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.17.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p18')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.18</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.18.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.18.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>C</strong> to <em>B Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p19')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.19</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.19.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.19.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>C</strong> to <strong>B</strong> <em>Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p20')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.20</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.20.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.20.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p21')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.21</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.21.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.21.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>D</strong> to <em>Low A Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p22')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.22</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.22.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.22.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>D</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p23')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.23</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.23.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.23.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p24')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.24</u></p>
    <p>&nbsp;</p>
    <!--<p><strong>Note</strong>: When playing a Taorluath (Tor-lua) from D you substitute the D gracenote with a B gracenote.</p>-->
    <div th:utext="${pageResources.get('p25')}"></div>
    <p>&nbsp;</p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.24.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.24.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>E</strong> to <em>Low A Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p26')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.25</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.25.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.25.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>E</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p27')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.26</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.26.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.26.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p28')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.27</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.27.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.27.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>F</strong> to <em>Low A Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern. </p>-->
    <div th:utext="${pageResources.get('p29')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.28</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.28.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.28.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>F</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p30')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.29</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.29.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.29.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p31')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.30</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.30.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.30.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>High G</strong> to <em>Low A Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p32')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.31</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.31.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.31.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>High G</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.   </p>-->
    <div th:utext="${pageResources.get('p33')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.32</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.32.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.32.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p34')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.33</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.33.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.33.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>High A</strong> to <em>Low A Taorluath (Tor-lua)</em>.  Practice sounding the <em>Taorluath (Tor-lua)</em> movement slowly and continually as in this 6 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration pattern.</p>-->
    <div th:utext="${pageResources.get('p35')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.34</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.34.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.34.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s you gain more competence and speed the <strong>High A</strong> to <em>Low A Taorluath (Tor-lua)</em> movement is written and played like this in CROTCHET (1/4 note) duration.  </p>-->
    <div th:utext="${pageResources.get('p36')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.35</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.35.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.35.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p37')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.36</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.36.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.36.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>T</strong>he <em>Taorluath (Tor-lua)</em> movement is always played exactly the same way, from the starting note you always go to <strong>Low G</strong> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat or the '<strong>&</strong>' pulse.  Play a <em>D gracenote</em> on <strong>Low G</strong> and than go to the finishing note. The only exception to this rule is when you are starting on a <strong>D</strong> note.  When playing a <em>Taorluath (Tar-lua)</em> starting on <strong>D</strong>, you substitute the <em>D gracenote</em> with a <em>B gracenote</em>.</p>-->
    <!--<p>&nbsp;</p>-->
    <!--<p><strong>A</strong>s already stated with other embellishments covered in the CD tutor there is some debate over where the movement starts.  I will teach you to commence it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  If you later join a band where they wish it to conclude on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat it is an easy adjustment to make.  I play it on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat as to me it is an extension of a grip and as I play and teach people that the grip movement commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, so do I teach students to commence the <em>Taorluath (Tor-lua)</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p38')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.37</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.37.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.37.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>
    <!--<p><strong>Y</strong>ou must ensure that the first <strong>Low G</strong> in the movement falls precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and that both the <strong>Low G's</strong> are sounded as they must both be heard.</p>-->
    <div th:utext="${pageResources.get('p39')}"></div>
    <p>&nbsp;</p>
    <p><u>Exercise 18.38</u></p>
    <p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l18tt/18.38.png'"
                           class="image-container"/></p>
    <p>&nbsp;</p>
    <p align="center">
        <video id="my-video" class="video-js" width="640" height="264">
            <source th:src="'/themethod/'+ ${language} +'/resources/video/18/18.38.mp4'" type='video/mp4'>
        </video>
    </p>
    <p>&nbsp;</p>


</div>
<!-- END CONTENT -->


<div id="footer">
    <p>
        Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l17ag.html'">Amazing Grace</a>
        &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        <a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        <a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l19ctp.html'">Compound Tune Preparation</a>
    </p>
    <p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp;
        <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>
<script src="/js/image-resize.js" charset="utf-8"></script>
<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
