<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 19 - Compound Tune Preperation</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 19 - Compound Tune Preparation</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>

	<!--<p><strong>I</strong>n Lesson #5, we covered exercises that related to <em>timing</em> which when practiced and performed correctly will ensure you produce a correct compound rhythm.  </p>-->
	<!--<p><strong>P</strong>rior to learning our first compound tune we will practice most of the note combinations within that tune.  We will first rehearse them in six QUAVER (1/8 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> pulses per bar.  Directly after each exercise we will then play the same groups of notes with many of the groupings being changed to a doted QUAVER, a SEMI-QUAVER (1/16 note) and a QUAVER (1/8 note) as they appear in the tune.</p>-->
	<!--<p><strong>T</strong>hese compound exercises will cover the various timing possibilities that you may encounter for future compound tune styles.  A slow air, a march or a jig.  The principles covered in this exercise can be applied to any compound time tune that you choose to or are required to learn in the future.   So pay attention to where the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse's are for they will always be the same timing in any compound tune. </p>-->
	<!--<p><strong>COMPOUND TIME</strong> means the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note can be evenly divided by three.  A <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in compound time is a-->
	 <!--CROTCHET.  A dot after a note adds half of that notes value.  A  CROTCHET (1/4 note) is equal to two QUAVERS (1/8 note's) + 1/2 a CROTCHET is another QUAVER (1/8 note) in total = three QUAVERS(1/8 note's).</p>-->
	<!--<p><strong>T</strong>he object of exercises is not to memorize them.  They are designed to assist in allowing you to become familiar with the required finger technique, improve your sight reading and to work on the <em>timing</em> aspect of your performance.  Once you feel comfortable with each exercise in reading, timing and performing it than move on to the next one, not before.</p>-->
	<!--<p><strong>W</strong>e count <strong>DUPLE COMPOUND DUPLE TIME</strong> in the following manner:</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><strong>One&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&amp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Two&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&amp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E</strong></p>
	<p>&nbsp;</p>
	<p><u>Exercise 19.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.1.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by reviewing this exercise where you will play a <em>High G, D & E gracenotes</em> (a triplet) on <strong>Low A</strong>. </p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.2.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is exactly the same timing and gracenoting with the exception that the middle <strong>Low A</strong> has become a <strong>B</strong>.  </p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.3.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note).  To ensure this is timed correctly you must stay on the first <strong>Low A</strong> which is a dotted QUAVER for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) B with a <em>D gracenote</em> on it.  On the third and final pulse of the group the '<strong>e</strong>' pulse you play an <em>E gracenote</em> to <strong>Low A</strong>.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.4.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note's) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.5.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note).  To time this correctly you must stay on the first <strong>D</strong> note which is a dotted QUAVER for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) <strong>C</strong>.  On the third and final pulse of the group of notes you play a <em>High G gracenote</em> to <strong>D</strong> precisely on the '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.6.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note's) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.7.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note).  To time this correctly you must stay on the first <strong>E</strong> note which is a dotted QUAVER for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) F.  On the third and final pulse of the group of notes you play a <em>High G gracenote</em> to <strong>E</strong> precisely on the '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.8.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note's) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/19.9.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note).  To time this correctly you must stay on the first <strong>F</strong> note which starts with a <em>1/2 F doubling</em> on a dotted QUAVER for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) <strong>E</strong>.  On the third and final pulse of the group of notes you play a <em>High G gracenote</em> to <strong>F</strong> precisely on the '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/19.10.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note's) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.11.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note's).  To time this correctly you play a <em>High G gracenote</em> on a dotted QUAVER <strong>F</strong> for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) <strong>D</strong>.  On the third and final pulse of the group of notes you play an <strong>F</strong> QUAVER (1/8 note) precisely on the '<strong>e</strong>' pulse.  On the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play an <em>F doubling</em> which is a dotted CROTCHET which lasts the duration of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' and '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.12.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.13.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note).  To time this correctly you play a <em>High G gracenote</em> on <strong>E</strong> for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) <strong>C</strong>.  On the third and final pulse of the group you play an <strong>E</strong> precisely on the '<strong>e</strong>' pulse.  On the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play an <em>E doubling</em> to <strong>E</strong> which is a dotted CROTCHET and is the duration of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' and '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.14.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note's) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.15.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note).  To time this correctly you play a <em>High G gracenote</em> on a dotted QUAVER <strong>D</strong> for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) <strong>B</strong>.  On the third and final pulse of the group you play a <strong>D</strong> precisely on the '<strong>e</strong>' pulse. On the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>D doubling</em> to <strong>D</strong> which is a dotted CROTCHET and is the duration of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' and '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.16.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise has six QUAVERS (1/8 note's) in the bar.  One embellishment or plain note played exactly on each <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.17.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is the same as the last except the first two notes are now a dotted QUAVER and a SEMI-QUAVER (1/16 note) instead of two QUAVERS (1/8 note's).  To time this correctly you play a <em>High G gracenote</em> on a dotted QUAVER <strong>E</strong> for the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you move to a SEMI-QUAVER (1/16 note) B.  On the third and final pulse of the group you play an <strong>E</strong> precisely on the '<strong>e</strong>' pulse. On the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play an <em>E doubling</em> to <strong>E</strong> which is a dotted CROTCHET and is the duration of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, '<strong>&</strong>' and '<strong>e</strong>' pulse.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 19.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l19ctp/19.18.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/19/19.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you have mastered the timing of this exercise, you are ready to tackle your first <strong>COMPOUND TIME</strong> tune.  It is imperative that you play the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note or the pulses exactly as indicated, and not to <em>'stab'</em> at the SEMI QUAVER (1/16 note) and play it too short.   Work hard at ensuring that you do not play the last QUAVER (1/8 note) in each group which should fall precisely on the '<strong>e</strong>' pulse and not before.</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>



</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l18tt.html'">The Taorluath</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l20sbs.html'">Skye Boat Song</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
