<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 1 - Where the Bagpipe Notes are Positioned</td>
	</tr>
</table>

<br clear="all" />


<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('s1_caption')}">Session 1 - Where the Bagpipe Notes are Positioned</h1>

	<div th:utext="${pageResources.get('s1_p1')}"></div>
	<!--<p><strong>B</strong>agpipe music is written upon a staff of 5 lines known as the short staff.  The highest note is <strong>High A</strong>. It is one line above the top of the staff and is distinguishable by having a line through the middle of the note; this small line is called a ledger line.</p>-->
	<!--<p><strong>N</strong>otes can be written on the lines of the short staff as well as between. There are two simple sayings which should help you memorise the notes on the short staff.</p>-->
	<div th:utext="${pageResources.get('s1_subtitle_1')}"></div>
	<div th:utext="${pageResources.get('s1_p2')}"></div>
	<!--<p><strong>The Notes on the Lines</strong></p>-->
	<!--<p><em><u>Note</u></em>: We start on the lowest line and move upward.</p>-->
 	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l1egbdfa.jpg'" /></p>
	<div th:utext="${pageResources.get('s1_subtitle_2')}"></div>
	<div th:utext="${pageResources.get('s1_p3')}"></div>
	<!--<p><strong>The Notes in the Spaces</strong></p>-->
	<!--<p><em><u>Note</u></em>: We start on the lowest space and move upward.</p>-->
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l1faceg.jpg'" /></p>
	<div th:utext="${pageResources.get('s1_p4')}"></div>
	<!--<p><strong>High G</strong> is in the space between the top line on the staff; <strong>F</strong> and the ledger line that goes through <strong>High A</strong>.</p>-->

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/welcome.html'">Welcome</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l2hthtc.html'">How to Hold the Chanter</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
