<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 20 - Tune #5 - Skye Boat Song</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 20 - Tune #5 - Skye Boat Song</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>

	<!--<p><strong>T</strong>he tune we will learn in this section is <em>Skye boat</em> Song.</p>-->
	<!--<p><strong>T</strong>his is a <em>Compound Time</em> meaning that the beat note can be evenly divided by three.  In compound time each beat is a dotted CROTCHET.  A dotted CROTCHET can be evenly divided by three QUAVERS (1/8 notes).   A dot after a note adds half of that notes value.  A CROTCHET (1/4 note) is equal to two QUAVERS (1/4 notes) + 1/2 a CROTCHET  (1/4 note) is one QUAVER (1/8 note) = three QUAVERS (1/8 note).</p>-->
	<!--<p><strong>T</strong>he time signature of this tune is 6/8. There are 2 dotted CROTCHET (1/4 note) beats per bar.</p>-->
	<!--<p><strong>T</strong>he beat notes have been clearly marked with the left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot.  Also the '<strong>&</strong>' and '<strong>e</strong>' pulses have been marked and we have set the tune out in a bar by bar and a phrase by phrase method in which should assist you to memorise the tune quickly.</p>-->
	<!--<p><strong>A</strong>s with other written scores within this tutor we have bracketed together two lines of music.  The top lines shows the notes in pulses with the bottom line showing other note durations which you will need to become conversant with.  This system is inserted to assist you recognize corresponding note durations.</p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>B</strong>ar 1. Part one.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2. Part one.  The second beat is a <em>High A doubling</em> on a dotted CROTCHET High <strong>A</strong>.  The duration of this note is the beat <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> as well as the '<strong>&</strong>' and '<strong>e</strong>' pulses.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase One. Bars 1 & 2.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3.  Part one.  </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4. Part one. </p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two. Part one. Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first line part one.  Phrases one and two.  Bars 1, 2, 3 and 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 1. Part two</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2. Part 2</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one. Part two.  Bars  & 2.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3. Part two.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4. Part two.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two.  Part two.  Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one. Part two.  Phrases one and two.  Bars  2, 3 and 4.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5.  Part two.  Is exactly the same as Bar 1 of the second part.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 6.  Part two.  </p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase three.  Part two.  Bars 5 & 6.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 7.  Part two.  </p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 8.  Part two.  </p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Part two.  Bars 7 & 8.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two. Part two.  Phrases three and four.  Bars  5, 6, 7 and 8.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ines one and two. Part two.  Phrases one, two, three and four.  Bars  1 to 8.</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one of part three is exactly the same as Line one of part one.</p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 of the second line of part three are exactly the same as part one.  The ending phrase is slightly different.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.24.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ines one and two. Part three.  Phrases one, two, three and four.  Bars  1 to 8.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.25.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete tune of Skye Boat Song marked with beats <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> '<strong>&</strong>' and '<strong>e</strong>' pulse markers.</p>-->
	<!--<p><strong>E</strong>ither tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot six times per bar or use a metronome to ensure that your tempo remains steady and you play each embellishment or note at the correct time.</p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 20.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.26.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/20/20.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p><strong>O</strong>nce you feel confident with the various lines in the tune move onto the whole tune below constantly tap your feet and read the notes and there duration carefully.  The <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and '<strong>&</strong>' pulse markers have been deleted so ensure that you continue to tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and stay in time.  Print this page off and place it in your music folder.</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l20sbs/20.27.png'" class="image-container" /></p>

	<!--<p>&nbsp;</p>-->
	<!--<p align="center">Register as a purchaser of <strong>The Millennium Method CD Tutor</strong> and you will be entitled to three FREE 10 minute SKYPE lessons within the first twelve months of purchase should you need assistance with your piping progression.  Value (A$27.50).<br /><br />You must register on line and fill in the registration form to be eligible for the 30 minutes of FREE tuition.<br /><br /><a href="http://www.sydneyschoolofpipinganddrumming.com.au">www.sydneyschoolofpipinganddrumming.com.au</a></p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l620.jpg'" /></p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>The music and exercises in the CD tutor were all prepared on Celtic Pipes</strong></p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l621.jpg'" /></p>-->


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l19ctp.html'">Compound Tune Preperation</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l21tm.html'">The March of the 42nd Gordon Highlanders</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
