<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 21 - Tune #6 - The March of the 42nd Gordon Highlanders</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 21 - Tune #6 - The March of the 42nd Gordon Highlanders</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>


	<!--<p><strong>T</strong>he March of the 42nd Highlander's is a 2/4 March.  It is a simple time tune.  There are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per bar.</p>-->
	<!--<p><strong>W</strong>e will learn this bar by bar and phrase by phrase.  As with previous tunes covered in this CD tutor, this method should allow you to perfect the required technique and memorise the tune easily.</p>-->
	<!--<p><strong>W</strong>hen learning a tune in this method, you only play up to the second '<strong>&</strong>' pulse in each bar.  Any note that falls after the second '<strong>&</strong>' pulse is only played when you are playing a phrase, line or complete part.</p>-->
	<!--<p><strong>B</strong>ar 1 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>High G gracenote</em> on a <strong>Low A</strong> CROTCHET (1/4 note). The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with a Taorluath on a doted QUAVER.  You stay on this <strong>Low A</strong> for the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat and the '<strong>&</strong>' pulse.  Do not play the SEMI QUAVER (1/16 note) <strong>B</strong> until you play Phrase 1.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>

	<p>&nbsp;</p>
	<p><u>Exercise 21.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 commences with a <em>C doubling</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat which is a QUAVER (1/8 note), on the '<strong>&</strong>' pulse you play an <em>E gracenote</em> to a <strong>B</strong> QUAVER (1/8 note).  Beat two commences with a <em>C doubling</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat which is a QUAVER (1/8 note) and on the '<strong>&</strong>' pulse you move to an <strong>E</strong> QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one.  Bars 1 & 2. You now add the SEMI QUAVER (1/16 note) between Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>High G gracenote</em> on a <strong>Low A</strong> CROTCHET (1/4 note). The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with a Taorluath on a QUAVER (1/8 note) and on the '<strong>&</strong>' pulse you move to an <strong>F</strong> QUAVER (1/8 note). </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 commences with an <em>E doubling</em> on a QUAVER (1/8 note) <strong>E</strong> and on the '<strong>&</strong>' pulse you move to a <strong>C</strong> QUAVER (1/8 note).  The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with a <em>B doubling</em> on a CROTCHET <strong>B</strong> (1/4 note)</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two.  Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as Bars 1 and 2.  So phrase three is exactly the same as phrase one.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with an <em>F doubling</em> on QUAVER F (1/8 note) and on the '<strong>&</strong>' pulse you move to a QUAVER (1/8 note) <strong>High A</strong>.  The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with a <em>1/2 E doubling</em>.  It is only a <em>1/2 doubling</em> as we are coming down from <strong>High A</strong> note, so therefore cannot play either a <em>High G</em> or <em>High A gracenote</em>.  Remember that on the second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat you play the <strong>E</strong> and than it is followed by the <em>F gracenote</em>.  On the '<strong>&</strong>' pulse you move to a <strong>High A</strong> QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 8 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>1/2 C doubling</em> on QUAVER C (1/8 note) and on the '<strong>&</strong>' pulse you move to a QUAVER (1/8 note) <strong>High A</strong>.  Just as with the <em>1/2 E doubling</em> we have just reviewed in the previous bar, remember that on the actual <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <strong>C</strong> and than follow it with the <em>D gracenote</em>.  The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with another <em>1/2 C doubling</em>.  These are only <em>1/2 doubling</em> as we are coming down from <strong>High A</strong> note, so therefore cannot play either a <em>High G</em> or <em>High A gracenote</em>.  On the '<strong>&</strong>' pulse you play an <em>E gracenote</em> to a <strong>B</strong> QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Bars 7 and 8.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two of part one.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first part of The March of the 42nd Gordon Highlander's.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art 2 of the March of the 42nd Gordon Highlander's.</p>-->
	<!--<p><strong>B</strong>ars 1 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>C doubling</em> on a QUAVER (1/8 note) <strong>C</strong>.   On the '<strong>&</strong>' pulse you move to a QUAVER (1/8 note) <strong>E</strong>.  On the second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat you play an <em>E strike</em>.  The gracenote for an <em>E strike</em> is a <strong>Low A</strong>.  So all you do is lower your <strong>E</strong> finger and then raise it again.  Once you have performed this, you will be playing an <strong>E</strong> for the duration of a QUAVER (1/8 note).  On the '<strong>&</strong>' pulse you play a <em>High G gracenote</em> to an <strong>F</strong> doted SEMI QUAVER (1/32 note).  Do not play the DEMI SEMI QUAVER (1/32 note) <strong>High G</strong> until we play the whole first phrase.  </p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 commences on the beat <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> with a <em>High A doubling</em> to a QUAVER (1/8 note) <strong>High A</strong>.  On the '<strong>&</strong>' pulse you move to a QUAVER (1/8 note) <strong>E</strong>.  The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with an <em>F doubling</em> on a QUAVER (1/8 note) F and on the '<strong>&</strong>' pulse you move to a QUAVER (1/8 note) <strong>E</strong>. </p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one.  Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 is exactly the same as Bar 1 in part two.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 commences with a <em>High A doubling</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat to a QUAVER (1/8 note) <strong>High A</strong>.  On the '<strong>&</strong>' pulse you move to a QUAVER (1/8 note) <strong>C</strong>.  The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat commences with a <em>B doubling</em> on a CROTCHET <strong>B</strong> (1/4 note)</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two of part one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 7 and 8 are exactly the same as in part one.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Y</strong>ou have now covered all the bars required for part 2.</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice the complete tune diligently ensuring that you tap your feet <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> left and <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> right.</p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 21.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/21/21.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel you have the tune memorised rise to your feet and try marching and playing the tune. Here is the complete tune with out feet markers.</p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>Tune #5:</strong></p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21tm/21.24.png'" class="image-container" /></p>





</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l20sbs.html'">Skye Boat Song</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l22g.html'">Grips</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
