<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 22 - Grips</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 22 - Grips</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>

	<!--<p><strong>T</strong>he <em>grip</em> or <em>leumluath</em> (pronounced lem-lua) movement is one of the easiest movements to learn to play.  It is played exactly the same from every note with the exception of <strong>D</strong>. </p>-->
	<!--<p><strong>T</strong>o play this movement, close your chanter and sound <strong>Low G</strong>, than do a small sharp <em>D gracenote</em> effectively sounding another <strong>Low G</strong>.  The only thing that ever changes is the start and or finish notes and the movement is always performed in the same fashion except from a <strong>D</strong> note.</p>-->
	<!--<p><strong>W</strong>hen being played from a <strong>D</strong> note the <em>D gracenote</em> is substituted with a <em>b gracenote</em> just as we previously done with the <em>toarluath</em> (tor-lua) movement.  The <em>grip</em> movement is performed exactly the same as a <em>Toarluath</em> (tor-lua) movement except it does not finish with the <em>E gracenote</em>.</p>-->
	<!--<p><strong><u>N</strong>ote</u>:  As with all other embellishment and movements within this CD tutor we play the first grace note of this movement, the <em>Low G gracenote</em> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  In some tunes you will find that you will play the first <em>Low G gracenote</em> on the '<strong>&</strong>' or '<strong>e</strong>' pulse. </p>-->
	<!--<p><strong>I</strong>nitially you should practice in the time frame of six <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per bar or 6/4 time until you can perform it fluently and it feels natural to execute prior to moving onto the next exercise in this section.</p>-->
	<!--<p><strong>Low A</strong> to <em>Low A grip</em> in 6/4 time, remember to repeat the line.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.1.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.2.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>Low A</strong> to <strong>Low A</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.3.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong> to <em>B grips</em> in 6/4 time, repeating the line.  Ensure that when coming back to the B note after the second <strong>Low G</strong> that you play <strong>B</strong> cleanly and not include a small <strong>Low A</strong> note which would be a crossing sound, something we need to avoid. </p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.4.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.5.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>B</strong> to <strong>B</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.6.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>C</strong> to <em>C grip</em> in 6/4 time, repeating the line.  Ensure that when coming back to the <strong>C</strong> note after the second <strong>Low G</strong> that you play <strong>C</strong> cleanly and not include any other small notes which would be a crossing sound, something we need to avoid.</p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.7.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.8.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>C</strong> to <strong>C</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.9.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>E</strong> to E <em>grip</em> in 6/4 time, repeating the line.  Ensure that when coming back to the <strong>E</strong> note after the second <strong>Low G</strong> that you play <strong>E</strong> cleanly and not include a small <strong>Low A</strong> note which would be a crossing sound, something we need to avoid.</p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.10.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.11.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>E</strong> to <strong>E</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.12.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>F</strong> to <em>F grips</em> in 6/4 time, repeating the line.  Ensure that when coming back to the F note after the second <strong>Low G</strong> that you play <strong>F</strong> cleanly and not include a small <strong>Low A</strong> or <strong>E</strong> note which would be a crossing sound, something we need to avoid.</p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.13.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with the balance of this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.14.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>F</strong> to <strong>F</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.15.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>High G</strong> to <em>High G grips</em> in 6/4 time, repeating the line.  Ensure that when coming back to the High G note after the second <strong>Low G</strong> that you play <strong>High G</strong> cleanly and not include any other notes which would be a crossing sound something we need to avoid.</p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.16.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.18.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>High G</strong> to <strong>High G</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.18.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>High A</strong> to <em>High A grips</em> in 6/4 time, repeating the line.  Ensure that when coming back to the <strong>High A</strong> note after the second <strong>Low G</strong> that you play <strong>High A</strong> cleanly and not include any other small notes which would be a crossing sound something we need to avoid.</p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise. </p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.19.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A is CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.20.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>High A</strong> to <strong>High A</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.21.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen we do the movement on or from a <strong>D</strong>, we substitute the <em>D gracenote</em> with a <em>B gracenote</em>.  </p>-->
	<!--<p><strong>D</strong> to <em>D grips</em> in 6/4 time, repeating the line.  Ensure that when coming back to the <strong>D</strong> note after the second <strong>Low G</strong> that you play <strong>D</strong> cleanly and not include any other small notes which would be a crossing sound something we need to avoid.</p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise. </p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.22.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.23.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>D</strong> to <strong>D</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  Remember to substitute the <em>D gracenote</em> with a <em>B gracenote</em>.  </p>--><div th:utext="${pageResources.get('p2')}"></div>
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.24.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he whole <em>grip</em> scale in CROTCHET (1/4 note) duration.  Ensure that you commence the <em>grip</em> movement (the first <strong>Low G</strong>) exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.25.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong><em>G</strong>rips</em> can also be played from one note to another.  Remember, the movement (except from <strong>D</strong>) is a <strong>Low G</strong>, <em>D gracenote</em>, <strong>Low G</strong>.  The only thing that can change is the note you start on or finish on.  We normally only play <em>grips</em> to notes higher than the one we are starting on.  Exercises  21.26 to 21.37 will cover <em>grips</em> starting on one note and ending on another most commonly used in tunes.</p>-->
	<!--<p><strong>Low A</strong> to <em>B grips</em> in 6/4time, repeating the line.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.26.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p27')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.27.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.27.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>Low A</strong> to <strong>B</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p28')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.28.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.28.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong> to <em>C grips</em> in 6/4 time, repeating the line.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p29')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.29.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.29.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p30')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.30</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.30.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.30.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>B</strong> to <strong>C</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4  note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p31')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.31</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.31.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.31.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low A</strong> to <em>C grips</em> in 6/4 time, repeating the line.  Practice this until you are comfortable with the required technique before moving onto the next exercise. </p>-->
	<div th:utext="${pageResources.get('p32')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.32</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.32.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.32.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p33')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.33</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.33.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.33.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>Low A</strong> to <strong>C</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p34')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.34</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.34.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.34.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>C</strong> to E grips in 6/4 time, repeating the line.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p35')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.35</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.35.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.35.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you are fluent with this embellishment, it is time to practice and develop the speed and accuracy to what is required within an actual tune.  This exercise is in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.  </p>-->
	<!--<p><strong>E</strong>nsure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p36')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.36</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.36.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.36.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>C</strong> to <strong>E</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p37')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.37</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.37.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.37.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>Low A</strong> to each note above in the scale except D in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  </p>-->
	<!--<p><strong>P</strong>ractice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p38')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.38</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.38.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.38.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>B</strong> to each note above in the scale except D in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p39')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.39</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.39.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.39.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>Low A</strong> to each note above in the scale except D in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p40')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.40</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.40.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.40.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>D</strong> to each note above in the scale in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat. Do not forget to substitute the D gracenote with a B gracenote. Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p41')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.41</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.41.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.41.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>E</strong> to each note above in the scale in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p42')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.42</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.42.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.42.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> <em>grip</em> from <strong>F</strong> to each note above in the scale and then <strong>High G</strong> to <strong>High A</strong> in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is the duration of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  Ensure that you commence the first <strong>Low G</strong> of the <em>grip</em> movement exactly on the right foot <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  Practice this until you are comfortable with the required technique before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p43')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.43</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.43.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.43.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise is to play a <em>grip</em> from every note to <strong>E</strong>.  This movement is used in Piobaireachd, the classical music of the bagpipe. </p>-->
	<div th:utext="${pageResources.get('p44')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.44</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.44.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.44.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he last exercise in the section demonstrates the placement of a <em>grip</em> from <strong>C</strong> to <strong>E</strong> which commences on the '<strong>&</strong>' pulse. </p>-->
	<div th:utext="${pageResources.get('p45')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 22.45</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22g/22.45.png'" class="image-container"  /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/22/22.45.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>



















</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l21tm.html'">The March of the 42nd Gordon Highlanders</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l23wtbio.html'">When the Battle is O'er</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
