<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 23 - Tune #7 - When the Battle is O'er</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 23 - Tune #7 - When the Battle is O'er</h1>

	<!--<p><strong>When Battle Is O'er</strong>,  is a 3/4 March.  It is a simple time tune.  There are three CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per bar.  Simple time means that the beat note can be evenly divided by two QUAVERS (1/8 notes).  We count Simple Triple time in <strong>1 & 2 & 3 &</strong>. </p>-->
	<!--<p><strong>W</strong>e will learn this bar by bar and phrase by phrase.  As with previous tunes covered in this CD tutor, this method should allow you to perfect the required technique and memorize the tune easily.</p>-->
	<!--<p><strong>W</strong>hen learning a tune in this method, you only play up to the second '<strong>&</strong>' pulse in each bar.  Any note that falls after the second '<strong>&</strong>' pulse is only played when you are playing a phrase, line or complete part.</p>-->
	<!--<p><strong>B</strong>ar 1 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>High G gracenote</em> on a dotted QUAVER <strong>Low A</strong>.  You remain on this note until you hear the '<strong>&</strong>' pulse.  After the '<strong>&</strong>' pulse you play a B SEMI QUAVER (1/16 note).  On the second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat you play a <em>grip</em> to <strong>C</strong>, precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  The note is a CROTCHET (1/4 note).  On the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>High A doubling</em> to a CROTCHET (1/4 note) <strong>High A</strong>. </p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 commences a <em>1/2 F doubling</em> to an <strong>F</strong> note which is a QUAVER (1/8 note) in duration.  As you are going to an <strong>F</strong> from a <strong>High G</strong> note, you can not play the normal <em>High G gracenote</em> that commences an <em>F doubling</em>.  On the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat you play an <strong>F</strong> and then follow it with a <em>High G gracenote</em>.  On the '<strong>&</strong>' pulse you move to an <strong>E</strong> QUAVER (1/8 note).  On the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>C doubling</em> to a <strong>C</strong> CROTCHET (1/4 note).  The third <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat in this bar is a <em>Low G gracenote</em> to a <strong>Low A</strong> CROTCHET (1/4 note). </p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one.  Bars 1 & 2. </p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>High G gracenote</em> on a <strong>Low A</strong> dotted QUAVER. You remain on this note until you hear the '<strong>&</strong>' pulse.  After hearing the '<strong>&</strong>' pulse you move to a <strong>B</strong> SEMI QUAVER. (1/16 note).  On the second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat you play a grip to <strong>C</strong>, precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat.  The note is a CROTCHET (1/4 note).  On the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>E doubling</em> to a dotted QUAVER <strong>E</strong>.  You remain on this note until you hear the '<strong>&</strong>' pulse.  Do not play the <strong>C</strong> SEMI QUAVER (1/16 note) until you play the complete phrase. </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 commences with a <em>B doubling</em> on a QUAVER (1/8 note) <strong>B</strong>.   On the '<strong>&</strong>' pulse you play a <em>Low G gracenote</em> to a <strong>Low A</strong> QUAVER (1/8 note).  On the second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a grip to a CROTCHET (1/4 note) <strong>B</strong>.  The third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is another CROTCHET <strong>B</strong> (1/4 note).  The two <strong>B's</strong> are joined by a Tie or a bind. </p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two.  Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as Bars 1 and 2.  Phrase three is exactly the same as phrase one.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7 is exactly the same as Bar 3.  </p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 8 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat with a <em>High G gracenote</em> to a dotted QUAVER <strong>B</strong>.  You remain on this note until you hear the '<strong>&</strong>' pulse.  After hearing the '<strong>&</strong>' pulse you play a <em>D gracenote</em> to a <strong>C</strong> SEMI QAUVER (1/16 note).  The second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat is a <em>Low G gracenote</em> to a <strong>Low A</strong> CROTCHET (1/4 note).  The third <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat is another <strong>Low A</strong> CROTCHET (1/4 note).  The two <strong>Low A's</strong> are joined by a tie or bind.  </p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Bars 7 and 8.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/2311.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two of part one.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first part of <strong>When The Battle Is O'er</strong>.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art two of <strong>When The Battle Is O'er</strong>.</p>-->
	<!--<p><strong>B</strong>ar 1 commences on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat with a <em>E doubling</em> on a dotted QUAVER <strong>E</strong>.   You remain on this note until you hear the '<strong>&</strong>' pulse.  After hearing the '<strong>&</strong>' pulse you move to a <strong>C</strong> SEMI QUAVER (1/16 note).  The second <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat is a <em>B doubling</em> to a CROTCHET (1/4 note) <strong>B</strong>.  On the third <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat you play a <em>Low G gracenote</em> to a <strong>Low A</strong> CROTCHET (1/4 note).  </p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 commences by playing a <em>High A doubling</em> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat to a dotted QUAVER <strong>High A</strong>.  You remain on this note until you hear the '<strong>&</strong>' pulse.  After hearing the '<strong>&</strong>' pulse you move to a SEMI QUAVER (1/16 note) <strong>High G</strong>.  On the second <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a <em>F doubling</em> to a CROTCHET (1/4 note) <strong>F</strong>.  As you are coming from a <strong>High G</strong> note, you can not commence the <em>F doubling</em> in the normal manner by playing a commencing <em>High G gracenote</em>.  This first <em>High G gracenote</em> must be substituted with a <em>High A (thumb) gracenote</em>.  The third <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat is an <em>E doubling</em> to a CROTCHET (1/4 note) <strong>E</strong>. </p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--
	<p>&nbsp;</p>
	<p align="center">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="400" height="300" id="tech" align="middle">
        <param name="allowFullScreen" value="true"/>
		<param name="allowScriptAccess" value="sameDomain" />
		<param name="movie" value="../video/cool.swf?xml_path=../video/23.15.xml" />
		<param name="quality" value="high" />
        <param name="wmode" value="transparent">
		<embed src="/themethod/resources/video/cool.swf?xml_path=../video/23.15.xml" quality="high" wmode="transparent" width="400" height="300" name="tech" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
	</p>
	<p>&nbsp;</p>
	//-->
	<!--<p><strong>P</strong>hrase one.  Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 and 4 are exactly the same as phrase two, bars 3 and 4 from part one.  </p>-->
	<!--<p><strong>P</strong>hrase two.  Bars 4 and 5.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art two line one.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase three is exactly the same as Bars 1 and 2 in part two</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase 4.  Bars 7 and 8 are exactly the same as bars 7 and 8 from in part one.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art two line two.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete second part.</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice the complete tune diligently ensuring that you tap your feet <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> left and <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> right.</p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 23.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/23/23.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel you have the tune memorised rise to your feet and try marching and playing the tune. Here is the complete tune with out feet or '<strong>&</strong>' markers.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><strong>Tune #7:</strong></p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23wtbio/23.24.png'" class="image-container" /></p>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l22g.html'">Grips</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l24plb.html'">Paddy's Leather Breeches</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
