<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 24 - Tune #8 - Paddy's Leather Breeches</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 24 - Tune #8 - Paddy's Leather Breeches</h1>

	<!--<p><strong>T</strong>his is a <em>Compound Time</em> tune, meaning that each beat note can be evenly divided by three.  In <em>Compound Time</em> each beat is a doted CROTCHET.  A doted CROTCHET can be evenly divided by three QUAVERS (1/8 note).   A dot after a note adds half of that notes value.  So a CROTCHET (1/4 note) is equal to two QUAVER (1/8 notes) + 1/2 a CROTCHET (1/4 note) is one QUAVER (1/8 note) = three QUAVERS (1/8 notes).</p>-->
	<!--<p><strong>T</strong>he time signature of this tune is 6/8. There are two doted CROTCHET  beats per bar.</p>-->
	<!--<p><strong>T</strong>he beat notes have been clearly marked with the <strong>1</strong> and <strong>2</strong>.  Paddy's Leather Breeches is a Jig.  As the tempo (speed) of a Jig is quite rapid, we tend to only beat one foot, not left and right as we do with a march.  The '<strong>&</strong>' and '<strong>e</strong>' pulses have been marked and we have set the tune out in a bar by bar and a phrase by phrase method in which should assist you to memorise the tune quickly.  Jigs are the easiest style of tune to learn.  A doted CROTCHET has three QUAVER (1/8 note) pulses, a CROTCHET (1/4 note) has two pulses and a QUAVER (1/8 note) has one pulse.</p>-->
	<!--<p><strong>B</strong>ar 1.  The first group of notes is a <em>G, D and E gracenote</em> on each QAUVER (1/8 note) pulse on <strong>B</strong>.  The second group of notes is a <em>doubling</em> on an <strong>F</strong> CROTCHET (1/4 note), two pulses and a QUAVER (1/8 note) <strong>E</strong> on the third pulse.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2.  The first group of notes are three QUAVERS (1/8 note) pulses made up of a <em>High G gracenote</em> note <strong>F</strong>, a plain <strong>B</strong> and the third pulse a <em>Low G strike</em> back to <strong>B</strong>.  The second group of notes is a <em>doubling</em> on an F CROTCHET (1/4 note), two pulses and a QUAVER (1/8 note) <strong>E</strong> on the third pulse.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase One. Bars 1 & 2.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 is exactly the same as Bar 1. </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4.  The first group of notes are three QUAVERS (1/8 note) pulses.  A <em>High G gracenote</em> on <strong>C</strong> for the first pulse, a <em>D gracenote</em> to <strong>Low A</strong> on the second pulse and an <em>E gracenote</em> on <strong>Low A</strong> for the third pulse.  The second group of notes is an <em>E</em> doubling on an <strong>E</strong> CROTCHET (1/4 note), two pulses followed by a QUAVER (1/8 note) <strong>C</strong> on the third pulse.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase 2. Part one. Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first line of part one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 5 and 6 are exactly the same as Bars 1 and 3.  Phrase three is exactly the same as Phrase one.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7.  The first group of notes are three QUAVER (1/8 note) pulses.  A <em>High G gracenote</em> on <strong>F</strong> for the first pulse, a <strong>High G</strong> on the second pulse and a <strong>High A</strong> on third pulse.  The second group are another three QUAVER (1/8 note) pulses.  An <strong>E</strong> on the first pulse, an <strong>F</strong> on the second and a <strong>High A</strong> on the third pulse.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar  8 is exactly the same as Bar 4 except as you are coming from a <strong>High A</strong>, the first <strong>C</strong> QUAVER (1/8 note) pulse is plain.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ote that Phrase 4.  Bars 7 and 8 are the same in each and every part of <strong>Paddy's Leather Breeches</strong>.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two.  Part one.  Bars 5 to 8.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art one.  Lines one and two.  Phrases one to four.  Bars 1 to 8.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p><strong>PART 2:</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 1. The first note is a doted CROTCHET.  The duration of this is the <strong>1</strong>, the '<strong>&</strong>' and the '<strong>e</strong>' pulse.  The second group is a CROTCHET (1/4  note) <strong>F</strong>, which has a <em>1/2 doubling</em> on it as you are coming from a <strong>High A</strong>, and the normal commencing <em>High G gracenote</em> can not be executed.  The third pulse is a QUAVER (1/8 note) <strong>E</strong>.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 is exactly the same as Bar 2 in the first part. </p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art two.  Phrase one.  Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 3 is the same as Bar 1 in the second part.  Bar 4 is exactly the same as Bar 4 from part one.  You have covered everything you need to, to play the first line of part two.</p>-->
	<!--<p><strong>L</strong>ine one.  Phrase one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as Bars 1 and 2 in Part two.  Bars 7 and 8 are exactly the same as Bars 7 and 8 from part one. </p>-->
	<!--<p><strong>L</strong>ine two.  Phrases three and four.  Bars 5 to 8. </p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art two complete.  Lines one and two.  Phrases one, two, three and four.  Bars 1 to 8.  </p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p><strong>PART 3:</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 1. Part three.  The first group of notes is a <em>G, D and E gracenote</em> on each QUAVER (1/8 note) pulse on <strong>B</strong>.  The second group of notes is another is a <em>G, D and E gracenote</em> on each QAUVER (1/8 note) pulse on <strong>B</strong>. </p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2.  The first group of notes is a <em>G, D and E gracenote</em> on each QUAVER (1/8 note) pulse on <strong>B</strong>.  The second group is a CROTCHET (1/4 note) <strong>F</strong>, which has a <em>doubling</em> on it.  The third pulse is a QUAVER (1/8 note) <strong>E</strong>.   </p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one.  Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3.  The first group of notes is a <em>G, D and E gracenote</em> on each QUAVER (1/8 note) pulse on <strong>B</strong>.  The second group of notes is a <em>High G gracenote</em> on a <strong>B</strong> QUAVER (1/8 note) on the first pulse, a <strong>C</strong> QUAVER (1/8 note) on the second pulse and a <strong>D</strong> QUAVER (1/8 note) on the third pulse.   </p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 is exactly the same as Bar 4 in the first and second parts.</p>-->
	<!--<p><strong>P</strong>hrase two.  Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.24.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.25.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as Bars 1 and 2 in Part three.  Bars 7 and 8 are exactly the same as Bars 7 and 8 from part one.</p>-->
	<!--<p><strong>P</strong>art three complete.  Lines one and two.  Phrases one, two, three and four.  Bars 1 to 8.  </p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.26.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p><strong>PART 4:</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 1.  The first group of notes are three QUAVER (1/8 note) pulses.  A <strong>High A</strong> on the first pulse, a <strong>High G</strong> on the second pulse and a <strong>High A</strong> on third pulse.  The second group is a CROTCHET (1/4  note) <strong>F</strong>, which has a <em>1/2 doubling</em> on it as you are coming from a <strong>High A</strong>, and the normal commencing <em>High G gracenote</em> can not be executed.  The third pulse is a QUAVER (1/8 note) <strong>E</strong>.</p>-->
	<div th:utext="${pageResources.get('p27')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.27.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.27.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 is exactly the same as in Part one, two and three.  Phrase one.  Bars 1 and 2.</p>-->
	<div th:utext="${pageResources.get('p28')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.28.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.28.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 is exactly the same as Bar 1 in part four.  Bar 4 is exactly the same as Bar 4 in parts one, two and three.</p>-->
	<!--<p><strong>L</strong>ine one.  Phrases one and two.  Bars 1 to 4.</p>-->
	<div th:utext="${pageResources.get('p29')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.29.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.29.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as Bars 1 and 2 in Part four.  Bars 7 and 8 are exactly the same as Bars 7 and 8 from part one.</p>-->
	<!--<p><strong>P</strong>art four complete.  Lines one and two.  Phrases one, two, three and four.  Bars 1 to 8.  </p>-->
	<div th:utext="${pageResources.get('p30')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.30</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.30.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.30.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete score of <strong>Paddy's Leather Breeches</strong>.  Practice this diligently using a metronome to ensure you place the note or embellishments on the correct pulse.</p>-->
	<div th:utext="${pageResources.get('p31')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 24.31</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.31.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/24/24.31.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel confident with the various lines in the tune move onto the whole tune below constantly tap your feet and read the notes and there duration carefully.  The feet and the '<strong>&</strong>' pulse markers have been deleted so ensure that you continue to tap your feet and stay in time. Print this page off and place it in your music folder.</p>-->
	<!--<p><strong>E</strong>ach week attempt to move the metronome speed up by a few beats per minutes.  Once you have mastered correctly playing the tune at that speed, raise the tempo again.</p>-->
	<!--<p><strong>T</strong>his is approximately the speed people at your playing stage would play a jig at.  It may take several months to reach this speed, but just keep working at it.</p>-->
	<div th:utext="${pageResources.get('p32')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24plb/24.32.png'" class="image-container" /></p>




</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l23wtbio.html'">When the Battle is O'er</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l25p.html'">100 Piper's</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
