<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 25 - Tune #9 - 100 Piper's</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 25 - Tune #9 - 100 Piper's</h1>

	<!--<p><strong>T</strong>he tune we will learn in this section is the 6/8 march <strong>100 Piper's</strong>.</p>-->
	<!--<p><strong>T</strong>his is a <em>Compound Time</em> tune, meaning the beat note can be evenly divided by 3.  In <em>compound time</em> each beat is a doted CROTCHET.  A doted CROTCHET can be evenly divided by three QUAVERS (1/8 notes).   A dot after a note adds half of that notes value.  A CROTCHET is equal to two QUAVERS (18 notes) + 1/2 a CROTCHET (1/4 note) is one QUAVER (1/8 note) = three QUAVERS (1/8 notes).</p>-->
	<!--<p><strong>T</strong>he time signature of this tune is 6/8. There are 2 doted CROTCHET beats per bar.</p>-->
	<!--<p><strong>T</strong>he beat notes have been clearly marked with the left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot.  Also the '<strong>&</strong>' and '<strong>e</strong>' pulses have been marked.  We have set the tune out in a bar by bar and a phrase by phrase method which should assist you to memorise the tune quickly.</p>-->
	<!--<p><strong>A</strong>s with the other Compound tunes already covered in this CD tutor, we will learn this tune with six pulses per bar.  As you become more conversant with the tune and start to increase the tempo you will only <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats per bar.  With each full beat being the value of a doted CROTCHET.   Your aim should be to eventually have the tempo at around 82 beats per minute.  If you are looking at joining a band, each band has a different idea of what tempo they will play there marches at, but 82 BPM will give you a good starting point.  Remember, more important than the tempo is ensuring you hold the compound rhythm and play the third pulse exactly in the correct place.</p>-->
	<!--<p><strong>W</strong>hen learning each bar of this tune we will refer to pulses per bar.  We will detail what happens on each pulse.</p>-->
	<!--<p><strong>B</strong>ar 1. Part one.  Pulse one is an <em>F doubling</em>.  Pulse two is an <strong>F</strong> note.  Pulse four is a <em>G gracenote</em> on <strong>Low A</strong>.  Pulse five is a <strong>Low A</strong> note.  After the fifth pulse you play a <em>D gracenote</em> to a SEMI QUAVER (1/16 note) <strong>B</strong>.  The sixth pulse is an <em>E gracenote</em> to a <strong>Low A</strong>.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.1.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2. Part one.  Pulse one is a <em>B doubling</em>.  Pulse two is a <strong>B</strong> note.  Pulse three is a <strong>D</strong> SEMI QUAVER (1/16 note).  Pulse four is a <em>Light D strike</em>.  Pulse five is a <strong>D</strong> QUAVER (1/8 note).  Pulse six is a <em>High A</em> QUAVER (1/8 note).  </p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.2.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase One. Bars 1 & 2.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.3.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3.  Part one.  Pulse one is a <em>Thumb Strike</em> on <strong>High A</strong>.  Pulse two is a <strong>High A</strong> note.  After the second pulse you play a <strong>High G</strong> SEMI QUAVER (1/16 note).  Pulse three is a <em>High A (Thumb) gracenote</em> to an <strong>F</strong> QUAVER (1/8 note).  Pulse four is an <em>F doubling</em>.  Pulse five is an <strong>F</strong> note.  After the fifth pulse you play an <strong>E</strong> SEMU QUAVER (1/16 note).  Pulse six is a <strong>D</strong> QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.4.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4. Part one. Pulse one is a <em>G gracenote</em> to a CROTCHET (1/4 note) <strong>F</strong> which also incorporates the second pulse. Pulse three is an <strong>E</strong> QUAVER (1/8 note).  Pulse four is an <em>E doubling</em>.  Pulse four is an <strong>E</strong> note.  After the fourth pulse you play a <strong>D</strong> SEMI QUAVER (1/16 note).  Pulse six is a <em>High G gracenote</em> to an E QUAVER (1/8 note).    </p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.5.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two. Part one. Bars 3 & 4.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.6.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he first line part one.  Phrases one and two.  Bars 1, 2, 3 and 4.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.7.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4 and 5. Part one.  Are exactly the same as Phrase one, Bars 1 and 2 from the first line.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.8.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7.  Part one.  Pulse one is a <em>Thumb Strike</em> on <strong>High A</strong>.  Pulse two is a <strong>High A</strong> note.  After the second pulse you play a <strong>High G</strong> SEMI QUAVER (1/16 note).  Pulse three is a <em>High A (Thumb) gracenote</em> to an <strong>F</strong> QUAVER (1/8 note).  Pulse four is a <em>High G gracenote</em> to an <strong>E</strong> note.  Pulse five is an <strong>E</strong> note.  After the fifth pulse you play an <strong>F</strong> SEMI QUAVER (1/16 note).  Pulse six is a <em>High G gracenote</em> to an E QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.9.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 8.  Part one.  Pulse one is a <em>D throw</em> to a doted <strong>D</strong> CROTCHET which incorporates pulses one, two and three.  Pulse four is a <em>light D strike</em> to CROTCHET (1/4 note) <strong>D</strong> the first time through which incorporates pulses one and two.  The missing pulse is the <strong>E</strong> QUAVER (1/8 note) anacrusis at the start of the tune.  In the double forte (second time through the part) the fifth pulse is a <strong>D</strong> note.  After the fifth pulse you play a <strong>C</strong> SEMI QUAVER (1/16 note) prior to playing the sixth pulse which is a <em>High G gracenote</em> to a <strong>D</strong> QUAVER (1/8 note).  The <strong>C</strong> SEMI QUAVER (1/16 note) and the sixth pulse are the anacrusis that commences the second part. </p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.10.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Line two.  Part one.  Bars 7 and 8.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.11.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two. Part one.  Phrases three and four.  Bars 5, 6, 7 and 8</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.12.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>art one.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.13.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 1.  Part two.  Pulse one is a <em>High G gracenote</em> to an <strong>E</strong> CROTCHET (1/4 note) which is also the second pulse.  Pulse three is a <em>grip</em> to an <strong>E</strong> QUAVER (1/8 note).  Pulse four is an <em>E doubling</em>.  Pulse five is also an <strong>E</strong> note.  After the fifth pulse you play a <strong>C</strong> SEMI QUAVER (1/16 note).  Pulse six is a <em>High G gracenote</em> to an <strong>E</strong> QUAVER (1/8 note). </p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.14.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 2.  Part two.  Pulse one is an <em>F doubling</em> to an <strong>F</strong> CROTCHET (1/4 note) which is also pulse two.  Pulse three is a <strong>High A</strong> QUAVER (1/8 note).  Pulse four is a <em>Thumb Strike</em> on <strong>High A</strong>.  Pulse five is a <strong>High A</strong> note.  After the fifth pulse you play a <strong>High G</strong> SEMI QUAVER (1/16 note).  Pulse six is a <em>High A (Thumb) gracenote</em> to an <strong>F</strong> QUAVER (1/8 note).  </p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.15.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase one.  Part two.  Bars 1 and 2.  </p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.16.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3.  Part two.  Pulse one is an <em>E doubling</em>.  Pulse two is an <strong>E</strong> note.  After the second pulse you play a <strong>D</strong> SEMI QUAVER (1/16 note).  The third pulse is a <strong>C</strong> QUAVER (1/8 note).  Pulse four is a <em>C doubling</em>.  The fifth pulse is a <strong>C</strong> note.  After the fifth pulse you play <em>High G gracenote</em> to a <strong>B</strong> SEMI QUAVER (1/16 note).  The sixth pulse is a <em>D gracenote</em> to a <strong>Low A</strong> QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.17.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 4.  Part two.  Pulse one is a <em>High G gracenote</em> to a doted <strong>B</strong> CROTCHET.  This will be pulses one, two and three.  The fourth pulse is a Taorluath on <strong>B</strong>.  The fifth pulse is a <strong>B</strong> note.  After the fifth pulse you play a <strong>C</strong> SEMI QUAVER (1/16 note).  The sixth pulse is a <em>High G gracenote</em> to a <strong>D</strong> QUAVER (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.18.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase two.  Part two.  Bars 3 and 4.  </p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.19.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine one.  Part two.  Phrases one and two.  Bars 7 & 8.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.20.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ars 5 and 6 are exactly the same as Bars 1 and 2 in part two.  Phrase three is exactly the same as Phrase one.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.21.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 7.  Part two.  Pulse one is an <em>E doubling</em>.  Pulse two is an <strong>E</strong> note.  After the second pulse you play a <strong>D</strong> SEMI QUAVER (1/16 note).  The third pulse is a <strong>C</strong> QUAVER (1/8 note).  Pulse four is a <strong>C</strong> QUAVER (1/4 note).  Pulse four is a <em>High G gracenote</em> on a <strong>B</strong> SEMI QUAVER (1/16 note).  You move straight off this <strong>B</strong> SEMI QUAVER (1/16 note) with a <em>D gracenote</em> to <strong>Low G</strong>.  You must be on the <strong>Low G</strong> note prior to the fifth pulse. The sixth pulse is a <em>D gracenote</em> to a <strong>B</strong> QUAVER (1/4 note).   </p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.22.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 8. Part two.  Pulse one is a <em>High G gracenote</em> to a doted <strong>Low A</strong> CROTCHET.  This will incorporate pulse one, two and three.  The fourth pulse is a <em>birl</em> on <strong>Low A</strong>.  The first time through this <strong>Low A</strong> is also the fifth pulse.  After the fifth pulse you move to a <strong>C</strong> SEMI QUAVER (1/16 note) and on the sixth pulse you play a <em>High G gracenote</em> to a <strong>D</strong> QUAVER (1/8 note).  The <strong>C</strong> SEMI QUAVER (1/16 note) and D QUAVER (1/8 note) are the anacrusis to the second part.  The second time through the second part (the double forte) the fourth pulse is the <em>birl</em> to a doted <strong>Low A</strong> CROTCHET, for pulses four, five and six.  </p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.23.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>hrase four.  Bars 7 and 8.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.24.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ine two.  Part two.  Phrases three and four. Bars 5.6.7 and 8.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.25.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ines one and two. Part three.  Phrases one two three and four.  Bars 1 to 8.</p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.26.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he whole of <strong>100 Piper's</strong> marked with beats <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> '<strong>&</strong>' and '<strong>e</strong>' pulse markers.</p>-->
	<!--<p><strong>E</strong>ither tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot 6 times per bar or use a metronome to ensure that your tempo remains steady and you play each embellishment or note at the correct time.</p>-->
	<div th:utext="${pageResources.get('p27')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 25.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.27.png'" class="image-container"/></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.27.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel confident with the various lines in the tune move onto the whole tune below constantly tap your feet and read the notes and there duration carefully.  The <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and '<strong>&</strong>' pulse markers have been deleted so ensure that you continue to tap your <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> feet and stay in time.  Print this page off and place it in your music folder.</p>-->
	<div th:utext="${pageResources.get('p28')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25p/25.28.png'" class="image-container"/></p>

	<!--<p>&nbsp;</p>-->
	<!--&lt;!&ndash;<p align="center">Register as a purchaser of <strong>The Millennium Method CD Tutor</strong> and you will be entitled to three FREE 10 minute SKYPE lessons within the first twelve months of purchase should you need assistance with your piping progression.  Value (A$27.50).<br /><br />You must register on line and fill in the registration form to be eligible for the 30 minutes of FREE tuition.<br /><br /><a href="http://www.sydneyschoolofpipinganddrumming.com.au">www.sydneyschoolofpipinganddrumming.com.au</a></p>&ndash;&gt;-->
	<!--<div th:utext="${pageResources.get('p29')}"></div>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l620.jpg'" /></p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p>&nbsp;</p>-->
	<!--&lt;!&ndash;<p><strong>The music and exercises in the CD tutor were all prepared on Celtic Pipes</strong></p>&ndash;&gt;-->
	<!--<div th:utext="${pageResources.get('p30')}"></div>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l621.jpg'" /></p>-->


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l24plb.html'">Paddy's Leather Breeches</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l26als.html'">Auld Lang Synne</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
