<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 26 - Tune #10 - Auld Lang Synne</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 26 - Tune #10 - Auld Lang Synne</h1>

	<!--<p><strong>C</strong>ongratulations, you have completed the first 25 sections of the CD tutor.</p>-->
	<!--<p><strong>T</strong>his is the last and final tune we suggest that you learn.  If you haven't already, you should be thinking about purchasing a set of bagpipes.  Progressing to pipes is a big step in your playing journey and also as a personal expense.  Check prices from various suppliers, and always ensure that you compare the prices from one supplier against another by ensuring that they are quoting you on not only the same style of bagpipe but also that the quote has the same accessories.  Bag cover, chords, reeds, pipe case etc.   </p>-->
	<!--<p><strong>H</strong>aving taught 100's of people at my local band over the last three decades I would suggest the following:</p>-->
	<!--<ul>-->
		<!--<li>Check that the band you're going to can assist your learning advancement if you do not have a local tutor or SKYPE tutor you are using.</li>-->
		<!--<li>Ensure that the band your thinking of joining caters for our needs and desires.  If you wish to be a social player only and the band is solely a contest band, down the track this will lead to disappointment for both you and the band.</li>-->
	<!--</ul>-->
	<!--<p><strong>I</strong>n this section we are not going to break the tune down as we have in previous sections.  In the first exercise we have marked with the left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> feet markers as well as the '<strong>&</strong>' pulse.  </p>-->
	<!--<p><strong>I</strong>f you are struggling to get through any part of the tune, return to what ever section in the CD tutor covers the specific section of the tune what you are having trouble with. </p>-->
	<!--<p>EXAMPLE:</p>-->
	<!--<ul>-->
		<!--<li>If you are not able to play the <em>High A doubling</em> correctly and on the beat, than return to Section 5, the <em>Doublings</em>.  </li>-->
		<!--<li>If you are having trouble with the tied note followed by the '<strong>&</strong>' pulse <em>D gracenote</em> return to section 10, the tune <em>Cutting Bracken</em>.</li>-->
	<!--</ul>-->
	<!--<p><strong>I</strong>f you progress through this section without too much trouble and can sight read and play the tune in time and rhythmically, and are interested in playing in a band, now would be a good time to start checking out bands in your area.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 26.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l26als/26.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/25/25.28.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce you feel confident with sight reading and playing the above tune through with the beats <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and the '<strong>&</strong>' pulses in the correct places then rise to your feet and try marching to the tune and play it from memory. </p>-->
	<!--<p><strong>P</strong>rint this page off and place it in your music folder.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l26als/26.2.png'" class="image-container" /></p>



</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l25p.html'">100 Piper's</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
