<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 2 - How to Hold the Chanter</td>
	</tr>
</table>

<br clear="all" />


<!-- START CONTENT -->
<div id="content">
	<!--<h1>Session 2 - How to Hold the Chanter</h1>-->

	<!--<p><strong>I</strong>t is imperative that the positioning of your fingers is carried out in the manner described.  This is to ensure that as you progress toward playing tunes and embellishments you will have the best possible opportunity to play cleanly and accurately without forming any bad habits along the way.</p>-->
	<!--<p><strong>Y</strong>ou will use seven of your eight fingers and both thumbs to hold the chanter.</p>-->
	<!--<p><strong>A</strong>re you left or right handed?  The hand which you would use to write with is normally deemed as your strongest or most favored.  This hand should go on the bottom of the chanter.</p>-->
	<!--<p><strong>O</strong>nce you have determined which hand will go on the bottom you start by placing your fingers on the chanter in the following manner:</p>-->
	<!--<p><strong>The top hand is put on in the following manner.</strong></p>-->
	<!--<p><strong>S</strong>tart by placing the index finger; the <strong>High G</strong> finger on the top hole of the chanter where the 7 holes are visible. The hole should be underneath somewhere between the first joint and the pad underneath your High G fingernail.</p>-->
	<div th:utext="${pageResources.get('headline_p1')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l21.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>T</strong>he next finger to be placed on the chanter is the <strong>E</strong> finger: the ring finger of your top hand. The hole is covered by the pad of our finger, underneath the fingernail.</p>-->
	<div th:utext="${pageResources.get('session2_p2')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l22.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>Y</strong>ou do not use the little finger on your top hand. Slightly curl your little finger under so it does not hit the chanter or get in the way of the index finger on the bottom hand. It is imperative that your little finger and the <strong>E</strong> finger on your top hand work together as one. When your <strong>E</strong> finger comes up, the little finger goes up with it, when the <strong>E</strong> finger goes down the little finger on your top hand also goes down. They should work together as one, if one is up and the other is down, the tendons within your hand will actually work against each other and may impede your ability to play effectively or may stop you reaching your full playing potential.</p>-->
	<div th:utext="${pageResources.get('session2_p3')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l23.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>Y</strong>our thumb: the <strong>High A</strong> is placed the next. It is placed at a 45&deg; angle. This is the top hole on the chanter and is above the <strong>High G</strong> hole on the opposite side.</p>-->
	<div th:utext="${pageResources.get('session2_p4')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l24.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>T</strong>he middle finger on your top hand: the <strong>F</strong> finger is next to be placed on the chanter. This is placed on at no set point but should be placed on straight.</p>-->
	<!--<p>Try not play using the tip of your <strong>F</strong> finger, always attempt to keep your fingers straight.</p>-->
	<div th:utext="${pageResources.get('session2_p5')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l25.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>The bottom hand is put on in the following manner.</strong></p>-->
	<!--<p><strong>T</strong>he first hole we cover on the bottom hand is your index finger: the <strong>D</strong> finger. The hole should be underneath somewhere between the first joint and the second joint of the <strong>D</strong> finger.</p>-->
	<div th:utext="${pageResources.get('session2_p6')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l26.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>T</strong>he next finger to go on the bottom hand is your little finger, the <strong>Low A</strong> finger. As with the <strong>E</strong> finger on the top hand, the hole is covered with the <strong>Low A</strong> finger which is positioned directly underneath the pad of your <strong>Low A</strong> finger, opposite your fingernail.</p>-->
	<div th:utext="${pageResources.get('session2_p7')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l27.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>Y</strong>ou then place your thumb on your bottom hand at a 45&deg; angle and place it down far enough on the chanter that it is visible just under your <strong>D</strong> finger.</p>-->
	<div th:utext="${pageResources.get('session2_p8')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l28.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<!--<p><strong>T</strong>he final two fingers to go on are the middle two fingers of the bottom hand: your <strong>B</strong> and <strong>C</strong> fingers. They are placed on the chanter in no specific fashion but should be placed on straight.</p>-->
	<div th:utext="${pageResources.get('session2_p9')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l29.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>
	<p>&nbsp;</p>
	<!--<p align="center"><strong>DO NOT CURL YOUR FINGERS &#45;&#45; KEEP THEM STRAIGHT.</strong></p>-->
	<div th:utext="${pageResources.get('session2_bottom')}"></div>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l1wtbnap.html'">Where the Bagpipe Notes are Positioned</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn.html'">Sounding the Nine Notes</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
