<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

<!---->
<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 3 - Sounding the Nine Notes &raquo; D Note</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 3 - Sounding the Nine Notes &raquo; D Note</h1>

	<!--<p><strong>T</strong>o sound the note <strong>D</strong> go though the steps you have in playing <strong>C</strong>.  The next step, like the first three notes you learnt is the same process, just lift up your next finger, the <strong>D</strong> finger.  You should now have all fingers up on your bottom hand with the exception of your <strong>Low A</strong> finger.</p>-->
	<div th:utext="${pageResources.get('s3_D_p1')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l65.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>

	<!--<table class="sofT" cellspacing="0" align="center" style="line-height: 1.5em;">-->
		<!--<tr>-->
			<!--<td class="helpHed" width="75%">The Low-A Note Finger Position</td>-->
			<!--<td class="helpHed" width="25%" style="text-align: center;">Hole</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Thumb (A)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Index Finger (G)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Middle Finger (F)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Ring Finger (E)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Index Finger (D)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Middle Finger (C)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Ring Finger (B)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Pinky Finger (A)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('s3_D_tb')}"></div>
	<p>&nbsp;</p>

	<!--<p><strong>O</strong>nce you can obtain a steady tone on <strong>D</strong> you must blow it for four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.</p>-->
	<!--<p><strong><u>Note</u></strong>:  You must commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time.</p>-->
	<!--<p><strong>T</strong>he duration of the note placed on the <strong>D</strong> line (the fourth line from the bottom) is worth four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  This is known as a SEMIBREVE (whole note).</p>-->
	<!--<p><strong>W</strong>e will commence this exercise by learning to play a <strong>D</strong> note in SEMIBREVE (whole note) four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration.</p>-->
	<div th:utext="${pageResources.get('s3_D_p2')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'"></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l66.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.17.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow practice changing from <strong>C</strong> to <strong>D</strong>. Rise to whist getting on your feet and start marching in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s3_D_p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l67.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.18.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow you can play the first five notes <strong>Low G, Low A, B, C</strong> and <strong>D</strong>. Rise to your feet and march playing these three five notes in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s3_D_p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l68.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.19.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow you know all nine notes, their names, their position of the staff and that a SEMIBREVE (whole note) is worth four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  We have left the best till last and that is the change over between <strong>D</strong> and <strong>E</strong>, or your bottom and top hand.  This is one exercise you must perfect and ensure that there is are cross over sound (a blip or blop) between your note changes.</p>-->
	<!--<p><strong>P</strong>ractice this change over diligently.</p>-->
	<div th:utext="${pageResources.get('s3_D_p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l69.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.20.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow try the whole scale up and down in SEMIBREVE (whole note) duration.</p>-->
	<!--<p><strong>R</strong>emember to mark time, tapping your feet left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> playing each note for four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per bar.  Try and blow for the entire length of the line and take a breath on the final <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat of the line and then start blowing again on the first <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat of the next line.</p>-->
	<div th:utext="${pageResources.get('s3_D_p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l70.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.21.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>s you now know a SEMIBREVE (whole note) is worth four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats and you can now play up the scale tapping your feet alternately or marching in time.</p>-->
	<!--<p><strong>T</strong>he next exercise we will play is in MINIM (1/2 note) duration.</p>-->
	<!--<p><strong>W</strong>e will commence this exercise by learning to play the whole scale in MINIM (1/2 note) two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beat duration. </p>-->
	<div th:utext="${pageResources.get('s3_D_p7')}"></div>
	<p>&nbsp;</p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_2crotchets_1minim')}">2 CROTCHETS = 1 MINIM</strong></p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l71.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.22.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next exercise will be done in CROTCHET (1/4 note) duration.  A CROTCHET (1/4 note) is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in duration.</p>-->
	<!--<p><strong>P</strong>ractice this scale exercise in CROTCHET duration.</p>-->
	<div th:utext="${pageResources.get('s3_D_p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l73.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.23.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l72.jpg'" /></p>
	<!--<p><strong>T</strong>he last note duration we will practice in this section is a QUAVER (1/8 note duration).  Each QUAVER note is worth 1/2 beat - or for every full <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat there are two QUAVERS (1/8 note).  For each CROTCHET (1/4 note) you must play two QUAVER (1/8 note) of the exact same duration.</p>-->
	<div th:utext="${pageResources.get('s3_D_p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l75.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.24.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l74.jpg'" /></p>
	<!--<p>The next exercise is a CROTCHET (1/4 note) duration.  This exercise should be retuned to regularly for practicing your note changeovers.  Pay attention to ensure there are no crossing sounds.</p>-->
	<div th:utext="${pageResources.get('s3_D_p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l76.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.25.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l77.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.26.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l78.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.27.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l79.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.28.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l80.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.29.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.30</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l81.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.30.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.31</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l82.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.31.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.32</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l83.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.32.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.33</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l84.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.33.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-cn.html'">C Note</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn.html'">Gracenotes</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>
<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
