<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 3 - Sounding the Nine Notes &raquo; E Note</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 3 - Sounding the Nine Notes &raquo; E Note</h1>-->

	<!--<p><strong><u>Note</u></strong>:  Whenever any note is played on the top hand of your chanter, the little finger on the bottom hand must always be up.  The main reason behind this is that if your little finger is not up the sound (or pitch of note) from your chanter will not be true and will not harmonies with your drones on the bagpipes.</p>-->
	<!--<p><strong>T</strong>his note is sounded by placing all nine digits on the chanter.  Now lift up your <strong>Low A</strong> finger on your bottom hand, and your <strong>E</strong> finger on your top hand.   This note is on the fourth space of the staff counting from the bottom.</p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l49.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>-->

	<!--<table class="sofT" cellspacing="0" align="center" style="line-height: 1.5em;">-->
		<!--<tr>-->
			<!--<td class="helpHed" width="75%">The Low-A Note Finger Position</td>-->
			<!--<td class="helpHed" width="25%" style="text-align: center;">Hole</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Thumb (A)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Index Finger (G)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Middle Finger (F)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Ring Finger (E)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Index Finger (D)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Middle Finger (C)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Ring Finger (B)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Pinky Finger (A)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('s3_E_p1')}"></div>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lace the top of your chanter in your mouth and blow until you get the sweet sound of the <strong>E</strong> note.</p>-->
	<!--<p><strong>O</strong>nce you can obtain the sound of <strong>E</strong> you must sound it for four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.</p>-->
	<!--<p><strong><u>Note</u></strong>:  You must commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time.</p>-->
	<!--<p><strong>T</strong>he duration of the note placed on the <strong>E</strong> space (the fourth space from the bottom) is worth four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  This is known as a SEMIBREVE (whole note).</p>-->
	<!--<p><strong>W</strong>e will commence this exercise by learning to play an <strong>E</strong> note in SEMIBREVE (whole note) four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration.</p>-->
	<div th:utext="${pageResources.get('s3_E_p2')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'"></p>
	<!--<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>-->
	<div th:utext="${pageResources.get('s3_E_p3')}"></div>
	<p>&nbsp;</p>
	<p><u><span th:utext="${pageResources.get('general_exercise_text')}">Exercise</span> 3.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l50.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.6.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-bn.html'">B Note</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-fn.html'">F Note</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
