<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

<!---->
<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 3 - Sounding the Nine Notes &raquo; High A Note</td>
	</tr>
</table>

<br clear="all" />

<style type="text/css">

	table.helpT
	{ text-align: center;
	/*font-family: Verdana;*/
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	width: 500px;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px; }

	td.helpHed
	{ border-bottom: 2px solid #6699CC;
	border-left: 1px solid #6699CC;
	background-color: #BEC8D1;
	text-align: left;
	text-indent: 5px;
	/*font-family: Verdana;*/
	font-weight: bold;
	font-size: 11px;
	color: #404040; }

	td.helpBod
	{ border-bottom: 1px solid #9CF;
	border-top: 0px;
	border-left: 1px solid #9CF;
	border-right: 0px;
	text-align: left;
	text-indent: 10px;
	/*font-family: Verdana, sans-serif, Arial;*/
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa; }

	table.sofT
	{ text-align: center;
	/*font-family: Verdana;*/
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	width: 680px;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px; }

</style>

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 3 - Sounding the Nine Notes &raquo; High A Note</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>

	<!--<p><strong>S</strong>o far the first six notes that you have learnt to play have all entailed just raising the next finger on that hand.  To complete learning the scale, the next three notes to learn are more complex than just raising the next finger.</p>-->
	<!--<p><strong>T</strong>o sound <strong>High A</strong> you follow the same procedure as you did to sound <strong>High G</strong>.  Then take your thumb off and place your <strong>E</strong> finger back on the chanter.</p>-->
	<!--<p><strong><u>Note</u></strong>:  Do not forget that when playing any note on the top hand, your little finger on your bottom hand must be up.</p>-->
	<div th:utext="${pageResources.get('s3_Ha_p1')}"></div>

	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l57.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>

	<!--<table class="sofT" cellspacing="0" align="center" style="line-height: 1.5em;">-->
		<!--<tr>-->
			<!--<td class="helpHed" width="75%">The Low-A Note Finger Position</td>-->
			<!--<td class="helpHed" width="25%" style="text-align: center;">Hole</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Thumb (A)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Index Finger (G)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Middle Finger (F)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Ring Finger (E)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Index Finger (D)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Middle Finger (C)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Ring Finger (B)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Pinky Finger (A)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('s3_Ha_tb')}"></div>
	<p>&nbsp;</p>

	<!--<p><strong>O</strong>nce you can obtain a steady tone from <strong>High A</strong> you must sound it for four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.</p>-->
	<!--<p><strong><u>Note</u></strong>:  You must commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time.</p>-->
	<!--<p><strong>T</strong>he duration of the note placed on the <strong>High A</strong> line (the sixth line from the bottom - ledger line from the bottom) is worth four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  This is known as a SEMIBREVE (whole note).</p>-->
	<!--<p><strong>W</strong>e will commence this exercise by learning to play a Low G note in SEMIBREVE (whole note) four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration.</p>-->
	<div th:utext="${pageResources.get('s3_Ha_p2')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'"></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l58.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.11.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>o sound <strong>High A</strong> to <strong>High G</strong> you need to place your thumb back on the chanter. and as your thumb is placed on; your E finger needs to come off the chanter. You must also ensure that your little finger on your top hand moves up and down in conjunction with your <strong>E</strong> finger.</p>-->
	<!--<p><strong>P</strong>ractice going back and forth from <strong>High A</strong> to <strong>High G</strong>; ensure a constant clean clear change over is obtained in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s3_Ha_p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l59.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"   width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.12.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow you can play all the top hand notes <strong>E, F High G</strong> and <strong>High A</strong>.  Rise to your feet and march playing these four notes in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s3_Ha_p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 3.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l60.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"   width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.13.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-hgn.html'">High G Note</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-cn.html'">C Note</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
