<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 3 - Sounding the Nine Notes</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('session3_subtitle')}">Session 3 - Sounding the Nine Notes</h1><!-- TODO change to title-->

	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l31.jpg'" /></p>

	<!--<p align="center"><strong>The Practice Chanter Depicting the Notes and Hole Positions</strong></p>-->
	<div th:utext="${pageResources.get('session3_holeposition')}"></div>

	<table class="sofT" cellspacing="0" align="center">
		<tr>
			<td class="helpHed" th:utext="${pageResources.get('table_note_name')}">Note Name</td>
			<td class="helpHed" style="text-align: center;">Low-G</td>
			<td class="helpHed" style="text-align: center;">Low-A</td>
			<td class="helpHed" style="text-align: center;">B</td>
			<td class="helpHed" style="text-align: center;">C</td>
			<td class="helpHed" style="text-align: center;">D</td>
			<td class="helpHed" style="text-align: center;">E</td>
			<td class="helpHed" style="text-align: center;">F</td>
			<td class="helpHed" style="text-align: center;">High-G</td>
			<td class="helpHed" style="text-align: center;">High-A</td>
		</tr>
		<tr>
			<td class="sup" style="text-align: left; text-indent: 5px; background-color: #BEC8D1;" th:utext="${pageResources.get('note_placement')}">Note Placement</td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l32.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l33.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l34.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l35.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l36.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l37.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l38.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l39.gif'" /></td>
			<td><img th:src="'/themethod/' + ${language} + '/resources/images/l40.gif'" /></td>
		</tr>
	</table>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l2hthtc.html'">How to Hold the Chanter</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-lgn.html'">Low G Note</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
