<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

<!---->
<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 3 - Sounding the Nine Notes &raquo; C Note</td>
	</tr>
</table>

<br clear="all" />

<style type="text/css">

	table.helpT
	{ text-align: center;
	/*font-family: Verdana;*/
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	width: 500px;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px; }

	td.helpHed
	{ border-bottom: 2px solid #6699CC;
	border-left: 1px solid #6699CC;
	background-color: #BEC8D1;
	text-align: left;
	text-indent: 5px;
	/*font-family: Verdana;*/
	font-weight: bold;
	font-size: 11px;
	color: #404040; }

	td.helpBod
	{ border-bottom: 1px solid #9CF;
	border-top: 0px;
	border-left: 1px solid #9CF;
	border-right: 0px;
	text-align: left;
	text-indent: 10px;
	/*font-family: Verdana, sans-serif, Arial;*/
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa; }

	table.sofT
	{ text-align: center;
	/*font-family: Verdana;*/
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	width: 680px;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px; }

</style>

<!-- START CONTENT -->
<div id="content">

	<!--<h1>Session 3 - Sounding the Nine Notes &raquo; C Note</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>

	<!--<p><strong>F</strong>ollow the procedure you have learnt to play the note <strong>B</strong>.  To sound <strong>C</strong> you must do the following.  Raise the finger above <strong>B</strong> (your <strong>C</strong> finger) on your bottom hand; you must ensure that as the finger is coming up your little finger on your bottom hand goes back down onto the chanter. </p>-->
	<!--<p><strong><u>This is a must - otherwise you would be playing what is known as an OPEN C, and on today's modern chanters this note would NOT harmonise with your drones at all:</u></strong></p>-->
	<div th:utext="${pageResources.get('s3_C_p1')}"></div>

	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l61.jpg'" style="padding:1px; border:1px solid #021a40; background-color:#fff;" /></p>

	<!--<table class="sofT" cellspacing="0" align="center" style="line-height: 1.5em;">-->
		<!--<tr>-->
			<!--<td class="helpHed" width="75%">The Low-A Note Finger Position</td>-->
			<!--<td class="helpHed" width="25%" style="text-align: center;">Hole</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Thumb (A)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Index Finger (G)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Middle Finger (F)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Top Hand Ring Finger (E)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Index Finger (D)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Middle Finger (C)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Ring Finger (B)</td>-->
			<!--<td style="color: green;">Open</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="sup" style="text-align: left; text-indent: 5px;">Bottom Hand Pinky Finger (A)</td>-->
			<!--<td style="color: red;">Closed</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('s3_C_tb')}"></div>

	<p>&nbsp;</p>

	<!--<p><strong>O</strong>nce you can obtain a steady tone on <strong>C</strong> you must blow it for four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.</p>-->
	<!--<p><strong><u>Note</u></strong>:  You must commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time.</p>-->
	<!--<p><strong>T</strong>he duration of the note placed in the <strong>C</strong> space (the third space from the bottom) is worth four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  This is known as a SEMIBREVE (whole note).</p>-->
	<!--<p><strong>W</strong>e will commence this exercise by learning to play C note in SEMIBREVE (whole note) four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration.</p>-->
	<div th:utext="${pageResources.get('s3_C_p2')}"></div>

	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'"></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<p><u>Exercise 3.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l62.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.14.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong><u>Note</u></strong>: You may find on the internet or in older tutor books where it is displayed or suggested that this it is not necessary to put your little finger back down when playing <strong>C</strong>. If you receive this information <strong>IT IS INCORRECT</strong>. This note is called an open <strong>C</strong> and years ago was played by most pipers but with changes to chanters, reeds and advancement in bagpipe manufacture and tone, a closed <strong>C</strong> harmonizes with your drones perfectly. Playing an Open <strong>C</strong> creates an extremely noticeable out of tune note, and is in contradiction to what you are trying to achieve tonally from a modern bagpipe.</p>-->
	<!--<p><strong>P</strong>ractice changing from <strong>B</strong> to <strong>C</strong> by rising to your feet and start marching playing these notes in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s3_C_p3')}"></div>

	<p>&nbsp;</p>
	<p><u>Exercise 3.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l63.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.15.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow you can play the first four notes <strong>Low G, Low A, B</strong> and <strong>C</strong> rise to your feet and march playing these three notes in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s3_C_p4')}"></div>

	<p>&nbsp;</p>
	<p><u>Exercise 3.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l64.gif'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
	    <source th:src="'/themethod/'+ ${language} +'/resources/video/3/3.16.mp4'" type='video/mp4'>
	  </video>
	</p>
	<p>&nbsp;</p>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-han.html'">High A Note</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-dn.html'">D Note</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>
<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
