<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 4 - Gracenotes &raquo; F Gracenote</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

<!--	<h1>Session 4 - Gracenotes &raquo; F Gracenote</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>
	<div th:utext="${pageResources.get('intro1')}"></div>

<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>High A</strong> note, and then play an <strong>F</strong> note quickly prior to moving to the concluding note of <strong>High G</strong>. This is how to play an <em>F gracenote</em> from <strong>High A</strong> to <strong>High G</strong>. This is also known as the push-on gracenote.</p>-->
<!--	<p><strong>P</strong>ractice going from <strong>High A</strong> to <strong>High G</strong> in MINIM (1/2 note) duration, two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats using an <em>F gracenote</em> on the note changeover.  Ensure that you play the <em>F gracenote</em> to <strong>High G</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A MINIM (1/2 note) is 2 beats long in duration<br />2 MINIMS (1/2 note) = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<div th:utext="${pageResources.get('general_2_minims_a_semibreve')}"></div>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('intro2')}"></div>
<!--	<p><strong>N</strong>ow play from <strong>High A</strong> to <strong>High G</strong> in MINIM (1/2 note) duration, which is equivalent to two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats using an <em>F gracenote</em>.  Starting on a MINIM (1/2 note) <strong>High A</strong> (two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats) and on the third <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat use an <em>F gracenote</em> prior to playing <strong>High G</strong> for a MINIM (1/2 note) or two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats. The key to playing this exercise successfully is ensuring that as you move from <strong>High A</strong> to <strong>High G</strong> you sound a small <em>F gracenote</em> which is played the same as an <strong>F</strong> note precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-fg/4.29.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.29.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p29')}"></div>
<!--	<p><strong>N</strong>ow play all notes from <strong>Low G</strong> to <strong>High A</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then after every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  Ensure that you play the <em>High G, High A</em> or <em>F gracenote</em> as written. The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <em>gracenote</em> which is going to played is lifted from the chanter exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.30</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-fg/4.30.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.30.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>N</strong>ow the same exercise in MINIM (1/2 note) duration.</p>-->
<!--	<ul>-->
<!--		<li>A MINIM is two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats long in duration. </li>-->
<!--		<li>A MINIM is 1/2 of a SEMIBREVE (whole note).</li>-->
<!--		<li>Two 1/2 notes or MINIMS = one SEMIBREVE (whole note).</li>-->
<!--	</ul>-->
<!--	<p>&nbsp;</p>-->
	<div th:utext="${pageResources.get('p30')}"></div>
	<p><u>Exercise 4.31</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-fg/4.31.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.31.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>T</strong>he same exercise in CROTCHET (1/4 note) duration.</p>-->
<!--	<ul>-->
<!--		<li>A CROTCHET is one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat long in duration.</li>-->
<!--		<li>A CROTCHET is a 1/4 of a SEMIBREVE (whole note).</li>-->
<!--		<li>Four CROTCHETS = 1 SEMIBREVE (whole note).</li>-->
<!--		<li>Four X 1/4 notes = a SEMIBREVE (whole note). </li>-->
<!--	</ul>-->
<!--	<p>&nbsp;</p>-->
	<div th:utext="${pageResources.get('p31')}"></div>
	<p><u>Exercise 4.32</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-fg/4.32.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.32.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>T</strong>he same exercise in QUAVER (1/8 note) duration.</p>-->
<!--	<ul>-->
<!--		<li>A QUAVER is 1/2 a beat long in duration. We count this 1 & 2 &</li>-->
<!--		<li>A QUAVER  is an 1/8 of a whole note or SEMIBREVE.</li>-->
<!--		<li>Eight QUAVERS = 1 SEMIBREVE.</li>-->
<!--	</ul>-->
<!--	<p>&nbsp;</p>-->
<!--	<p><strong>T</strong>his exercise is done with the <em>gracenotes</em> played precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  The important thing is to ensure that on the '<strong>&</strong>' pulse, the second quaver in each group is played exactly in the middle of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, on the '<strong>&</strong>' marker.</p>-->
<!--	<p>&nbsp;</p>-->
	<div th:utext="${pageResources.get('p32')}"></div>
	<p><u>Exercise 4.33</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-fg/4.33.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.33.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>T</strong>his exercise is done with the <em>gracenotes</em> played precisely on the '<strong>&</strong>' pulse.  The actual <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat notes are plain notes with no <em>gracenotes</em> upon them.</p>-->
	<div th:utext="${pageResources.get('p33')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.34</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-fg/4.34.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.34.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p34')}"></div>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn-hag.html'">High A Gracenote</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l5edg.html'">E & D Gracenotes</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
