<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 4 - Gracenotes</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 4 - Gracenotes</h1>

	<div th:utext="${pageResources.get('intro1')}"></div>
<!--	<p><em><strong>G</strong>racenotes</em> are short sharp distinct movements that embellish or enhance a note, commence a movement or separate a note of the same pitch.</p>-->
<!--	<p><strong>A</strong>lthough there are numerous <em>gracenotes</em> and various combinations that can be played on any note and can form the basis for a multitude of <em>embellishments</em>, the three most commonly used gracenotes are <em>High G, D</em> and <em>E</em>.</p>-->
<!--	<p><strong>I</strong>n this section we will cover the <em>High G</em> gracenote and the F <em>gracenote</em> from a <strong>High A</strong> to <strong>High G</strong> known as the push-on <em>gracenote</em> and the <em>High A gracenote (the thumb gracenote)</em>.</p>	-->
<!--	<p><strong>S</strong>o far we have only dealt with actual notes. All of the notes that we have learnt have the stem on the left hand side of the note head going down toward the bottom of the staff.</p>-->
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l85.jpg'" /></p>
<!--	<p><em><strong>E</strong>mbellishments</em> and <em>gracenotes</em> have a stem that goes upward on the right hand side of the <em>gracenote</em> head and have three tails meaning they are a DEMI SEMI QUAVER (1/32 note).</p>-->
<!--	<p><strong><u>Note</u></strong>: the more tails on a <strong>note</strong> or <em>gracenote</em> the shorter that <strong>note</strong> or <em>gracenote</em>.  The <em>gracenote</em> which you are required to play or sound is written in the exact same spot as the note on which it is placed on the short staff in either the <strong>Low G, Low A, B, C, D, E, F, High G</strong> or <strong>High A</strong> position.</p>-->
	<div th:utext="${pageResources.get('intro2')}"></div>



</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l3stnn-dn.html'">D Note</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn-hgg.html'">High G Gracenote</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>