<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 4 - Gracenotes &raquo; High G Gracenote</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">
	<div th:utext="${pageResources.get('s4_Ghg_p1')}"></div>
<!--	<h1>Session 4 - Gracenotes &raquo; High G Gracenote</h1>-->

<!--	<p><strong>T</strong>o play a <em>gracenote</em> you lift the required finger up and down, smartly and quickly.  Playing a <em>gracenote</em> is not like playing a <strong>note</strong>.   When you play a <strong>note</strong> you hold the chanter lightly so no real effort is needed to sound the note as you are required to lift your fingers upwards or off the chanter.  <em>Gracenotes</em> are the opposite; they go up and down and you play them with force, ensuring that you produce a sharp distinct sound.</p>-->
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>Low G</strong> in SEMIBREVE (whole note) duration.</p>-->
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p1_1')}"></div>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>Low G</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>Low G</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p2')}"></div>
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>Low A</strong> in SEMIBREVE (whole note) duration.</p>-->
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p4')}"></div>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>Low A</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>Low A</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p5')}"></div>
<!--	<p><strong>P</strong>ractice going from <strong>Low G</strong> to <strong>Low A</strong> in CROTCHET (1/4 note) duration or the value of one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High G gracenote</em> on the note changeover.  Ensure that you play the <em>High G gracenote</em> to <strong>Low A</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p6')}"></div>
<!--	<p><strong>N</strong>ow play from <strong>Low G</strong> to <strong>Low A</strong> and back down again in SEMIBREVE (1/4 note) Duration which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving too, and is then replaced quite smartly (quickly).  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p7')}"></div>
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>B</strong> in SEMIBREVE (whole note) four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration.</p>-->
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p8')}"></div>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>B</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>B</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p9')}"></div>
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>

	<!--	<p><strong>P</strong>ractice going from <strong>Low A</strong> to <strong>B</strong> in CROTCHET (1/4 note) duration, one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High G gracenote</em> on the note changeover.  Ensure that you play the <em>High G gracenote</em> to <strong>B</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.6.mp4'" type='video/mp4'>
		</video>
		<param name="quality" value="high" />
        <param name="wmode" value="transparent">
		<embed src="/themethod/resources/video/cool.swf?xml_path=../video/4.6.xml" quality="high" wmode="transparent" width="400" height="300" name="tech" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>P</strong>lay a <em>High G gracenote</em> from <strong>Low A</strong> to <strong>B</strong> and repeat the line again in SEMIBREVE (whole note) duration which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>Low A</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before. </p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p11')}"></div>
<!--	<p><strong>P</strong>lay all the notes from <strong>Low G</strong> to <strong>B</strong> and back down again in SEMIBREVE (whole note) duration which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p12')}"></div>
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>C</strong> in SEMIEBREVE (whole note) four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat duration.</p>-->
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>C</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>C</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<p><u>Exercise 4.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p13')}"></div>
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
<!--	<p><strong>P</strong>ractice going from <strong>B</strong> to <strong>C</strong> in CROTCHET (1/4 note) duration, one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High G gracenote</em> on the note changeover.  Ensure that you play the <em>High G gracenote</em> to <strong>B</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p14')}"></div>
<!--	<p><strong>N</strong>ow play from <strong>B</strong> to <strong>C</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>B</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p15')}"></div>
<!--	<p><strong>P</strong>lay all the notes from <strong>Low G</strong> to <strong>C</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving too, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before. </p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>D</strong> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p16')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p17')}"></div>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>D</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>D</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>P</strong>ractice going from <strong>C</strong> to <strong>D</strong> in CROTCHET (1/4 note) duration, one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High G gracenote</em> on the note changeover.  Ensure that you play the <em>High G gracenote</em> to <strong>D</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p18')}"></div>
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p19')}"></div>
<!--	<p><strong>N</strong>ow play from <strong>C</strong> to <strong>D</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>C</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.15.png'" class="image-container" /></p>
<!--	<p><strong>P</strong>lay all the notes from <strong>Low G</strong> up to <strong>D</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p20')}"></div>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.15.mp4'" type='video/mp4'>
		</video>
		</p>
	<p>&nbsp;</p>
	<p><u>Exercise 4.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.16.png'" class="image-container" /></p>
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>E</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p21')}"></div>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>E</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>E</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>P</strong>ractice going from <strong>D</strong> to <strong>E</strong> in CROTCHET (whole note) duration, one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High G gracenote</em> on the note changeover.  Ensure that you play the <em>High G gracenote</em> to <strong>E</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p23')}"></div>
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>N</strong>ow play from <strong>D</strong> to <strong>E</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>D</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>P</strong>lay all the notes from <strong>Low G</strong> to <strong>E</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>W</strong>e will commence this exercise by learning to play a <em>High G gracenote</em> on <strong>F</strong> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p26')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>F</strong> note, then lift up your <strong>High G</strong> finger, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>F</strong> note with a <em>High G gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p27')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>P</strong>ractice going from <strong>E</strong> to <strong>F</strong> in CROTCHET (1/4 note) duration, one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High G gracenote</em> on the note changeover.  Ensure that you play the <em>High G gracenote</em> to <strong>F</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('s4_Ghg_p28')}"></div>
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p29')}"></div>
<!--	<p><strong>N</strong>ow play from <strong>E</strong> to <strong>F</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>E</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('s4_Ghg_p30')}"></div>
<!--	<p><strong>N</strong>ow play all the notes from <strong>Low G</strong> to <strong>F</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>High G</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hgg/4.24.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn.html'">Gracenotes</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn-hag.html'">High A Gracenote</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
