<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 4 - Gracenotes &raquo; High A Gracenote</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

<!--	<h1>Session 4 - Gracenotes &raquo; High A Gracenote</h1>-->
	<div th:utext="${pageResources.get('title')}"></div>
	<div th:utext="${pageResources.get('intro1')}"></div>
<!--	<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>High A</strong> note, as you commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground for the first time and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, put your thumb on and lift your <strong>E</strong> finger, sounding a <strong>High G</strong> note with a <em>High A (thumb) gracenote</em> on it.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hag/4.25.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
<!--	<p><strong>P</strong>ractice going from <strong>F</strong> to <strong>High G</strong> in CROTCHET (1/4 note) duration, one <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>High A gracenote</em> on the note changeover.  Ensure that you play the <em>High A gracenote</em> to <strong>High G</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>

	<!--	<table align="center" cellpadding="15">-->
<!--		<tr>-->
<!--			<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A crotchet (1/4 note) is 1 beat long in duration<br />4 Crotchets = A Semibreve (whole note)</td>-->
<!--		</tr>-->
<!--	</table>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hag/4.26.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p26')}"></div>
	<!--	<p><strong>N</strong>ow play from <strong>F</strong> to <strong>High G</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.    Starting on <strong>F</strong> using a <em>High A (thumb) gracenote</em>. The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <em>High A (thumb) gracenote</em>, comes up at exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The gracenote must commence precisely on the beat <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and not before.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 4.27</u></p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hag/4.27.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.27.mp4'" type='video/mp4'>
		</video>
	</p>
<!--	<p><strong>N</strong>ow playing all notes from <strong>Low G</strong> to <strong>High G</strong> and back down again in SEMIBREVE (whole note) duration, which is equivalent to four CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.   Starting on <strong>Low G</strong> using a <em>High G gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  Ensure that when you go to the <strong>High G</strong> note you use the <em>High A (thumb) gracenote</em>.  When coming back from the <strong>High G</strong> note to the <strong>F</strong> note, you again use the <em>High A (thumb) gracenote</em>.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <em>gracenote</em> which is going to played, is lifted from the chanter exactly the same time as the note you are moving to, and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before.</p>-->
	<div th:utext="${pageResources.get('p27')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 4.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l4gn-hag/4.28.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/4/4.28.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p28')}"></div>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn-hgg.html'">High G Gracenote</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l4gn-fg.html'">F Gracenote</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
