<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 5 - E & D Gracenotes &raquo; D Gracenote</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 5 - E & D Gracenotes &raquo; D Gracenote</h1>

	<!--<p><strong>T</strong>o play a <em>gracenote</em> you lift the required finger up and down, smartly and quickly. To assist in definition of playing, you play them with force, ensuring that you produce a sharp distinct sound.</p>-->
	<!--<p><strong>W</strong>e will commence this exercise by learning to play a <em>D gracenote</em> on <strong>Low G</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>Low G</strong> note, then lift up your <strong>D</strong> finger and as you commence to blow, you lower your <strong>D</strong> finger, sounding a <strong>Low G</strong> note with a <em>D gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('intro2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play a <em>D gracenote</em> on <strong>Low A</strong> in SEMIBREVE (whole note) duration.</p>-->
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>Low A</strong> note, then lift up your <strong>D</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>D</strong> finger, sounding a <strong>Low A</strong> note with a <em>D gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>Low G</strong> to <strong>Low A</strong> in CROTCHET (1/4 note) duration, 1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>D gracenote</em> on the note changeover.  Ensure that you play the <em>D gracenote</em> to <strong>Low A</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>Low G</strong> to <strong>Low A</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats on each note) starting on <strong>Low G</strong> using a <em>D gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>D</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play a <em>D gracenote</em> on <strong>B</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('p4_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>B</strong> note, then lift up your <strong>D</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>B</strong> note with a <em>D gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p4_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>Low A</strong> to <strong>B</strong> in CROTCHET (1/4 note) duration, 1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using a <em>D gracenote</em> on the note changeover.  Ensure that you play the <em>D gracenote</em> to <strong>B</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>Low A</strong> to <strong>B</strong> and repeat the line again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>Low A</strong> using a <em>D gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>D</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play all the notes from <strong>Low G</strong> to <strong>B</strong> and back down again in SEMIBREVE (whole note) duration (4 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>Low G</strong> using a <em>D gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>D</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play a <em>D gracenote</em> on <strong>C</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('p8_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_1_Semibreve_4_Crotchets')}">A SEMIBREVE = 4 CROTCHETS</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>C</strong> note, then lift up your <strong>D</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>D</strong> finger, sounding a <strong>C</strong> note with a <em>D gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p8_2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>B</strong> to <strong>C</strong> in CROTCHET (1/4 note) Duration (1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat) using a <em>D gracenote</em> on the note changeover.  Ensure that you play the <em>D gracenote</em> to <strong>B</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>B</strong> to <strong>C</strong> and back down again in SEMIBREVE (whole note) duration, four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>B</strong> using a <em>D gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>D</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lay all the noted from <strong>Low G</strong> to <strong>C</strong> and back down again in SEMIBREVE (whole note) duration, four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats.  Starting on <strong>Low G</strong> using a <em>D gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>D</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play the same exercise in MINIM (1/2 note) duration.</p>-->
	<!--<ul>-->
		<!--<li>A MINIM is 2 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats long in duration.</li>-->
		<!--<li>A MINIM is 1/2 of a whole note or SEMIBREVE.</li>-->
		<!--<li>2 halve notes = 1 SEMIBREVE.</li>-->
	<!--</ul>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow try the same exercise in CROTCHET (1/4 note) duration.</p>-->
	<!--<ul>-->
		<!--<li>A CROTCHET is 1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat long in duration.</li>-->
		<!--<li>A CROTCHET is a 1/4 of a whole note or SEMIBREVE.</li>-->
		<!--<li>4 CROTCHETS = 1 SEMIBREVE.</li>-->
		<!--<li>4 x 1 = 4 - A SEMIBREVE is 4 CROTCHET (1/4 notes) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in duration.</li>-->
	<!--</ul>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow we will try the same exercise in QUAVER (1/8 note) duration.</p>-->
	<!--<ul>-->
		<!--<li>A QUAVER is 1/2 beat long in duration. We count this 1 & 2 &</li>-->
		<!--<li>A QUAVER is an 1/8 of a whole note or SEMIBREVE.</li>-->
		<!--<li>8 QUAVERS = 1 SEMIBREVE.</li>-->
		<!--<li>8 x 1/2 = 4 - A SEMIBREVE is 4 CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in duration.</li>-->
	<!--</ul>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>T</strong>his exercise is done with the <em>gracenotes</em> played precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. The important thing is to ensure that the 'pulse' (the second quaver in each group) is played exactly in the middle of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, on the '&' mark.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>his exercise is done with the <em>gracenotes</em> played precisely on the 'pulse' where the '<strong>&</strong>' mark is placed.  The important thing is to ensure that the <em>D gracenote</em> is played exactly on the pulse (the second QUAVER (1/8 note) in each group, which is marked by '<strong>&</strong>'.  The <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat notes are plain QUAVERS (1/8 notes) with no gracenote upon them.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-dg/5.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l5edg.html'">E & D Gracenotes</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l5edg-eg.html'">E Gracenote</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
