<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 5 - E & D Gracenotes &raquo; E Gracenote</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 5 - E & D Gracenotes &raquo; E Gracenote</h1>

	<!--<p><strong>W</strong>e will commence this exercise by learning to play an <em>E gracenote</em> on <strong>Low G</strong> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lace your fingers on the chanter in the position to sound the <strong>Low G</strong> note, than lift up your <strong>E</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>E</strong> finger, sounding a <strong>Low G</strong> note with an <em>E gracenote</em> on it <em>E gracenote</em> on <strong>Low G</strong>.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play an <em>E gracenote</em> on <strong>Low A</strong> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = 1 SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>Low A</strong> note, and lift up your <strong>E</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>E</strong> finger, sounding a <strong>Low A</strong> note with an <em>E gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>

	<p>&nbsp;</p>
	<p><u>Exercise 5.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>Low G</strong> to <strong>Low A</strong> in CROTCHET (1/4 note) duration, 1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using an <em>E gracenote</em> on the note changeover.  Ensure that you play the <em>E gracenote</em> to <strong>Low A</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>Low G</strong> to <strong>Low A</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>Low G</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and then is replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play an <em>E gracenote</em> on <strong>B</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = A SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound the <strong>B</strong> note, then lift up your <strong>E</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>High G</strong> finger, sounding a <strong>B</strong> note with an <em>E gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>Low A</strong> to <strong>B</strong> in CROTCHET (1/4 note) duration (1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat) using an <em>E gracenote</em> on the note changeover.  Ensure that you play the <em>E gracenote</em> to <strong>B</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>Low A</strong> to <strong>B</strong> and repeat the line again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) on each note starting on <strong>Low A</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving too and than is replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lay all the notes from <strong>Low G</strong> to <strong>B</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>Low G</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.24.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play an <em>E gracenote</em> on <strong>C</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = A SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>C</strong> note, then lift up your <strong>E</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>E</strong> finger, sounding a <strong>C</strong> note with an <em>E gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.25.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>B</strong> to <strong>C</strong> in CROTCHET (1/4 note) duration, 1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat using an <em>E gracenote</em> on the note changeover.  Ensure that you play the <em>E gracenote</em> to <strong>B</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.26.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>B</strong> to <strong>C</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>B</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.27.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.27.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lay all the notes from <strong>Low G</strong> to <strong>C</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>Low G</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.28.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.28.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will commence this exercise by learning to play an <em>E gracenote</em> on <strong>D</strong> in SEMIBREVE (whole note) duration. </p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/semibreve.jpg'" /></p>
	<p align="center" style="font-size: 18px;"><strong th:utext="${pageResources.get('general_4_Crotchets_1_Semibreve')}">4 CROTCHETS = A SEMIBREVE</strong></p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>tart by placing your fingers on the chanter in the position to sound <strong>D</strong> note, then lift up your <strong>E</strong> finger.  You commence sounding the chanter by blowing into the mouthpiece the moment your left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> foot hits the ground and cease blowing the chanter when your right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> foot hits the ground for the second time, you lower your <strong>E</strong> finger, sounding a <strong>D</strong> note with an <em>E gracenote</em> on it.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.29.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.29.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>ractice going from <strong>C</strong> to <strong>D</strong> in CROTCHET (1/4 note) duration (1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat) using an <em>E gracenote</em> on the note changeover.  Ensure that you play the <em>E gracenote</em> to <strong>D</strong> precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<!--<table align="center" cellpadding="15">-->
		<!--<tr>-->
			<!--<td bgcolor="black" align="center" style="color: white; line-height: 1.5em;">Note: A CROTCHET (1/4 note) is 1 beats long in duration<br />4 CROTCHETS = A Semibreve (whole note)</td>-->
		<!--</tr>-->
	<!--</table>-->
	<div th:utext="${pageResources.get('crotchet_1_beat_long_duration')}"></div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.30</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.30.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.30.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow play from <strong>C</strong> to <strong>D</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>C</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.31</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.31.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.31.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>lay all the notes from <strong>Low G</strong> to <strong>D</strong> and back down again in SEMIBREVE (whole note) duration (four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats) starting on <strong>Low G</strong> using an <em>E gracenote</em> and then on every second left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat when changing notes.  The key to playing this exercise successfully is ensuring that as you lift up or lower the finger required to sound the next note, the <strong>E</strong> finger which is going to play the <em>gracenote</em>, comes up at exactly the same time as the note you are moving to and is then replaced quite smartly and quickly.  The <em>gracenote</em> must commence precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and not before the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. </p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.32</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.32.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.32.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow try the same exercise in MINIM (1/2 note) duration.</p>-->
	<!--<ul>-->
		<!--<li>A MINIM is 2 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats long in duration.</li>-->
		<!--<li>A MINIM is 1/2 of a whole note or SEMIBREVE.</li>-->
		<!--<li>2 halve notes = 1 SEMIBREVE.</li>-->
	<!--</ul>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.33</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.33.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.33.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow try the same exercise in CROTCHET (1/4 note) duration.</p>-->
	<!--<ul>-->
		<!--<li>A CROTCHET is 1 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat long in duration.</li>-->
		<!--<li>A CROTCHET is a 1/4 of a whole note or SEMIBREVE.</li>-->
		<!--<li>4 CROTCHETS = 1 SEMIBREVE.</li>-->
		<!--<li>4 x 1 = 4 - A SEMIBREVE is 4 CROTCHET (1/4 notes) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in duration.</li>-->
	<!--</ul>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.34</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.34.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.34.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow we will try the same exercise in QUAVER (1/8 note) duration.</p>-->
	<!--<ul>-->
		<!--<li>A QUAVER is 1/2 beat long in duration. We count this 1 & 2 &</li>-->
		<!--<li>A QUAVER is an 1/8 of a whole note or SEMIBREVE.</li>-->
		<!--<li>8 QUAVERS = 1 SEMIBREVE.</li>-->
		<!--<li>8 x 1/2 = 4 - A SEMIBREVE is 4 CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in duration.</li>-->
	<!--</ul>-->
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>his exercise is done with the <em>gracenotes</em> played precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. The important thing is to ensure that the second pulse which has the second QUAVER (1/8 note) is played exactly in the middle of the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat, on the '<strong>&</strong>' mark.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.35</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.35.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.35.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>his exercise is done with the <em>gracenotes</em> played precisely on the second pulse. The important thing is to ensure that the gracenote is played exactly on the second pulse which is the second QUAVER (1/8 note) in each group, where the '<strong>&</strong>' pulse is marked.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.36</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.36.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/5/5.36.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will close off the section with EXERCISE 5.37.  A complete <em>G gracenote</em> revision scale.  This complete scale means you have covered every possible combination that could be used in a tune.  Return to this exercise on a regular basis to assist you in perfecting your <em>gracenoting</em> patterns and various combinations.</p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 5.37</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.37.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.38</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.38.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.39</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.39.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.40</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.40.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.41</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.41.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.42</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.42.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.43</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.43.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.44</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.44.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.45</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.45.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.46</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.46.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.47</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.47.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.48</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.48.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.49</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.49.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.50</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.50.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.51</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.51.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 5.52</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l5edg-eg/5.52.png'" class="image-container" /></p>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l5edg-dg.html'">D Gracenote</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l6te.html'">Timing Exercises</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
