<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 6 - Timing Exercises</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 6 - Timing Exercises</h1>

	<!--<p><strong>T</strong>he real key to playing music lies in being able to play in time and understand the associated rhythms within the time signature.</p>-->
	<!--<p><strong>I</strong>n music there are only two sorts of <strong><u>Time</u></strong>:  <strong>SIMPLE</strong> and <strong>COMPOUND</strong>.</p>-->
	<!--<p><strong>T</strong>ime Signatures relate to determining how many and what sort of <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats there are within each bar.</p>-->
	<!--<p><strong>SIMPLE TIME</strong> means that the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note can be evenly divided by two.  A <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in Simple Time is a CROTCEHT (1/4 note).  A CROTCHET (1/4 note) is equal to two QUAVERS (1/8 note).</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/qwqwqw.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>o commence understanding how this all works we will start by playing a <em>High G gracenote</em> on <strong>Low G</strong> on each CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  This generates a regular reoccurring <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat. We will call this <em>single time</em> to assist us in getting started.  This is not a musical term, but one which we believe will help you to become conversant with Simple and Compound Time as we progress through this CD Tutor. </p>-->
	<!--<p><em>Single Time</em> on <strong>Low G</strong>.</p>-->
	<div th:utext="${pageResources.get('intro2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.1.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e will now turn this regular reoccurring <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat into a <em>Simple Time</em> exercise.  To play in <em>Simple Time</em> you need to divide the CROTCHET (1/4 note) <strong>Low G</strong> into two QUAVERS (1/8 note).  To achieve this you need to play the <em>High G gracenote</em> on the first QUAVER (1/8 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat and on the second QUAVER (1/8 note) which is the second pulse marked with the '<strong>&</strong>' symbol you play a <em>D gracenote</em>.</p>-->
	<!--<p><strong>W</strong>e count this out in the following manner:</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/164.jpg'" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 6.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.2.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>SIMPLE TIME</em>.  If there are 2 CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong><em>S</strong>imple Time</em> on <strong>Low G</strong>.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>COMPOUND TIME</strong> means that the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note can be evenly divided by three. A <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in Compound Time is a dotted crotchet.  A dot after a note adds half of that notes value.  A CROTCHET (1/4 note) is equal to two QUAVERS (1/8 note). + 1/2 a CROTCHET, (the dot) is worth the value of one quaver, collectively = three single QUAVERS (1/8 note).</p>-->
	<div th:utext="${pageResources.get('p3_1')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/166.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>e count <strong>COMPOUND TIME</strong> out in the following manner.</p>-->
	<div th:utext="${pageResources.get('p3_2')}"></div>
	<p>&nbsp;</p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/167.jpg'" /></p>
	<p>&nbsp;</p>
	<p><u>Exercise 6.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.4.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted crotchet <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time. </p>-->
	<!--<p><strong><em>C</strong>ompound Time</em> on <strong>Low G</strong>.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.5.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>et your metronome to 60 <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats per minute (60 BPM).  Ensure that you play the <em>High G gracenote</em> on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.  You must use the other <em>gracenote</em> either the <em>D</em> or <em>D</em> and <em>E gracenote</em> to create the various rhythm patterns we are endeavoring to obtain.  Once you complete this whole section and become fluent with the exercises within it, constantly return to practice this section and raise the tempo on your metronome each time you return to it.  Practice the whole exercise over and over again raising the tempo each time until you can play it at 90 BPM. </p>-->
	<!--<p><strong><em>S</strong>ingle Time</em> on <strong>Low A</strong></p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.6.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong><em>S</strong>imple Time</em> on <strong>Low A</strong></p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.7.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong><em>C</strong>ompound Time</em> on <strong>Low A</strong></p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.8.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low G</strong> to <strong>Low A</strong> in <em>Single Time</em>.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.9.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.9.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong>Low G</strong> and <strong>Low A</strong> in <em>Simple Time</em>.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.10.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.10.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong>Low G</strong> and <strong>Low A</strong> in <em>Compound Time</em>.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.11.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.11.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>S</strong>ingle Time on <strong>B</strong></p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.12.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.12.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 Note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time and you play it in the following manner.</p>-->
	<!--<p><strong>S</strong>imple Time on <strong>B</strong></p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.13.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.13.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>COMPOUND TIME</em>.  If there are two dotted CROTCHET <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong>C</strong>ompound Time on <strong>B</strong></p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.14.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.14.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low G</strong> up to <strong>B</strong> and back again in <em>Single Time</em>.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.15.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.15.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong>Low G</strong> up to <strong>B</strong> and back again in <em>Simple Time</em>.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.16.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.16.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong>Low G</strong> to <strong>B</strong> and back again in <em>Compound Time</em>.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.17.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.17.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>ingle Time</em> on <strong>C</strong> in Single Time.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.18.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.18.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time and you play it in the following manner.</p>-->
	<!--<p><strong><em>S</strong>imple Time</em> on <strong>C</strong></p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.19.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.19.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong><em>C</strong>ompound Time</em> on <strong>C</strong>.</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.20.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.20.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll the notes from <strong>Low G</strong> up to <strong>C</strong> and back down again in <em>Single Time</em>.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.21.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.21.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong>A</strong>ll the notes from <strong>Low G</strong> up to <strong>C</strong> and back down again in <em>Simple Time</em>.</p>-->
	<div th:utext="${pageResources.get('p21')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.22</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.22.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.22.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong>A</strong>ll the notes from <strong>Low G</strong> up to <strong>C</strong> and back down again in <em>Compound Time</em>.</p>-->
	<div th:utext="${pageResources.get('p22')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.23</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.23.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.23.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong><em>S</strong>ingle Time</em> on <strong>D</strong></p>-->
	<div th:utext="${pageResources.get('p23')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.24</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.24.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.24.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong><em>S</strong>imple Time</em> on <strong>D</strong>.  The <em>gracenotes</em> used on <strong>D</strong> in <em>Simple Time</em> are in a different order from those used on the <strong>Low G, Low A B</strong> and <strong>C</strong>.  You use a <em>High G</em> and then an <em>E gracenote</em>.</p>-->
	<div th:utext="${pageResources.get('p24')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.25</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.25.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.25.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong><em>C</strong>ompound Time</em> on <strong>D</strong>.  The <em>gracenotes</em> used on <strong>D</strong> in the <em>Compound Time</em> exercise are in a different order from those used on the <strong>Low G, Low A B</strong> and <strong>C</strong>.  You use <em>High G</em> then an <em>E</em> and finally a <em>D gracenote</em>. You will notice in the music is indicates that the gracenote is a C.  As you are already on the D note, you sound a C by moving your D finger up and down once.</p>-->
	<div th:utext="${pageResources.get('p25')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.26</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.26.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.26.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong>ll the notes from <strong>Low G</strong> up to <strong>D</strong> and back down again in <em>Single Time</em></p>-->
	<div th:utext="${pageResources.get('p26')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.27</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.27.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.27.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by two is <em>Simple Time</em>.  If there are two CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Simple Duple Time.</p>-->
	<!--<p><strong>A</strong>ll the notes from <strong>Low G</strong> up to <strong>D</strong> and back down again <em>Simple Time</em></p>-->
	<div th:utext="${pageResources.get('p27')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.28</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.28.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.28.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong>ividing the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat note evenly by three is <em>Compound Time</em>.  If there are two dotted CROTCHET (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in the bar this is known as Compound Duple Time.</p>-->
	<!--<p><strong>A</strong>ll the notes from <strong>Low G</strong> up to <strong>D</strong> and back down again in <em>Compound Time</em>.</p>-->
	<div th:utext="${pageResources.get('p28')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 6.29</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.29.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/6/6.29.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p29')}"></div>
	<!--<p>&nbsp;</p>-->
	<!--<p align="center">Register as a purchaser of <strong>The Millennium Method CD Tutor</strong> and you will be entitled to three FREE 10 minute SKYPE lessons within the first twelve months of purchase should you need assistance with your piping progression.  Value (A$27.50).<br /><br />You must register on line and fill in the registration form to be eligible for the 30 minutes of FREE tuition.<br /><br /><a href="http://www.sydneyschoolofpipinganddrumming.com.au">www.sydneyschoolofpipinganddrumming.com.au</a></p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l6te/6.620.png'" class="image-container" /></p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>The music and exercises in the CD tutor were all prepared on Celtic Pipes</strong></p>-->
	<!--<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l621.jpg'" /></p>-->

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l5edg-eg.html'">E Gracenote</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l7tb.html'">The Birl</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
