<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 7 - The Birl</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 7 - The Birl</h1>

	<!--<p><strong>T</strong>his is the final movement we need to learn before we commence our first tune.</p>-->
	<!--<p><strong>T</strong>he movement is written like this:</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l193.jpg'" /></p>
	<p>&nbsp;</p>
	<!--<p><strong>L</strong>ook at the way it is written.  It shows that you sound in gracenote length on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat a <em>Low G</em> then return to a <em>Low A</em> then play another <em>Low G gracenote</em> and finish on a <strong>Low A</strong> note. </p>-->
	<!--<p><strong>E</strong>ffectively you are striking the chanter twice with your <strong>Low A</strong> finger to sound two very short <em>Low G's</em> in <em>gracenote</em> duration a DEMI SEMI QUAVER (1/32 note).</p>-->
	<!--<p><strong>T</strong>here are numerous ways to play this movement and they are all acceptable.  Whichever one you decide to pursue is up to you but you must ensure that the one you choose you perform consistently.  There are many variations and we will demonstrate three of the most commonly used ones.  Personally I believe Method 1 is the easiest to perform correctly and consistently if you take your time to master it.</p>-->
	<!--<p><strong><u>Method 1:</u></strong></p>-->
	<!--<p><strong>T</strong>ap your <strong>Low A</strong> finger straight up and down once and on the second pass, when you tap it, you actually pull it back.  In most cases when you perform the '<em>pull back</em>' <em>Birl</em> your <strong>B</strong> finger will bend or will slightly grip the chanter, and this <em>must</em> be done without the <strong>B</strong> finger uncovering any portion of the hole. </p>-->
	<!--<p>&nbsp;</p>-->
	<!--<p><strong>M</strong>ethod 1:</p>-->
	<div th:utext="${pageResources.get('intro2')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l193.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7method1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>M</strong>ethod 2:</p>-->
	<!--<p><strong>Y</strong>ou tap your Low A finger straight up and down twice.</p>-->
	<div th:utext="${pageResources.get('intro3')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l193.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7method2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>M</strong>ethod 3:</p>-->
	<!--<p><strong>Y</strong>ou slide your finger down over the hole and then bring it back up again.</p>-->
	<div th:utext="${pageResources.get('intro4')}"></div>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l193.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7method3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>P</strong>laying a <em>Birl</em> from a <strong>Low A</strong> note in a four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat method would be performed in the following manner.</p>-->
	<div th:utext="${pageResources.get('intro5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 7.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>E</strong>nsure that you play this movement correctly and in the correct place in the tune exercise.  The first <em>Low G gracenote</em> played when performing this movement is precisely on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 7.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>W</strong>hen you play a <em>Birl</em> from a note other than <strong>Low A</strong>, a small DEMI SEMI QUAVER (1/32 note)  <em>Low A gracenote</em> is placed before the first <em>Low G strike</em> of the <em>Birl</em>.  This small <em>Low A gracenote</em> is where the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat actually falls when the movement is written this way.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 7.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
			<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.3.mp4'" type='video/mp4'>
		</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>I</strong>n some tunes the <em>Birl</em> will commence with a <em>High G gracenote</em>.  These <em>Birls</em> are known as <em>Crowned Birls</em>.  The <em>High G gracenote</em> is where the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat actually falls.  This exercise is in a broken down into a four <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat method to allow you to gain consistency of technique required to perform this movement correctly.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 7.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>his exercise is in MINIM (1/2 note) duration.  On each left foot <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you will play a <em>Crowned Birl</em> on <strong>Low A</strong>.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 7.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>I</strong>f you're playing a <em>Crowned Birl</em> from <strong>High G</strong> the <em>High G gracenote</em> is replaced with a <em>High A gracenote (thumb)</em> exactly on the <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 7.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<div th:utext="${pageResources.get('p6')}"></div>
	<!--<p><strong>B</strong>efore we start to learn an actual tune play this exercise a few times, it is just coming down the scale to E and back up again with a couple of <em>High G gracenotes</em>.  Ensure that you do not have any cross over sounds when changing notes.</p>-->
	<p>&nbsp;</p>
	<p><u>Exercise 7.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l7tb/7.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/7/7.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>






</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l6te.html'">Timing Exercise</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l8tbbos.html'">The Blue Bells of Scotland</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
