<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 8 - Tune #1 - The Blue Bells of Scotland Part 1</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 8 - Tune #1 - The Blue Bells of Scotland Part 1</h1>

	<!--<p><strong>T</strong>his is an old traditional song.</p>-->
	<!--<p><strong>I</strong>t is in 4/4 time or common time.  That means that there will be 4 CROTCEHT (1/4 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beats in every bar.  If you can play the scale exercise given just prior to this section you will easily be able to play the first two bars of this tune.  The only difference is there are notes of MINIM (1/2 note) <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> duration and one group of QUAVERS (1/8 notes).  You will notice that although we have learnt the durations of the required notes, as written as SEMIBREVE'S (whole note's) or MINIMS (1/2 note's) you will possibly only use these when playing with other musicians or transposing tunes at a later date.  In bagpipe music, depending on the time signature of the tune, the notes should always be are normally grouped together to match the number of   beats in the bar.</p>-->
	<!--<p><strong>T</strong>his section will cover part one of <strong>The Blue Bells of Scotland</strong>.</p>-->
	<!--<p><strong>T</strong>he first bar of <strong>The Blue Bells of Scotland</strong> is effectively just coming down the scale using each note from <strong>High A</strong> to <strong>F</strong>.  The <strong>High A</strong> is a MINIM (1/2 note) and the <strong>High G</strong> and <strong>F</strong> are CROTCHETS (1/4 notes).  The first note is the duration of a MINIM (1/2 note), we have written it as two CROTCEHTS (1/4 notes) which equal two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> beats.  As you are staying on a note of the same pitch encompassing the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat they are joined by a bind, or tie.  A tie or a bind depicts that you will stay on the same note of the same pitch until the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat.</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.1.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 2 is going back up the scale using each note from <strong>E</strong> to <strong>High G</strong>.  The <strong>E</strong> is in MINIM (1/2 note) duration and commences with a <em>High H gracenote</em>, you then have a <em>High G gracenote</em> to <strong>F</strong> and then onto a <strong>High G</strong> and <strong>High A</strong> combination.  The <strong>F</strong> note is a CROTCHET (1/4 note) and the <strong>High G</strong> and <strong>High A</strong> notes are both QUAVERS (1/2 a beat each note).</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.2.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>A</strong> phrase is two bars of music.  If a part or measure has eight bars, it has four phrases.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.3.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong>ar 3 commences on a <strong>C</strong> CROTCHET (1/4 note).  On the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat you play a D gracenote.  On the third beat in the bar you play a High G gracenote to a D CROTCHET (1/4 note).  On the fourth bet in the bar you play an E gracenote to a <strong>B</strong> CROTCHET (1/4 note). </p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.4.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he next bar has a new gracenote within it.  It is a <em>Low G gracenote</em>.  You are going to go from the note <strong>B</strong> to <strong>Low A</strong> and in between the two you are going to play a very quick <strong>Low G</strong> DEMI SEMI QUAVER (1/32 note) <em>gracenote</em>.</p>-->
	<!--<p><strong>P</strong>ractice this new movement until it feels natural before moving onto the next exercise.  </p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.5.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he fourth and final bar of Line one commences with a Low G gracenote to a <strong>Low A</strong> MINIM (1/2 note).  Thie is the durtaion of two <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" />  <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> duration. On the third beat you the bar you play a Birl. On the fourth beat in the bar you play an <strong>E</strong> CROTCHET (1/4 note).</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p><u>Exercise 8.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.6.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>O</strong>nce mastered you are ready for bars 3 and 4 or phrase two.  Bar 4 is relatively simple to play.  You have two CROTCHETS (1/4 notes) which equal one MINIM (1/2 note) in duration, on the next <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat a <em>Birl</em>, and the fourth <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> beat in the bar is an E CROTCHET (1/4 note).</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.7.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>N</strong>ow try the first part of <strong>The Blue Bells of Scotland</strong>.   Bars 1, 2, 3 and 4.  Phrases one and two.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 8.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l8tbbos/8.8.png'" class="image-container" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/8/8.8.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>K</strong>eep practicing this part whilst tapping your feet left <img th:src="'/themethod/' + ${language} + '/resources/images/left_foot.jpg'" /> and right <img th:src="'/themethod/' + ${language} + '/resources/images/right_foot.jpg'" /> .  Once you feel you have memorised these four bars rise up on to your feet and try playing and marching in time.</p>-->
	<!--<p><strong>REMEMBER:</strong>  Marching is basically just walking in time; it is really no different than when you walk down the street so don't do anything different to what you would when walking.  You are trying to bring your fingers into line with your feet not your feet to your fingers.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l7tb.html'">The Birl</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l9sn.html'">Skip Notes</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
