<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Session 9 - Skip Notes</td>
	</tr>
</table>

<br clear="all" />

<!-- START CONTENT -->
<div id="content">

	<h1 th:utext="${pageResources.get('title')}">Session 9 - Skip Notes</h1>

	<!--<p><strong>T</strong>he first part of <strong>The Blue Bells of Scotland</strong> was relatively simple to follow, with the exception of two notes all of the notes in the first part were only one note apart.  </p>-->
	<!--<p><strong>I</strong>n the second part of <strong>The Blue Bells of Scotland</strong> you will find that many notes are separated by two notes or more.  </p>-->
	<!--<p><strong>T</strong>hese <strong><em>Skip Note</em></strong> exercise will assist us in getting used to these various changeovers.  It will mean tackling the second part of the tune will be a lot easier. </p>-->
	<!--<p><strong>R</strong>emember exercises are exactly that, something to help exercise your fingers and your eyes (sight reading) so tunes can be played fluently.  You are not expected to memorise exercises but hopefully if practiced enough they will become easy to play and you will be able to read and relate to what is written, more quickly. </p>-->
	<!--<p><strong>Low G</strong> to <strong>B</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('intro1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.1</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l209.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.1.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>B</strong> to <strong>D</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p1')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.2</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l210.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.2.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low G</strong> to <strong>B</strong> and <strong>D</strong> <em>Skip Notes</em> up and down in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p2')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.3</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l212.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.3.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>D</strong> to <strong>F</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p3')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.4</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l213.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.4.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low G</strong> to <strong>B, D</strong> and <strong>F</strong> <em>Skip Notes</em> up and down in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p4')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.5</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l214.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.5.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>F</strong> to <strong>High A</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p5')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.6</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l215.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.6.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low G</strong> to <strong>B, D F</strong> and <strong>High A</strong> <em>Skip Notes</em> up and down in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p6')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.7</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l216.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.7.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low A</strong> to <strong>C</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p7')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.8</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l217.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.8.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>C</strong> to <strong>E</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p8')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.9</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l218.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.9.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low A</strong> to <strong>C</strong> and <strong>E</strong> <em>Skip Notes</em> up and down in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p9')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.10</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l219.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.10.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>E</strong> to <strong>High G</strong> <em>Skip Notes</em> in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p10')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.11</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l220.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.11.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>Low A</strong> to <strong>C, E</strong> and <strong>High G</strong> <em>Skip Notes</em> up and down in SEMIBREVE (whole note) duration.</p>-->
	<div th:utext="${pageResources.get('p11')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.12</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l221.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.12.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he LINE notes <strong>Low G, D, F</strong> and <strong>High A</strong> <em>Skip Notes</em> up and down in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p12')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.13</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l222.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.13.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he SPACE notes <strong>A, C, E</strong> and <strong>High G</strong> <em>Skip Notes</em> up and down in MINIM (1/2 note) duration.</p>-->
	<div th:utext="${pageResources.get('p13')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.14</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l223.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.14.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he LINE notes <strong>Low G, B, D, F</strong> and <strong>High A</strong> <em>Skip Notes</em> up and down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p14')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.15</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l224.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.15.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he LINE notes <strong>Low G, B, D, F</strong> and <strong>High A</strong> <em>Skip Notes</em> up and down in QUAVER (1/8 note) duration.</p>-->
	<div th:utext="${pageResources.get('p15')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.16</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l225.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.16.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he SPACE notes <strong>Low A, C, E</strong> and <strong>High G</strong> <em>Skip Notes</em> up and back down in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p16')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.17</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l226.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.17.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he SPACE notes <strong>Low A, C, E</strong> and <strong>High G</strong> <em>Skip Notes</em> up and down in QUAVER (1/8 note) duration.</p>-->
	<div th:utext="${pageResources.get('p17')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.18</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l227.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.18.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete <em>Skip Notes</em> scale in MINIM (1/2 Note) duration.</p>-->
	<div th:utext="${pageResources.get('p18')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.19</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l228.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.19.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete Skip Notes scale in CROTCHET (1/4 note) duration.</p>-->
	<div th:utext="${pageResources.get('p19')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.20</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l229.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.20.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>
	<!--<p><strong>T</strong>he complete Skip Notes scale in QUAVER (1/8 note) duration.</p>-->
	<div th:utext="${pageResources.get('p20')}"></div>
	<p>&nbsp;</p>
	<p><u>Exercise 9.21</u></p>
	<p align="center"><img th:src="'/themethod/' + ${language} + '/resources/images/l230.jpg'" /></p>
	<p>&nbsp;</p>
	<p align="center">
		<video id="my-video" class="video-js"  width="640" height="264" >
		<source th:src="'/themethod/'+ ${language} +'/resources/video/9/9.21.mp4'" type='video/mp4'>
	</video>
	</p>
	<p>&nbsp;</p>





</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l8tbbos.html'">The Blue Bells of Scotland</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l10tbbos.html'">The Blue Bells of Scotland Pt2</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>
