<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">


<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner"><script th:inline="javascript">         /*<![CDATA[*/         create_menu("/", [[${language}]]);         /*]]>*/</script></div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Index</td>
	</tr>
</table>

<br clear="all" />


<!-- START CONTENT -->
<div id="content">

	<h1>Index</h1>
<p>The Millennium Method Tutor CD has been compiled by Barry Gray</p>
<p>Barry has over 35 years experience playing the bagpipes and holds the Australian Pipe Bands Association Advanced College Certificate (1985) and is on the Australian National Adjudication Panel.</p>
<p>He has attained NSW State Solo Championship status on many occasions and has competed in solo competition in Scotland in 1986, 92, 94, 95, 98, 2006 and Lorient (France) in 1999 as an Australian representative to the World Invitational MacCallum Trophy Contest.</p>
<p>He has taught hundreds of people to play the bagpipes. Many of his students have competed in solo competition with great success in Australia and overseas.</p>
<p>He has competed at the World Championships in:</p>




<ul>
	<li><strong>1986</strong> with the Dysart & Dundonald Pipe Band (Pipe Major R.T.Shepherd) Grade 1.</li>
	<li><strong>1992</strong> with the with the City of Blacktown Pipe Band (Pipe Major Barry Gray) Grades 1 and 4.</li>
	<li><strong>1994</strong> with the Dysart & Dundonald Pipe Band (Pipe Major Davy Barnes) Grade 1.</li>
	<li><strong>1995</strong> with the City of Blacktown Pipe Band (Pipe Major Barry Gray) Grades 1 and 4.</li>
	<li><strong>1998</strong> with the City of Blacktown Pipe Band (Pipe Major Barry Gray) Grade 4.</li>
	<li><strong>2006</strong> with the City of Blacktown Pipe Band (Pipe Major Barry Gray) Grades 1, 3 and 4.</li>
	<li><strong>2008</strong> with the New Zealand Police Pipe Band (Pipe Major Iain Robertson) Grade 1.</li>
	<li><strong>2009</strong> with the Shotts & Dykehead Caledonia Pipe Band (Pipe Major Robert Mathieson) Grade 1.</li>
</ul>

<p>Barry has been a fulltime performing piper and tutor for over a decade.  Gaining access to the methods and techniques he has acquired and been exposed too as a Pipe Major of a Grade 1 band for more than 20 years, as a tutor of Juvenile and lower grade bands as well teaching individuals for more than 30 years can be yours by using <strong>The Millennium Method.</strong></p>


</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/forward.html'">Forward</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'welcome.html'">Welcome</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>