<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to The Millennium Method : Sydney School of Piping and Drumming</title>
<link rel="icon" th:href="@{/images/default-icon.ico}" type="image/x-icon">

<link rel='stylesheet' type='text/css' media='all' href="/css/userguide.css" />

<script type="text/javascript" src="/nav/nav.js"></script>
<script type="text/javascript" src="/nav/prototype.lite.js"></script>
<script type="text/javascript" src="/nav/moo.fx.js"></script>
<script type="text/javascript" src="/nav/user_guide_menu.js"></script>

<link href="/js/videojs/video-js.css" rel="stylesheet">
<script src="/js/videojs/videojs-ie8.min.js"></script>

<meta http-equiv='expires' content='-1' />
<meta http-equiv= 'pragma' content='no-cache' />
<meta name='robots' content='all' />

</head>
<body>

<!-- START NAVIGATION -->
<div id="nav"><div id="nav_inner">
	<script th:inline="javascript">
        /*<![CDATA[*/
        create_menu("/", [[${language}]]);
        /*]]>*/</script>
</div></div>
<div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();" style="outline: none;"><img th:src="'/themethod/' + ${language} + '/resources/images/nav_toggle_darker.jpg'" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
<div id="masthead">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td><h1>The Millennium Method</h1></td>
<td id="breadcrumb_right"><a th:href="'/themethod/'+ ${language} +'/toc.html'">Table of Contents Page</a></td>
</tr>
</table>
</div>
<!-- END NAVIGATION -->


<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
	<tr>
		<td id="breadcrumb"><a th:href="'/themethod/'+ ${language} +'/index.html'">The Millennium Method</a> &nbsp;&#8250;&nbsp; Welcome</td>
	</tr>
</table>

<br clear="all" />


<!-- START CONTENT -->
<div id="content">

	<div th:utext="${pageResources.get('welcome_page')}"></div>
	<!--<h1>Welcome</h1>-->

	<!--<p><strong>A</strong>t the Sydney School of Piping & Drumming we teach the Scottish style of playing the <strong>G</strong>reat <strong>H</strong>ighland <strong>B</strong>agpipe (GHB).  The initial tunes we teach students are mainly popular tunes, simple in structure that will allow the pupil to commence playing a melody as soon as a few basic techniques have been mastered.  In no way what-so-ever does this method compromise the high standards that need to be achieved and met to ensure that you become a competent piper.  This tutor book will ensure that you learn all the traditional embellishments that you will need for more complex tunes at a later date in your playing career.  By the completion of this book you should have sufficient basic knowledge to move onto a bagpipe and join a Grade 4 band should you wish.</p>-->
	<!--<p><strong>T</strong>o commence learning the GHB you begin on a small instrument called a practice chanter.  Upon the practice chanter you will learn and perform the following:</p>-->
	<!--<ul>-->
		<!--<li>The correct finger positioning;</li>-->
		<!--<li>The nine notes which are played on the bagpipe;</li>-->
		<!--<li>The length of the main four note values we most commonly use;</li>-->
		<!--<li>How to march and/ or beat your feet in time with the music;</li>-->
		<!--<li>The embellishments that are most commonly performed for most tunes up to a Sub-Intermediate level;</li>-->
		<!--<li>Eight basic style tunes encompassing melodies in Simple and Compound time.</li>-->
	<!--</ul>-->
	<!--<p><strong>O</strong>nce six tunes have been mastered, memorised and can be marched to we suggest that you start thinking about progressing toward purchasing an actual bagpipe.</p>-->
	<!--<p><strong>T</strong>he GHB has a bag with three drones attached (1 Bass and 2 tenor drones) – the sound from these drones creates a constant sound tuned one and two octaves below the Low A note of the pipe chanter and is known as pedal harmony.</p>-->
	<!--<p><strong>A</strong> pipe chanter is what the melody is played on and a blow stick which you blow through, filling the bag with air from your lungs.</p>-->
	<!--<p><strong>T</strong>he drones each have a single bladed style reed whilst the chanter has a double bladed reed.</p>-->
	<!--<p><strong>C</strong>ontrary to popular belief, it is not the size of your lungs that keeps the bagpipe going.  The bagpipe is actually played (or sounded) by constantly squeezing with your arm.  The more constant the pressure is on the bag, the steadier your instrument will sound.  At no time should you lift you arm off the bag, this only contributes to you becoming an extremely un-steady blower.</p>-->
	<!---->
	<!-- 
	<h1>How is the Sound Produced?</h1>
	<p><strong>T</strong>o produce sound there must be 4 elements present.  If any one of these four elements is not present, sound cannot be produced.</p>
	//-->

</div>
<!-- END CONTENT -->


<div id="footer">
<p>
Previous Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/forward.html'">Forward</a>
&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
<a th:href="'/themethod/'+ ${language} +'/index.html'">Millennium Method Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
Next Topic:&nbsp;&nbsp;<a th:href="'/themethod/'+ ${language} +'/l1wtbnap.html'">Where the Bagpipe Notes are Positioned</a>
</p>
<p><a href="http://www.sydneyschoolofpipinganddrumming.com.au">Sydney School of Piping and Drumming</a> &nbsp;&middot;&nbsp; <a href="http://www.intervelopment.com.au">Intervelopment Studios Australia</a></p>
</div>

<script src="/js/videojs/video.js"></script>
<link href="/js/videojs/videojs-watermark.css" rel="stylesheet">
<script src="/js/videojs/videojs-watermark.min.js" charset="utf-8"></script>
<script src="/js/videojs/videoSetting.js" charset="utf-8"></script>
</body>
</html>