<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h2>
                        Purchased Item
                    </h2>
                </div>
                <div class="row">
                    <th:block th:each="entry : ${productList}">
                        <a th:data-url="'/product/detail/' + ${entry.key}" href=""# class="urlBtn">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-indigo" style="cursor: pointer">
                                    <div class="icon">
                                        <i class="material-icons">view_module</i>
                                    </div>
                                    <div class="content">
                                        <div class="text" th:text="${entry.value.productName}">Product Name</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </th:block>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>

</body>
</html>