<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>

<body class="signup-page">
<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">The Millennium Method</a>
        <small>Registration</small>
    </div>
    <div class="card">
        <div class="body">
            <form th:action="@{/registration}" th:object="${user}" id="sign_up" method="post">
                <div class="msg">Register for Millennium Method Application</div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid input. Please try again!
                    </div>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You've successfully registered. Please verify your account via the e-mail.
                    </div>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <div class="alert alert-danger" th:each="error : ${#fields.errors('global')}"
                         th:text="${error}">
                    </div>
                </div>
                <div th:each="error : ${#fields.errors('token')}">
                    <div class="alert alert-danger" th:text="${error}">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="First Name"
                               th:field="*{firstName}"
                               required autofocus>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('firstName')}"
                           th:text="${error}">Validation error</label>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="Last Name"
                               th:field="*{lastName}"
                               required>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('lastName')}"
                           th:text="${error}">Validation error</label>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="E-mail : aaa@ccc.com"
                               th:field="*{email}"
                               required>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Validation error</label>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="Confirm E-mail"
                               th:field="*{confirmEmail}"
                               required>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('confirmEmail')}"
                           th:text="${error}">Validation error</label>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" placeholder="Password"
                               th:field="*{password}"
                               required>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</label>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" placeholder="Confirm Password"
                               th:field="*{confirmPassword}"
                               required>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('confirmPassword')}"
                           th:text="${error}">Validation error</label>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                </div>

                <input type="hidden" id="token"
                       th:field="*{token}" />


                <!--<div class="form-group">-->
                <!--<input type="checkbox" th:field="*{terms}" id="terms" class="filled-in chk-col-pink">-->
                <!--<label class="control-label" for="terms">-->
                <!--I agree with the <a href="#">terms and conditions</a> for Registration.-->
                <!--</label>-->
                <!--<label class="error-message"-->
                <!--th:each="error : ${#fields.errors('terms')}"-->
                <!--th:text="${error}">Validation error</label>-->
                <!--</div>-->

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a th:href="@{/login}">You already have a membership?</a>
                </div>
            </form>
            <input type="hidden" id="sitekey"
                   th:value="${siteKey}" />
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.js}"></script>

<!-- Validation Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/adminbsb/admin.js}"></script>
<script th:src="@{https://www.google.com/recaptcha/api.js?render=} + ${siteKey}"></script>
<script th:src="@{/js/adminbsb/recaptcha-token-replace.js}"></script>
<script th:src="@{/js/adminbsb/sign-up.js}"></script>
</body>
</html>