<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>

<body class="signup-page">
<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">The Millennium Method</a>
        <!--<small>Forget Password</small>-->
    </div>
    <div class="card">
        <div class="body">
            <form th:action="@{/user/resetPassword/submit}" th:object="${userResetPasswordForm}" id="sign_up"
                  method="post">
                <div class="msg">Reset Password</div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid input. Please try again!
                    </div>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Requested reset password. Please check your e-mail to proceed.
                    </div>
                </div>
                <div th:if="${systemMessage != null}">
                    <!--<h1>System Message</h1>-->
                    <div th:class="${'alert alert-' + systemMessage.type.className}" th:text="${systemMessage.msg}">
                    </div>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <div class="alert alert-danger" th:each="error : ${#fields.errors('global')}"
                         th:text="${error}">
                    </div>
                </div>
                <input type="hidden" class="form-control" th:field="*{userId}" required>
                <input type="hidden" class="form-control" th:field="*{requestId}" required>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" placeholder="Password"
                               th:field="*{password}"
                               required autofocus>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</label>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" placeholder="Confirm Password"
                               th:field="*{confirmPassword}"
                               required>
                    </div>
                    <label class="error"
                           th:each="error : ${#fields.errors('confirmPassword')}"
                           th:text="${error}">Validation error</label>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SUBMIT</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a th:href="@{/login}">Remembered your password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/node-waves/waves.js}"></script>

<!-- Validation Plugin Js -->
<script th:src="@{/webjars/AdminBSBMaterialDesign/1.0.5/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/adminbsb/admin.js}"></script>
<script th:src="@{/js/adminbsb/sign-up.js}"></script>
</body>
</html>