<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <th:block th:text="${product.name}"></th:block>
                                    <small th:text="${product.description}"></small>
                                </h2>
                            </div>
                            <div class="body">
                                <div class="row clear fix">
                                    <div class="col-md-5">
                                        <!-- Product Basic Info -->
                                        <h6 class="title-price"><span class="badge badge-info"
                                                                      th:each="category: ${product.productCategories}"
                                                                      th:text="${category.name}"></span></h6>

                                        <div th:if="${isDiscountProduct == null}">
                                            <h6><strong th:text="${@environment.getProperty('application.currency') + '$ ' + actualPrice}">25.00</strong></h6>
                                        </div>
                                        <div th:if="${isDiscountProduct == true}">
                                            <h6><strong th:text="${@environment.getProperty('application.currency') + '$ ' + actualPrice}">25.00</strong> <span
                                                    th:text="${'(' + @environment.getProperty('application.currency') + '$ ' + product.price + ')'}"></span></h6>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row clear fix" th:if="${productResources != null}"-->
                                <!--th:each="item : ${productResources}">-->
                                <!--<div class="col-md-5">-->
                                <!--<h5 class="card-title" th:text="${item.name}">Card title</h5>-->
                                <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                                <!--<p class="card-text">Some quick example text to build on the card title and make up-->
                                <!--the bulk of-->
                                <!--the card's content.</p>-->
                                <!--<a th:href="'/product/' + ${product.id} + '/attachment/' + ${item.fileAttachment.uploadId}"-->
                                <!--class="card-link" th:if="${item.type == 'ATTACHMENT'}" th:text="${'Attachment'}">Card-->
                                <!--link</a>-->
                                <!--<a th:href="'/' + ${item.resource} + '/'" class="card-link"-->
                                <!--th:if="${item.type == 'URL'}" th:text="${'Url'}">Another link</a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="row clear fix" th:if="${userPurchased != null && userPurchased == false}">
                                    <div class="col-md-5">
                                        <a href="#" th:data-url="${checkoutUrl} + '/' + ${product.id}"
                                           class="btn btn-success urlBtn" th:text="${'Checkout (' + @environment.getProperty('application.currency') + '$ ' + product.price + ')'}"></a>

<!--                                        <a th:href="${checkoutUrl} + '/' + ${product.id}">-->
<!--                                            <button class="btn btn-success urlBtn"-->
<!--                                                    th:text="${'Checkout (' + @environment.getProperty('application.currency') + '$ ' + product.price + ')'}">Check out-->
<!--                                                button-->
<!--                                            </button>-->
<!--                                        </a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clear fix">
                    <div th:if="${productResources != null}" th:each="item : ${productResources}">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <th:block th:text="${item.name}"></th:block>
                                    </h2>
                                </div>
                                <div class="body">
                                    <div class="row clear fix">
                                        <div class="col-md-12">
                                            <h5 class="card-title" th:text="${item.description}">Card title</h5>
                                            <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                                            <!--<p class="card-text">Some quick example text to build on the card title and make up-->
                                            <!--the bulk of-->
                                            <!--the card's content.</p>-->
                                            <a th:href="'/product/' + ${product.id} + '/attachment/' + ${item.fileAttachment.uploadId}"
                                               th:if="${item.type == 'ATTACHMENT'}">
                                                <button type="button" class="btn btn-primary waves-effect"
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="Download">
                                                    <i class="material-icons">cloud_download</i>
                                                </button>
                                            </a>

                                            <a target="_blank" th:href="'/' + ${item.resource} + '/'"
                                               th:if="${item.type == 'URL'}">
                                                <button type="button" class="btn btn-primary waves-effect"
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="Forward">
                                                    <i class="material-icons">forward</i>
                                                </button>
                                            </a>

                                            <!--<a th:href="'/product/' + ${product.id} + '/attachment/' + ${item.fileAttachment.uploadId}"-->
                                            <!--class="card-link" th:if="${item.type == 'ATTACHMENT'}" th:text="${'Attachment'}">Card-->
                                            <!--link</a>-->
                                            <!--<a th:href="'/' + ${item.resource} + '/'" class="card-link"-->
                                            <!--th:if="${item.type == 'URL'}" th:text="${'Url'}">Another link</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:include="base/footer"></div>
</body>
</html>