<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/header_component">
</head>
<body>
<div>
    <div th:replace="base/header">
    </div>
    <div id="content-fragment" th:fragment="content-fragment">
        <div th:include="base/header_content">
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Head Button Section-->
                <div class="row clear fix">
                    <div class="col-md-3">
                        <a data-toggle="collapse" href="#search-field" role="button"
                           aria-expanded="false"
                           aria-controls="search-field">
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip"
                                    data-placement="top" title="Search">
                                <i class="material-icons">search</i>
                            </button>
                        </a>
                    </div>
                </div>
                <p></p>
                <!-- [end] Head Button Section-->
                <!-- Search Section-->
                <div class="row clear fix">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 collapse" id="search-field">
                        <div class="card">
                            <div class="header">
                                <h2>Search Filter</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/product/list}" method="post" id="searchForm">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                           placeholder="Product Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Category</label>
                                                <select id="roles" class="custom-select" data-live-search="true"
                                                        th:name="category">
                                                    <option value=""></option>
                                                    <option th:each="item : ${productCategoryList}"
                                                            th:value="${item.name}"
                                                            th:text="${item.name}">Part name
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="row clear fix">
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary submitBtn">Submit
                                                    </button>
                                                </div>
                                                <!--<button type="reset" class="btn btn-warning">Reset</button>-->
                                                <div class="col-md-3">
                                                    <button class="btn btn-warning submitBtn" id="clearSearchFilter"
                                                            th:data-searchFilter="${searchFilter}"
                                                            th:data-clearUrl="${clearUrl}">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [end] Search Section-->
                <!-- Table content-->
                <div class="row clearfix">
                    <!-- Table Header -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${pageHeader}">Product</h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col"
                                                th:value="'Price (' + ${@environment.getProperty('application.currency')} + ')'">
                                                Price (AUD)
                                            </th>
                                            <th scope="col">Discount (%)</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${list.content}">
                                            <td scope="row" th:text="${item.id}">1</td>
                                            <td><a href="#" th:data-url="'/product/detail/' + ${item.id}" class="urlBtn"
                                                   th:text="${item.name}"></a></td>
                                            <td><a href="#" th:text="${item.price}"></a></td>
                                            <td><a href="#" th:text="${item.discount}"></a></td>
                                            <td>
                                                <p th:each="category: ${item.productCategories}">
                                            <span class="badge badge-info"
                                                  th:text="${category.name}"></span>
                                                </p>
                                            </td>
                                            <td>
                                                <span class="badge badge-info"
                                                      th:text="${status.get(item.status)}"></span>
                                            </td>
                                            <td>
                                                <a href="#" th:data-url="'/product/detail/' + ${item.id}"
                                                   class="btn btn-primary urlBtn">Detail</a>
                                                <a href="#" th:data-url="${checkoutUrl} + '/' + ${item.id}"
                                                   class="btn btn-primary urlBtn">Checkout</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="base/pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="base/footer"></div>
</body>
</html>